.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

div.b-content.b-text {
  margin-top: 210px;
  min-height: 97vh; }
  @media only screen and (max-width: 1240px) {
    div.b-content.b-text {
      margin-top: 70px; }
      div.b-content.b-text .u-clear-fix .b-side-bar {
        display: none !important; } }

#jquery-lightbox {
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  position: fixed !important; }
  #jquery-lightbox img#lightbox-image {
    max-height: 60vh;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  #jquery-lightbox #lightbox-nav {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important; }
    #jquery-lightbox #lightbox-nav > a {
      top: 50% !important; }

div.b-corpus-general {
  margin-top: 126px;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1240px) {
    div.b-corpus-general {
      margin-top: 70px; } }
  @media only screen and (max-width: 767px) {
    div.b-corpus-general {
      width: 100vw; } }
  div.b-corpus-general div.b-building-intro .b-wrapper {
    position: relative;
    top: 0px; }
  div.b-corpus-general div.b-building {
    height: 570px; }
    @media only screen and (max-width: 767px) {
      div.b-corpus-general div.b-building {
        height: 200px; } }
  div.b-corpus-general .b-building__lift ul {
    list-style-type: none; }

.span--message {
  position: relative;
  top: -11px; }

.button-close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  top: 90px;
  background: url("/img/choose/icon-cross.png") no-repeat center, white;
  background-size: 40%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: 100;
  border: none; }
  @media only screen and (max-width: 1240px) {
    .button-close {
      top: 13px; } }
  @media only screen and (max-width: 767px) {
    .button-close {
      top: 87px; } }
  .button-close:hover {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.page-is-house .b-building-intro {
  padding-top: 10px; }
  .page-is-house .b-building-intro .b-building .b-wrapper {
    pointer-events: none;
    z-index: 100; }
    .page-is-house .b-building-intro .b-building .b-wrapper h2 {
      pointer-events: all; }

@media only screen and (min-width: 1240px) and (min-height: 1327px) {
  .page-is-house .footer {
    position: fixed !important;
    bottom: 0 !important; } }

#simplemodal-overlay {
  z-index: 100030 !important; }

#simplemodal-container {
  z-index: 100030 !important;
  overflow: scroll;
  width: auto !important;
  height: auto !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: auto !important; }
  @media only screen and (max-width: 767px) {
    #simplemodal-container {
      -webkit-transform: translate(-50%, -50%) scale(0.7);
          -ms-transform: translate(-50%, -50%) scale(0.7);
              transform: translate(-50%, -50%) scale(0.7); } }

.set-routes-btn__icon img {
  height: 22px !important;
  width: auto !important; }
