.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (min-width: 1240px) {
  .desktop--hidden {
    display: none !important; } }

@media only screen and (min-width: 1240px) {
  .desktop--visible {
    display: block !important; } }

@media only screen and (max-width: 1240px) {
  .tablet--hidden {
    display: none !important; } }

@media only screen and (max-width: 1240px) {
  .tablet--visible {
    display: block !important; } }

@media only screen and (max-width: 767px) {
  .mobile--hidden {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .mobile--visible {
    display: block !important; } }

.color--green {
  color: #00E2AC !important; }

.noscroll {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.submenu--on {
  height: auto !important;
  margin-bottom: 0vh !important;
  display: block !important; }

.menu--mobile--on {
  visibility: visible !important;
  opacity: 1 !important; }

.hidden {
  display: none; }

@media only screen and (max-width: 767px) {
  .page--fullscreen .fullscreen-mobile--hidden {
    display: none !important; } }

.hamburger--active {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }
  .hamburger--active div:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(45deg);
        -ms-transform: translateY(13.5px) rotate(45deg);
            transform: translateY(13.5px) rotate(45deg); }
  .hamburger--active div:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px); }
  .hamburger--active div:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(-46deg);
        -ms-transform: translateY(-13.5px) rotate(-46deg);
            transform: translateY(-13.5px) rotate(-46deg); }

body.page--fullscreen footer.footer {
  position: fixed;
  bottom: -100%; }
  @media only screen and (max-width: 767px) {
    body.page--fullscreen footer.footer {
      bottom: 0 !important; } }

.sidebar--active {
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important; }

@media only screen and (max-width: 1240px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 435px, 0) !important;
            transform: translate3d(0, 435px, 0) !important; } }

@media only screen and (max-width: 767px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 735px, 0) !important;
            transform: translate3d(0, 735px, 0) !important; } }

.sidebar-choose th.sorting_desc {
  color: #333 !important; }

.flats .flat--unactive {
  background: #0E0E0E !important;
  font-size: 0px !important;
  cursor: auto; }
  .flats .flat--unactive:hover {
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important; }

.flats .flat--sold {
  background: #FF1900 !important; }
  .flats .flat--sold:hover {
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important; }

.flats .flat--forsale {
  background: #6DB300 !important; }

.flats .flat--view {
  background: #008ED4 !important; }

div.view-popup--visible {
  opacity: 1;
  visibility: visible; }

div.flats__popup--visible {
  visibility: visible;
  opacity: 1; }

.filter .sorting_desc:not(:last-child) {
  color: white !important; }
  .filter .sorting_desc:not(:last-child):after {
    -webkit-transform: rotate(180deg) !important;
        -ms-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
    opacity: 1 !important;
    top: 4px !important; }

.sidebar-filter.th--active {
  color: white !important; }
  .sidebar-filter.th--active:after {
    opacity: 1 !important; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.footer {
  background: #F0F0F0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  left: 0;
  z-index: 11000; }
  .footer__wrapper {
    background: white; }
    .footer__wrapper .container-1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer__wrapper .container-1__block {
        padding: 25px 0;
        -webkit-flex-basis: 48%;
            -ms-flex-preferred-size: 48%;
                flex-basis: 48%; }
        .footer__wrapper .container-1__block h1 {
          font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
          font-size: 26px;
          font-weight: 300;
          line-height: 24px;
          color: #4D4E4F;
          margin-top: 0; }
        .footer__wrapper .container-1__block h2 {
          font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
          font-size: 22px;
          font-weight: 300;
          line-height: 20px;
          color: #4D4E4F;
          margin-top: 0; }
        .footer__wrapper .container-1__block p {
          font-family: "Helvetica", Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
          color: #585858;
          margin-top: 15px; }
  .footer .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 130px; }
    .footer .container-2__block {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; }
      .footer .container-2__block__links {
        display: inline-block; }
    .footer .container-2__block:nth-of-type(1) {
      padding-top: 12px;
      padding-bottom: 12px;
      display: block; }
      .footer .container-2__block:nth-of-type(1) p {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: uppercase;
        margin-top: 10px; }
      .footer .container-2__block:nth-of-type(1) a {
        display: inline-block;
        margin-right: 15px; }
      .footer .container-2__block:nth-of-type(1) .footer__info {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        color: rgba(0, 144, 213, 0.8);
        text-decoration: none;
        margin-top: 8px; }
      .footer .container-2__block:nth-of-type(1) .footer__other {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        color: #FDAB36;
        text-decoration: none; }
        .footer .container-2__block:nth-of-type(1) .footer__other:before {
          content: url("/img/footer/icon-marker.png");
          position: relative;
          top: 5px;
          margin-right: 5px; }
      .footer .container-2__block:nth-of-type(1) .footer__feedback {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        color: #FDAB36;
        text-decoration: none; }
        .footer .container-2__block:nth-of-type(1) .footer__feedback:before {
          content: url("/img/footer/icon-video.png");
          position: relative;
          top: 1px;
          margin-right: 5px; }
    .footer .container-2__block:nth-of-type(2) > p {
      width: 270px;
      margin-right: 0;
      margin-left: auto; }
    .footer .container-2__block:nth-of-type(2) .footer__social {
      width: 190px;
      margin-right: 0;
      margin-left: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 2;
      position: relative;
      margin-top: 20px;
      margin-bottom: 10px; }
      .footer .container-2__block:nth-of-type(2) .footer__social a {
        width: 16px;
        height: 11px;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .container-2__block:nth-of-type(2) .footer__social a svg {
          fill: #36415C;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.facebook-icon {
            width: 14px; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.vk-icon {
            width: 17px; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.insta-icon {
            width: 14px; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.youtube-icon {
            width: 18px; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.linkedin-icon {
            width: 14px;
            left: 53%; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.telegram-icon {
            width: 14px; }
      .footer .container-2__block:nth-of-type(2) .footer__social a:nth-of-type(1) img {
        height: 135%;
        left: 4px;
        top: -3px; }
    .footer .container-2__block:nth-of-type(2) p {
      font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: #585858;
      text-align: right;
      margin-top: 10px; }
  @media only screen and (max-width: 1240px) {
    .footer .footer__text {
      display: none; }
    .footer .container-2 {
      width: 100%; }
      .footer .container-2__block:nth-of-type(1) {
        -webkit-flex-basis: 70%;
            -ms-flex-preferred-size: 70%;
                flex-basis: 70%; }
      .footer .container-2__block:nth-of-type(2) {
        -webkit-flex-basis: 30%;
            -ms-flex-preferred-size: 30%;
                flex-basis: 30%; } }
  @media only screen and (max-width: 667px) and (max-height: 375px) {
    .footer {
      height: 40vw !important; } }
  @media only screen and (max-width: 767px) {
    .footer {
      height: 80vw;
      z-index: 5000; }
      .footer .container-2 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
        -webkit-align-content: space-between;
            -ms-flex-line-pack: justify;
                align-content: space-between;
        padding: 0 0;
        text-align: center; }
        .footer .container-2__block {
          -webkit-flex-basis: 100% !important;
              -ms-flex-preferred-size: 100% !important;
                  flex-basis: 100% !important;
          height: 80%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-flow: column nowrap;
              -ms-flex-flow: column nowrap;
                  flex-flow: column nowrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          .footer .container-2__block p {
            text-align: center !important; }
        .footer .container-2__block:nth-of-type(1) {
          padding-top: 5vw; }
          .footer .container-2__block:nth-of-type(1) p {
            margin-top: 13vh; }
        .footer .container-2__block:nth-of-type(2) {
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%;
          height: 20%; }
          .footer .container-2__block:nth-of-type(2) p {
            margin-left: 0;
            margin-top: 0; }
      .footer__social {
        margin: 0 auto !important; }
      .footer__social {
        top: -340%; } }

.footer .footer__text {
  background: #FFFFFF;
  height: 390px; }
  .footer .footer__text .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding-top: 50px; }
    .footer .footer__text .container > div {
      -webkit-flex-basis: 47%;
          -ms-flex-preferred-size: 47%;
              flex-basis: 47%; }
      .footer .footer__text .container > div p {
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        color: #585858;
        margin-top: 20px; }
      .footer .footer__text .container > div h3 {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 0px;
        color: #585858; }
      .footer .footer__text .container > div h4 {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 0px;
        color: #585858; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.header {
  width: 100%;
  height: 126px;
  background: #060e23;
  position: fixed;
  z-index: 100005;
  top: 0;
  left: 0; }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px; }
    .header .container.desktop nav .nav__wrapper > ul > li:hover > * {
      opacity: 1;
      visibility: visible; }
    .header .container .logo-mobile {
      display: none; }
    .header .container nav {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      height: 100%;
      position: relative;
      z-index: 9999; }
      .header .container nav .nav-dropped ~ div, .header .container nav .nav-dropped ~ ul {
        opacity: 1 !important;
        visibility: visible !important; }
      .header .container nav .sub-menu--background {
        position: fixed;
        top: 126px;
        right: 0;
        height: 70px;
        width: 100%;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
        .header .container nav .sub-menu--background:before {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          background: rgba(6, 14, 35, 0.6); }
      .header .container nav .sub-menu--background {
        background: url("/img/header/nav-dark.jpg") no-repeat;
        background-size: 100% auto;
        background-position: center 6%; }
      .header .container nav .nav__wrapper {
        height: 100%;
        position: relative; }
        .header .container nav .nav__wrapper .ask-button input {
          width: 320px;
          min-width: 250px;
          max-width: 285px;
          height: 64px;
          background: transparent;
          border: 3px solid #00E2AC;
          font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 22px;
          color: #00E2AC;
          text-transform: uppercase;
          outline: none;
          display: none;
          -webkit-transition: all .3s ease;
          transition: all .3s ease;
          cursor: pointer; }
          .header .container nav .nav__wrapper .ask-button input:hover {
            background: #00E2AC;
            color: white; }
        .header .container nav .nav__wrapper > ul {
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .header .container nav .nav__wrapper > ul > li {
            height: 100%;
            list-style-type: none;
            margin: 0 14px;
            position: relative; }
            .header .container nav .nav__wrapper > ul > li:hover a {
              color: #00E2AC; }
            .header .container nav .nav__wrapper > ul > li > a {
              font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 700;
              line-height: 23px;
              color: #e6af2c;
              text-transform: uppercase;
              height: 100%;
              display: block;
              -webkit-transition: all .3s ease;
              transition: all .3s ease;
              text-decoration: none; }
              .header .container nav .nav__wrapper > ul > li > a:before {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: middle; }
            .header .container nav .nav__wrapper > ul > li .sub-menu {
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                      transform: translateX(-50%);
              margin: auto;
              width: auto;
              min-height: 60px;
              top: 126px;
              text-align: center;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              height: auto;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-flow: row nowrap;
                  -ms-flex-flow: row nowrap;
                      flex-flow: row nowrap;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding: 14px 0;
              opacity: 0;
              visibility: hidden;
              -webkit-transition: all .3s ease;
              transition: all .3s ease;
              white-space: nowrap;
              z-index: 1000; }
              .header .container nav .nav__wrapper > ul > li .sub-menu:before {
                content: "";
                display: block;
                position: absolute;
                border: 8px solid transparent;
                border-bottom-color: #00E2AC;
                top: -16px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                -webkit-transition: all .4s ease;
                transition: all .4s ease; }
              .header .container nav .nav__wrapper > ul > li .sub-menu li {
                list-style-type: none;
                display: inline-block;
                margin: 0 10px; }
                .header .container nav .nav__wrapper > ul > li .sub-menu li a {
                  font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 40px;
                  color: white;
                  display: block;
                  text-align: center;
                  text-transform: uppercase;
                  -webkit-transition: color .3s ease;
                  transition: color .3s ease;
                  text-decoration: none; }
                  .header .container nav .nav__wrapper > ul > li .sub-menu li a:hover {
                    color: #00E2AC; }
          .header .container nav .nav__wrapper > ul > li:nth-of-type(1) .sub-menu {
            -webkit-transform: translateX(-7.8%);
                -ms-transform: translateX(-7.8%);
                    transform: translateX(-7.8%);
            -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
            white-space: nowrap; }
            .header .container nav .nav__wrapper > ul > li:nth-of-type(1) .sub-menu:before {
              left: 8%; }
    .header .container > a:nth-of-type(1) {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .header .container .logo-mobile {
      position: relative; }
      .header .container .logo-mobile img {
        width: 100%; }
    .header .container .hamburger {
      width: 35px;
      height: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      display: none;
      cursor: pointer; }
      .header .container .hamburger div {
        width: 100%;
        height: 3px;
        background: white;
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
      .header .container .hamburger div:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .header .container .hamburger div:nth-of-type(3) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    .header .container nav + div {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      width: auto;
      float: right; }
      .header .container nav + div small {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #e6af2c;
        display: block;
        text-align: right; }
      .header .container nav + div a:not(.header__social__ask) {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 33px;
        font-weight: 300;
        line-height: 47px;
        color: white;
        text-decoration: none; }
      .header .container nav + div .header__social {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 2;
        position: relative; }
        .header .container nav + div .header__social .header__social__ask {
          text-decoration: none; }
          .header .container nav + div .header__social .header__social__ask i {
            font-style: normal;
            font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 300;
            line-height: 20px;
            color: #00E2AC;
            text-transform: uppercase; }
        .header .container nav + div .header__social a:not(.header__social__ask) {
          width: 16px;
          height: 11px;
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .header .container nav + div .header__social a:not(.header__social__ask) svg {
            fill: #2C3E5C;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%); }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.facebook-icon {
              width: 14px; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.vk-icon {
              width: 17px; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.insta-icon {
              width: 14px; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.youtube-icon {
              width: 18px; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.linkedin-icon {
              width: 14px;
              left: 53%; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.telegram-icon {
              width: 14px; }
        .header .container nav + div .header__social a:nth-of-type(1) img {
          height: 135%;
          left: 4px;
          top: -3px; }
    .header .container .call {
      display: none; }

.nav--light .sub-menu--background {
  background: none !important; }

@media only screen and (max-width: 1240px) {
  .logo-mobile {
    display: block !important; }
  .logo-desktop {
    display: none; }
  header.header {
    height: 70px; }
    header.header .sub-menu--background {
      display: none !important; }
    header.header .container {
      width: 100%; }
      header.header .container .logo-mobile img {
        width: auto;
        height: 50px; }
      header.header .container .hamburger {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3;
        z-index: 999;
        position: relative; }
      header.header .container nav + div {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        position: absolute;
        right: 80px; }
        header.header .container nav + div a {
          font-weight: 400;
          font-size: 22px; }
        header.header .container nav + div *:not([href^="tel"]) {
          display: none; }
      header.header .container nav {
        position: fixed !important;
        min-height: 100vh;
        width: 100% !important;
        bottom: 0;
        left: 0;
        background: #060E23;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        z-index: 99; }
        header.header .container nav .nav__wrapper {
          min-height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row wrap;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          header.header .container nav .nav__wrapper .ask-button {
            text-decoration: none; }
            header.header .container nav .nav__wrapper .ask-button input {
              display: block;
              -webkit-align-self: flex-end;
                  -ms-flex-item-align: end;
                      align-self: flex-end;
              position: relative;
              margin-bottom: 18px; }
          header.header .container nav .nav__wrapper > ul {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column nowrap;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            height: auto;
            -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                    flex-basis: 100%;
            margin-top: 25vh;
            margin-bottom: 86px; }
            header.header .container nav .nav__wrapper > ul > li {
              display: block;
              height: auto;
              position: relative;
              z-index: 999;
              text-align: center;
              margin-top: 5px; }
              header.header .container nav .nav__wrapper > ul > li > a {
                height: 38px;
                line-height: 40px !important; }
              header.header .container nav .nav__wrapper > ul > li .sub-menu {
                padding: 0 0;
                position: relative;
                height: 0;
                overflow: hidden;
                min-width: 215px;
                background: rgba(6, 14, 35, 0.7);
                -webkit-transition: all .4s ease;
                transition: all .4s ease;
                z-index: 9999;
                top: 0;
                opacity: 1;
                visibility: visible;
                display: none;
                height: 0;
                padding: 0 0 !important;
                -webkit-transform: translateX(-50%) !important;
                    -ms-transform: translateX(-50%) !important;
                        transform: translateX(-50%) !important; }
                header.header .container nav .nav__wrapper > ul > li .sub-menu:before {
                  content: "";
                  display: none; }
                header.header .container nav .nav__wrapper > ul > li .sub-menu li {
                  list-style-type: none;
                  display: block; }
                  header.header .container nav .nav__wrapper > ul > li .sub-menu li a {
                    font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 40px;
                    color: white;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    -webkit-transition: color .3s ease;
                    transition: color .3s ease;
                    text-decoration: none; }
                    header.header .container nav .nav__wrapper > ul > li .sub-menu li a:hover {
                      color: #00E2AC; }
              header.header .container nav .nav__wrapper > ul > li a {
                font-size: 20px;
                line-height: 38px; } }

@media only screen and (max-width: 767px) {
  .mobile--hidden {
    display: none !important; }
  #header.header .sub-menu--background {
    display: none; }
  #header.header .container > a {
    -webkit-box-ordinal-group: 4 !important;
    -webkit-order: 3 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important; }
  #header.header .container .hamburger {
    -webkit-box-ordinal-group: 2 !important;
    -webkit-order: 1 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important; }
  #header.header .container .logo-mobile img {
    width: auto;
    height: 8vw; }
  #header.header .container nav + div {
    display: none; }
  #header.header .container .call {
    display: block; } }

.action {
  width: 300px;
  height: 370px;
  position: relative; }
  .action h3 {
    font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 23px;
    color: #e6af2c;
    text-transform: uppercase; }
  .action .owl-carousel {
    width: 100%;
    overflow: hidden; }
    .action .owl-carousel .owl-item {
      padding-left: 2px; }
    .action .owl-carousel .item a {
      color: white;
      text-decoration: none; }
    .action .owl-carousel .item p {
      font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      color: white;
      text-transform: uppercase;
      padding: 30px 0px 30px 0;
      width: 95%; }
    .action .owl-carousel .owl-prev {
      background: url("/img/home/arrow-left.png") no-repeat center;
      background-size: 6px 10px;
      position: absolute;
      top: 0;
      right: 40px; }
      .action .owl-carousel .owl-prev:hover {
        background: url("/img/home/arrow-left.png") no-repeat center; }
    .action .owl-carousel .owl-next {
      background: url("/img/home/arrow-right.png") no-repeat center;
      background-size: 6px 10px;
      position: absolute;
      top: 0;
      right: 0px; }
      .action .owl-carousel .owl-next:hover {
        background: url("/img/home/arrow-right.png") no-repeat center; }
  .action__img {
    width: 100%;
    height: 220px;
    background: url("/img/tradein/action-bg.jpg") no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: 0; }
    .action__img + a {
      width: 250px;
      height: 60px;
      display: block;
      background: #c02d2b;
      font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 64px;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      position: absolute;
      left: 50%;
      bottom: -30px;
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0);
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .action__img + a:hover {
        background: red; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.loader {
  width: 100%;
  height: -webkit-calc(100% - 126px);
  height: calc(100% - 126px);
  position: fixed;
  top: 126px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .loader--active {
    visibility: visible;
    opacity: 1; }
  .loader .loader--small {
    display: none; }
  @media only screen and (max-width: 1240px) {
    .loader {
      height: -webkit-calc(100% - 70px);
      height: calc(100% - 70px);
      top: 70px; } }
  @media only screen and (max-width: 767px) {
    .loader .loader--big {
      display: none; }
    .loader .loader--small {
      display: block; } }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.page-under {
  width: 100vw;
  height: 45vh;
  background: url("/img/home/content-under-bg.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 70px;
  left: 0;
  display: none; }
  @media only screen and (max-width: 767px) {
    .page-under {
      display: block; } }
  .page-under .action-under {
    width: 272px;
    height: 123px;
    background: rgba(6, 14, 35, 0.7);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: absolute;
    top: 170px;
    right: 45px;
    z-index: 0;
    padding-left: 20px;
    visibility: hidden; }
    @media only screen and (max-width: 667px) and (max-height: 375px) {
      .page-under .action-under {
        display: none !important; } }
    .page-under .action-under h3 {
      font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #e6af2c;
      text-transform: uppercase;
      z-index: 999;
      position: absolute;
      top: 22px; }
    .page-under .action-under .owl-carousel-under {
      height: 123px;
      padding-top: 30px; }
      .page-under .action-under .owl-carousel-under .owl-stage-outer {
        width: 99%;
        overflow: hidden; }
      .page-under .action-under .owl-carousel-under .owl-stage {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; }
      .page-under .action-under .owl-carousel-under .owl-nav {
        position: absolute;
        top: 22px;
        right: 20px;
        width: 60px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        z-index: 100; }
        .page-under .action-under .owl-carousel-under .owl-nav > div {
          background: red;
          margin: 0 0;
          width: 15px;
          height: 15px;
          z-index: 100; }
        .page-under .action-under .owl-carousel-under .owl-nav .owl-prev {
          background: url("/img/home/arrow-left.png") no-repeat center;
          background-size: 6px 10px; }
        .page-under .action-under .owl-carousel-under .owl-nav .owl-next {
          background: url("/img/home/arrow-right.png") no-repeat center;
          background-size: 6px 10px; }
      .page-under .action-under .owl-carousel-under .item {
        width: 100%;
        margin: 0 0;
        margin-top: 15px; }
      .page-under .action-under .owl-carousel-under .item a {
        color: white;
        text-decoration: none; }
      .page-under .action-under .owl-carousel-under .item p {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        color: white;
        text-transform: uppercase; }
  @media only screen and (max-width: 767px) {
    .page-under .action-under {
      top: 35px;
      right: auto;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 1;
      top: 100px !important;
      position: fixed;
      display: block;
      visibility: visible; } }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (min-width: 1240px) {
  .more-works-slide--active {
    overflow: hidden; } }

@media only screen and (max-width: 1240px) {
  .more-works-slide--active {
    overflow-x: hidden; } }

.fancybox-container--active {
  z-index: 10000000 !important; }
  .fancybox-container--active .fancybox-bg {
    background: #00051E;
    opacity: .8; }
    @media only screen and (max-width: 1240px) {
      .fancybox-container--active .fancybox-bg {
        opacity: 1; } }

.more-works {
  width: 50vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: transparent;
  overflow: visible; }
  @media only screen and (max-width: 767px) {
    .more-works {
      margin: 0 0; } }
  .more-works--active {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  @media only screen and (max-width: 1240px) {
    .more-works {
      width: 80vw;
      height: auto;
      margin-top: 0;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      top: 85px; } }
  @media only screen and (max-width: 767px) {
    .more-works {
      width: 100vw; } }
  .more-works h3 {
    font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: -60px; }
    @media only screen and (min-width: 1240px) {
      .more-works h3 {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .more-works h3 {
        left: 15px; } }
  .more-works__close {
    width: 50px;
    height: 50px;
    background: url(/img/common/icon-cross-white.png) no-repeat center;
    position: absolute;
    top: -13px;
    right: -65px;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .more-works__close {
        top: -62px;
        right: 6px; } }
    @media only screen and (max-width: 1240px) {
      .more-works__close {
        background: url(/img/common/icon-close.png) no-repeat center;
        top: -67px; } }
  .more-works__work {
    height: 30.3%;
    -webkit-flex-basis: 48.5%;
        -ms-flex-preferred-size: 48.5%;
            flex-basis: 48.5%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .more-works__work a {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      width: 100%;
      text-decoration: none; }
    .more-works__work:nth-child(odd) {
      margin-right: 3%; }
    @media only screen and (max-width: 1240px) {
      .more-works__work {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        height: 26vw;
        margin-right: 0 !important;
        margin-bottom: 10px; }
        .more-works__work:last-of-type {
          margin-bottom: 0; } }
    @media only screen and (max-width: 767px) {
      .more-works__work {
        height: 55vw; } }
    .more-works__work__image {
      height: 100%;
      -webkit-flex-basis: 49%;
          -ms-flex-preferred-size: 49%;
              flex-basis: 49%; }
    .more-works__work__content {
      height: 100%;
      -webkit-flex-basis: 51%;
          -ms-flex-preferred-size: 51%;
              flex-basis: 51%;
      background: white;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 4% 3% 0; }
      @media only screen and (max-width: 667px) and (max-height: 375px) {
        .more-works__work__content {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding-top: 0;
          padding-bottom: 0; } }
      .more-works__work__content h4 {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 23px;
        color: black;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        margin: 20px 0 10px 0; }
      .more-works__work__content p {
        font-family: "Myriad Pro", Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        color: #7d7d7d;
        text-align: center;
        text-decoration: none; }

.header nav .menu--active {
  color: #00e2ac !important; }
