@import "../utilities/index";
@import "../states/index";
@import "../fonts/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px
}

* {
  margin: 0 0;
  padding: 0 0;
  outline: none;
  border: none;
}