@import "utilities/index";
@import "states/index";
@import "media/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  line-height: 62.5%;
  height: 100%;
  @include media (md) {
    overflow: hidden;
  }
  @include media(sm) {
    overflow-x: scroll;
  }
  @include media(xs) {
    min-width: 100vw !important;
    width: 100vw;
    overflow: hidden !important;
  }
}

body {
  min-width: 1440px;
  height: 100%;
  @include media (md) {
    overflow: hidden;
  }
  @include media(sm) {
    overflow-x: scroll;
  }
  @include media(xs) {
    min-width: 100vw !important;
    width: 100vw;
    overflow-y: hidden !important;
  }
}

.header {
  position: fixed;
}

.choose-content {
  position: relative;
  height: calc(100vh - 126px);
  width: 100vw;
  overflow: hidden;
  top: 126px;
  transition: all .4s ease;
  z-index: 5100;
  &__fitblock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:before {
      content: url(/img/choose/content-bg-metro.png);
      position: absolute;
      bottom: 12%;
      left: 10%;
      z-index: 100;
    }
    &__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      visibility: hidden;
      .fitblock__pusher {
        display: block;
        pointer-events: none;
        background-size: cover;
        object-fit: cover;
      }
    }
  }
}

.modal {
  height: calc(100vh - 126px) !important;
  top: 126px !important;
  z-index: 100500;
}

.modal-1-on, .modal-2-on, .modal-3-on, .modal-4-on, .modal-5-on, .modal-6-on {
  z-index: 100500 !important;
}


.pin{
  display: block;
	position: absolute;
	margin-left: -15px;
	margin-top: -15px;
  z-index: 105;
  transition: transform .3s ease;
  &:hover {
    transform: translateY(-10px) scale(1.1);
  }
}

div.pin_korpus {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  background: #078267;
  border: 4px solid #00E6B1;
  border-radius: 50px;
  @include text (16px,$f,400,white,40px);
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

div.pin_tower {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  background: #078267;
  border: 4px solid #00E6B1;
  border-radius: 50px;
  @include text (16px,$f,400,white,40px);
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}


div.pin_360 {
  width: 44px;
  height: 42px;
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  background: url('/img/choose/icons-sprite.png') no-repeat;
  background-position: -0px -60px;
  border-radius: 50px;
}

div.pin_rent {
  width: 61px;
  height: 60px;
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  background: url('/img/choose/icons-sprite.png') no-repeat;
  background-position: 0px 0px;
  border-radius: 50px;
}

div.pin_sky {
  width: 44px;
  height: 42px;
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  background: url('/img/choose/icons-sprite.png') no-repeat;
  background-position: -0px -102px;
  border-right: 50px;
}

div.pin_object {
  height: 40px;
  width: auto;
  background: #E6B027;
  border: 4px solid #F3CC69;
  border-radius: 50px;
  position: absolute;
  padding-top: -15px;
  margin-left: -15px;
  @include text (12px,'Trebuchet MS',400,white,40px);
  text-transform: uppercase;
  padding: 0 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.close-modal {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 50px;
  top: 110px;
  background: url('/img/choose/icon-cross.png') no-repeat center, white;
  background-size: 40%;
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
  box-shadow: 0 0px 12px 0px rgba(255,255,255,1);
  transition: all .3s ease-in;
  &:hover {
    transform: rotate(90deg);
  }
  @include media (sm) {
    top: 40px;
  }
}

.modal-content {
  height: 100%;
}

.sidebar-trigger {
  display: block;
   position: absolute;
   height: calc(100vh - 126px);
   top: 50%;
   transform: translateY(-50%);
   width: 5.5vh;
   min-width: 50px;
   right: -5.5vh;
   background: url('/img/choose/filter-trigger.svg') no-repeat center;
   background-size: cover;
   cursor: pointer;
   z-index: 99;
   transition: all .3s ease;
}

.sidebar {
  background: #F0F0F0;
  transition: all .3s ease;
  width: 480px;
  height: calc(100vh - 126px);
  position: fixed;
  transform: translateX(-480px);
  left: 0;
  bottom: 0;
  padding-right: 3px;
  padding-top: 30px;
  z-index: 100030;
  .sidebar__wrapper {
    height: 100%;
    width: 100%;
  }
  &__slider-1 {
    height: 120px;
    padding: 0 17px;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        @include text (16px,$f,700,#333,40px);
      }
      input {
        width: 96px;
        height: 26px;
        background: rgba(6,14,35,.1);
        border-radius: 2px;
        border: none;
        @include text (16px,$f,700,#333,1);
        padding: 0 10px;
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
      }
    }
    #slider-1 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 10px;
      margin-bottom: 7px;
      background: #9EDEF2;
      div {
        background: #008ED4;
        user-select: none;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
        user-select: none;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      left: 3px;
      background: url('/img/choose/measure-1-2.png') no-repeat 47% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,rgba(0,0,0,.7),40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: -2px;
      }
      small:nth-of-type(2) {
        left: 3px;
      }
      small:nth-of-type(3) {
        left: 5px;
      }
      small:nth-of-type(4) {
        left: 3px;
      }
      small:nth-of-type(5) {
        right: 0px;
      }
    }
  }

  &__slider-2 {
    height: 135px;
    padding: 0 17px;
    background: white;
    padding-top: 25px;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        @include text (16px,$f,700,#333,16px);
        text-align: center;
      }
      input {
        width: 96px;
        height: 26px;
        background: rgba(6,14,35,.1);
        border-radius: 2px;
        border: none;
        @include text (16px,$f,700,#333,1);
        padding: 0 10px;
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
      }
    }
    #slider-2 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 10px;
      margin-bottom: 7px;
      background: #9EDEF2;
      div {
        background: #008ED4;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      right: 1px;
      background: url('/img/choose/measure-1-2.png') no-repeat 58% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,rgba(0,0,0,.7),40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: 20px;
      }
      small:nth-of-type(2) {
        left: 24px;
      }
      small:nth-of-type(3) {
        left: 19px;
      }
      small:nth-of-type(4) {
        left: 9px;
      }
      small:nth-of-type(5) {
        right: 3px;
      }
    }
  }

  &__floor {
    height: 46px;
    margin-top: 7px;
    padding-left: 40px;
    & > p {
      float: left;
    }
    p {
      @include text (16px,$f,700,rgba(0,0,0,.7),40px);
    }
    &__inputs {
      float: right;
      width: 200px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding-right: 47px;
      input {
        width: 42px;
        height: 26px;
        border-radius: 2px;
        background: rgba(6,14,35,.1);
        @include text (14px,$f,700,#333,1);
        text-align: center;
        border: none;
      }
    }
  }

  &__room {
    background: white;
    height: 46px;
    padding-left: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    p {
      @include text (14px,$f,700,#333,46px);
    }
    &__check {
      position: relative;
      height: 100%;
      display: flex;
      width: 170px;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-right: 45px;
      input {
        display: none;
      }
      label {
        @include text (14px,$f,#333,700,25px);
        text-align: center;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 3px solid #D8DADC;
        cursor: pointer;
        transition: all .2s ease;
        user-select: none;
      }
      input:checked + label {
        border-color: #00B8F4;
        background: #0091D8;
        color: white;
      }
    }
  }

  &__slider-3 {
    height: 135px;
    padding: 0 17px;
    background: #F0F0F0;
    padding-top: 25px;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        @include text (16px,$f,700,#333,16px);
        text-align: center;
      }
      input {
        width: 96px;
        height: 26px;
        background: rgba(6,14,35,.1);
        border-radius: 2px;
        border: none;
        padding: 0 10px;
        @include text (16px,$f,700,#333,1);
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
      }
    }
    #slider-3 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 10px;
      margin-bottom: 7px;
      background: #9EDEF2;
      div {
        background: #008ED4;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      right: 1px;
      background: url('/img/choose/measure-1-2.png') no-repeat 58% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,rgba(0,0,0,.7),40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: 16px;
      }
      small:nth-of-type(2) {
        left: 12px;
      }
      small:nth-of-type(3) {
        left: 8px;
      }
      small:nth-of-type(4) {
        left: 0px;
      }
      small:nth-of-type(5) {
        right: 10px;
      }
    }
  }

  &__option {
    height: 46px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: white;
    align-items: center;
    // padding-right: 60px;
    label {
      @include text (14px,$f,700,#333,14px);
      display: block;
      position: relative;
      cursor: pointer;
      transition: all .2s ease;
      user-select: none;
      padding-right: 55px;
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        border: 3px solid #D8DADC;
        border-radius: 50px;
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease;
      }
      &:before {
        content: '';
        display: block;
        border-radius: 550px;
        border: 8px solid white;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease;
      }
    }
    input:not(:last-of-type):checked + label:before {
      border-color: #0091D8;
    }
    input:last-of-type:checked + label {
      color: #F8B00A;
      &:after {
        border-color: #FFE6A6;
      }
      &:before {
        border-color: #F8B00A;
      }
    }
    input {
      visibility: hidden;
    }
  }

  &__result {
    border: 1px solid #F8B00A;
    margin-left: 10px;
    margin-top: 40px;
    position: relative;
    padding: 20px 20px 0 20px;
    margin-bottom: 10px;
    min-height: 270px;
    width: 97%;
    .loader-genplan {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      left: 0;
      top: 0;
      transition: all .3s ease;
      visibility: hidden;
      opacity: 0;
      &--active {
        visibility: visible;
        opacity: 1;
      }
    }
    .sidebar__result__found {
      @include text (17px,$f,400,#333,39px);
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -20px;
      padding: 0 10px;
      background: #F0F0F0;
      z-index: 99;
    }
    & > a {
      text-decoration: none;
    }
    input {
      width: 100%;
      height: 42px;
      @include text (17px,$f,400,#333,1);
      border: none;
      border-top: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      background: transparent;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      margin-top: 20px;
      cursor: pointer;
      text-decoration: none;
      outline: none;
      transition: all .3s ease;
      &:hover {
        background: #008ED4;
        color: white;
      }
    }
    &__wrapper {
      overflow: hidden;
      // height: 86.5%;
      width: 100%;
      .sidebar__result__info-1 {
        height: 45px;
        width: 105px;
        background: url(/img/choose/korpus-mask.png) no-repeat 104% 74%, #008ED4;
        background-size: 22px 114%;
        position: relative;
        @include text (16px,$f,400,white,45px);
        padding-left: 10px;
        float: left;
      }
      .sidebar__result__info-2 {
        height: 45px;
        width: 105px;
        position: relative;
        left: -11px;
        @include text (16px,$f,400,white,45px);
        padding-left: 18px;
        float: left;
        z-index: 2;
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: -1px;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: #D80000;
          transform: skewX(-20deg);
          z-index: -1;
        }
      }
      .sidebar__result__info-2 + p {
        @include text (16px,$f,400,#333,45px);
        float: right;
        // margin-right: 20px;
      }
      .table-wrapper {
        height: auto;
        width: 100%;
        overflow: hidden;
        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          thead {
            tr {
              height: 50px;
              background: #C9CACE;
              th {
                @include text (14px,$f,400,#9B9C9F,45px);
                cursor: pointer;
              }
            }
          }
          tbody tr{
            @include text (15px,$f,400,#333,45px);
            text-align: center;
          }
        }
        .show-more{
          @include text (18px,$f,400,#333,18px);
          display: block;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 20px;
          transition: all .2s ease;
          cursor: pointer;
          text-decoration: none;
          &:hover {
            color: #008ED4;
          }
        }
      }
      
    }
  }
}

.select-params {
  width: 316px;
  height: 60px;
  display: none;
  background: #1791d3;
  position: fixed;
  bottom: 50px;
  left: 50px;
  @include text (20px,$f,700,white,60px);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  z-index: 5202;
}


div#container { height: 100%; min-height: 100%; width: 100%; margin: 0 auto; }
div#tourDIV {
  height:100%;
  position:relative;
  overflow:hidden;
}
div#panoDIV {
  height:100%;
  position:relative;
  overflow:hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div#panoDIV.cursorMoveMode {
  cursor: move;
  cursor: url(/indexdata/graphics/cursors_move_html5.cur), move;
}
div#panoDIV.cursorDragMode {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: url(/indexdata/graphics/cursors_drag_html5.cur), default;
}


.fitness {
  position: absolute;
  height: calc(100vh - 126px) !important;
  min-width: $sm;
  width: 100vw;
  left: 0;
  top: 126px !important;
  background: #ccc;
  opacity: 0;
  &.zoomIn {
    z-index: 100500 !important;
  }
  &--close {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 24%;
    background: url('/img/choose/icon-cross.png') no-repeat center, white;
    background-size: 40%;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    transition: all .3s ease-in;
    &:hover {
      transform: rotate(90deg);
    }
  }
  &__upper {
    height: 35%;
    width: 100%;
    background: #151E2E;
    &__container {
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 0 25px;
      position: relative;
      & > div {
        flex-basis: 50%;
      }
      & > div:first-of-type {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        img {
          margin-right: 50px;
        }
        h2 {
          @include text (35px,'Myriad Pro',400,white,43px);
          text-transform: uppercase;
        }
      }
      & > div:nth-of-type(2) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        p {
          @include text (16px,$f,300,white,25px);
          text-transform: uppercase;
          margin-bottom: 20px;
          text-align: left;
        }
        ul {
          padding-left: 18px;
          li {
            list-style-position: outside;
            @include text (16px,$f,300,white,25px);
          }
        }
      }
    }
  }
  &__down {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
    height: 65%;
    width: 100%;
    & > div {
      position: relative;
      overflow: hidden;
      p {
        @include text (19px,$f,400,white,22px);
        text-transform: uppercase;
        position: absolute;
        bottom: 40px;
        left: 30px;
      }
    }
    & > div:nth-of-type(1) {
      flex-basis: 100%;
      width: 50%;
      &:hover:before {
        transform: scale(1.1);
      }
      &:before {
        content: '';
        transition: all .7s ease-out;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('/img/choose/fitness-bg-1.jpg') no-repeat center;
        background-size: cover;
      }
    }
    & > div:nth-of-type(2) {
      flex-basis: 100%;
      width: 50%;
      display: flex;
      flex-flow: column wrap;
      & > div:nth-of-type(1) {
        flex-basis: 100%;
        width: 50%;
        position: relative;
        overflow: hidden;
        &:hover:before {
          transform: scale(1.1);
        }
        &:before {
          content: '';
          transition: all .7s ease-out;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: url('/img/choose/fitness-bg-2.jpg') no-repeat center;
          background-size: cover;
        }
      }
      & > div:nth-of-type(2) {
        flex-basis: 50%;
        width: 50%;
        position: relative;
        overflow: hidden;
        &:hover:before {
          transform: scale(1.1);
        }
        &:before {
          content: '';
          transition: all .7s ease-out;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: url('/img/choose/fitness-bg-3.jpg') no-repeat center;
          background-size: cover;
        }
      }
      & > div:nth-of-type(3) {
        flex-basis: 50%;
        width: 50%;
        position: relative;
        overflow: hidden;
        &:hover:before {
          transform: scale(1.1);
        }
        &:before {
          content: '';
          transition: all .7s ease-out;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: url('/img/choose/fitness-bg-4.jpg') no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}

.has-action {
  td {
    color: #F8B00A;
  }
}