@import "utilities/index";
@import "states/index";
@import "media/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  line-height: 62.5%;
  height: 100%;
  overflow-x: hidden;
  @include media (sm) {
    overflow-x: visible;
  }
  @include media (xs) {
    overflow-x: hidden !important;
  }
}

body {
  height: 100%;
  overflow-x: hidden;
  @include media (sm) {
    overflow-x: visible;
  }
  @include media (xs) {
    overflow-x: hidden !important;
  }
}

.sidebar-trigger {
  display: block;
   position: fixed;
   height: calc(100vh - 126px);
   bottom: 0;
   margin: auto;
   transform: translateX(0);
   width: 50px;
   left: 0;
   background: url('/img/choose/filter-trigger.png') no-repeat center;
   background-size: cover;
   cursor: pointer;
   z-index: 99;
   transition: all .3s ease;
}

.sidebar {
  background: #F0F0F0;
  transition: all .3s ease;
  width: 460px;
  height: calc(100vh - 126px);
  position: fixed;
  transform: translateX(-460px);
  left: 0;
  bottom: 0;
  padding-right: 3px;
  padding-top: 30px;
  z-index: 6000;
  &__slider-1 {
    height: 120px;
    padding: 0 17px;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        @include text (16px,$f,700,#333,40px);
      }
      input {
        width: 96px;
        height: 26px;
        background: rgba(6,14,35,.1);
        border-radius: 2px;
        border: none;
        @include text (16px,$f,700,#333,1);
        padding: 0 10px;
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
      }
    }
    #slider-1 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 10px;
      margin-bottom: 7px;
      background: #9EDEF2;
      div {
        background: #008ED4;
        user-select: none;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
        user-select: none;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      left: 3px;
      background: url('/img/choose/measure-1-2.png') no-repeat 47% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,rgba(0,0,0,.7),40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: -2px;
      }
      small:nth-of-type(2) {
        left: 3px;
      }
      small:nth-of-type(3) {
        left: 5px;
      }
      small:nth-of-type(4) {
        left: 3px;
      }
      small:nth-of-type(5) {
        right: 0px;
      }
    }
  }

  &__slider-2 {
    height: 135px;
    padding: 0 17px;
    background: white;
    padding-top: 25px;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        @include text (16px,$f,700,#333,16px);
        text-align: center;
      }
      input {
        width: 96px;
        height: 26px;
        background: rgba(6,14,35,.1);
        border-radius: 2px;
        border: none;
        @include text (16px,$f,700,#333,1);
        padding: 0 10px;
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
      }
    }
    #slider-2 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 10px;
      margin-bottom: 7px;
      background: #9EDEF2;
      div {
        background: #008ED4;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      right: 1px;
      background: url('/img/choose/measure-1-2.png') no-repeat 58% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,rgba(0,0,0,.7),40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: 20px;
      }
      small:nth-of-type(2) {
        left: 24px;
      }
      small:nth-of-type(3) {
        left: 19px;
      }
      small:nth-of-type(4) {
        left: 9px;
      }
      small:nth-of-type(5) {
        right: 3px;
      }
    }
  }

  &__floor {
    height: 46px;
    margin-top: 7px;
    padding-left: 40px;
    & > p {
      float: left;
    }
    p {
      @include text (16px,$f,700,rgba(0,0,0,.7),40px);
    }
    &__inputs {
      float: right;
      width: 200px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding-right: 47px;
      input {
        width: 42px;
        height: 26px;
        border-radius: 2px;
        background: rgba(6,14,35,.1);
        @include text (14px,$f,700,#333,1);
        text-align: center;
        border: none;
      }
    }
  }

  &__room {
    background: white;
    height: 46px;
    padding-left: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    p {
      @include text (14px,$f,700,#333,46px);
    }
    &__check {
      position: relative;
      height: 100%;
      display: flex;
      width: 170px;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-right: 45px;
      input {
        display: none;
      }
      label {
        @include text (14px,$f,#333,700,25px);
        text-align: center;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 3px solid #D8DADC;
        cursor: pointer;
        transition: all .2s ease;
        user-select: none;
      }
      input:checked + label {
        border-color: #00B8F4;
        background: #0091D8;
        color: white;
      }
    }
  }

  &__slider-3 {
    height: 135px;
    padding: 0 17px;
    background: #F0F0F0;
    padding-top: 25px;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        @include text (16px,$f,700,#333,16px);
        text-align: center;
      }
      input {
        width: 96px;
        height: 26px;
        background: rgba(6,14,35,.1);
        border-radius: 2px;
        border: none;
        padding: 0 10px;
        @include text (16px,$f,700,#333,1);
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
      }
    }
    #slider-3 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 10px;
      margin-bottom: 7px;
      background: #9EDEF2;
      div {
        background: #008ED4;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      right: 1px;
      background: url('/img/choose/measure-1-2.png') no-repeat 58% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,rgba(0,0,0,.7),40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: 16px;
      }
      small:nth-of-type(2) {
        left: 12px;
      }
      small:nth-of-type(3) {
        left: 8px;
      }
      small:nth-of-type(4) {
        left: 0px;
      }
      small:nth-of-type(5) {
        right: 10px;
      }
    }
  }

  &__option {
    height: 46px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: white;
    align-items: center;
    // padding-right: 60px;
    label {
      @include text (14px,$f,700,#333,14px);
      display: block;
      position: relative;
      cursor: pointer;
      transition: all .2s ease;
      user-select: none;
      padding-right: 55px;
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        border: 3px solid #D8DADC;
        border-radius: 50px;
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease;
      }
      &:before {
        content: '';
        display: block;
        border-radius: 550px;
        border: 8px solid white;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease;
      }
    }
    input:not(:last-of-type):checked + label:before {
      border-color: #0091D8;
    }
    input:last-of-type:checked + label {
      color: #F8B00A;
      &:after {
        border-color: #FFE6A6;
      }
      &:before {
        border-color: #F8B00A;
      }
    }
    input {
      visibility: hidden;
    }
  }

  &__result {
    border: 1px solid #F8B00A;
    margin-left: 10px;
    margin-top: 40px;
    position: relative;
    padding: 20px 20px 0 20px;
    margin-bottom: 10px;
    height: 290px;
    p:first-child {
      @include text (17px,$f,400,#333,39px);
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -20px;
      padding: 0 10px;
      background: #F0F0F0;
      z-index: 99;
    }
    input {
      width: 100%;
      height: 42px;
      @include text (17px,$f,400,#333,1);
      border: none;
      border-top: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      background: transparent;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      margin-top: 20px;
      cursor: pointer;
      outline: none;
      transition: all .3s ease;
      &:hover {
        background: #008ED4;
        color: white;
      }
    }
    &__info-1 {
      height: 45px;
      width: 105px;
      background: #008ED4;
      position: relative;
      @include text (16px,$f,400,white,45px);
      padding-left: 10px;
      float: left;
    }
    &__info-2 {
      height: 45px;
      width: 105px;
      position: relative;
      left: -9px;
      @include text (16px,$f,400,white,45px);
      padding-left: 18px;
      float: left;
      z-index: 2;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: -1px;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #D80000;
        transform: skewX(-20deg);
        z-index: -1;
      }
    }
    p:last-of-type {
      @include text (16px,$f,400,#333,45px);
      float: right;
      // margin-right: 20px;
    }
    .table-wrapper {
      height: 150px;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        tr:nth-of-type(1) {
          height: 50px;
          background: #C9CACE;
          th:nth-of-type(1) {
            @include text (14px,$f,400,#333,45px);
          }
          th:not(:nth-of-type(1)) {
            @include text (14px,$f,400,#9B9C9F,45px);
          }
        }
        tr:not(:nth-of-type(1)) {
          @include text (16px,$f,400,#333,45px);
          text-align: center;
        }
      }
      table + a {
        @include text (18px,$f,400,#333,18px);
        display: block;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        transition: all .2s ease;
        cursor: pointer;
        &:hover {
          color: #008ED4;
        }
      }
    }
  }
}

.select-params {
  display: none !important;
}