
@import "utilities/index";
@import "states/index";
@import "media/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  line-height: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}


.city {
  height: 505px;
  width: 100%;
  background-position: center 90%;
  background-size: cover;
  position: relative;
  margin-top: 126px;
  &:before {
     content: url('/img/city/icon-marker.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.tower:before {
    content: url('/img/city/tower/tower.png');
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    margin: auto;
  }
  &.monaco:before {
    content: url('/img/city/1/monaco.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.new-york:before {
    content: url('/img/city/1/new-york.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.bologna:before {
    content: url('/img/city/2/bologna.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.paris:before {
    content: url('/img/city/2/paris.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.miami:before {
    content: url('/img/city/2/miami.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.dubai:before {
    content: url('/img/city/2/dubai.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.geneve:before {
    content: url('/img/city/3/geneve.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.madrid:before {
    content: url('/img/city/2/madrid.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.venice:before {
    content: url('/img/city/3/venice.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.liverpool:before {
    content: url('/img/city/3/liverpool.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.mexico:before {
    content: url('/img/city/3/mexico.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.edinburgh:before {
    content: url('/img/city/3/edinburgh.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.amsterdam:before {
    content: url('/img/city/3/amsterdam.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.rio:before {
    content: url('/img/city/3/rio.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.berlin:before {
    content: url('/img/city/3/berlin.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
  &.lisboa:before {
    content: url('/img/city/3/lisboa.png');
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: -25px;
     margin: auto;
  }
}

.city__container__state {
  &.tower .city__state--active {
    background: #00E5B0;
  }
  &.monaco .city__state--active {
    background: #C02D2B;
  }
  &.new-york .city__state--active {
    background: #FDB301;
  }
  &.bologna .city__state--active {
    background: #FDB301;
  }
  &.paris .city__state--active {
    background: #8BAE36;
  }
  &.miami .city__state--active {
    background: #04B5D9;
  }
  &.dubai .city__state--active {
    background: #566198;
  }
  &.madrid .city__state--active {
    background: #C02D2B;
  }
  &.venice .city__state--active {
    background: #316668;
  }
  &.liverpool .city__state--active {
    background: #741D13;
  }
  &.mexico .city__state--active {
    background: #C99840;
  }
  &.geneve .city__state--active {
    background: #19B6D8;
  }
  &.edinburgh .city__state--active {
    background: #FF7146;
  }
  &.amsterdam .city__state--active {
    background: #566198;
  }
  &.rio .city__state--active {
    background: #C02D2B;
  }
  &.berlin .city__state--active {
    background: #FDB301;
  }
  &.lisboa .city__state--active {
    background: #8BAE36;
  }
}

.links {
  &.tower {
    h2 {
      bottom: 0;
      @include media (xs) {
        bottom: -26px;
      }
    }
    background: #00E5B0;
  }
  &.monaco {
    background: #C02D2B;
  }
  &.new-york {
    background: #FDB301;
  }
  &.bologna {
    background: #FDB301;
  }
  &.paris {
    background: #8BAE36;
  }
  &.miami {
    background: #04B5D9;
  }
  &.dubai {
    background: #566198;
  }
  &.madrid {
    background: #C02D2B;
  }
  &.venice {
    background: #316668;
  }
  &.liverpool {
    background: #741D13;
  }
  &.mexico {
    background: #C99840;
  }
  &.geneve {
    background: #19B6D8;
  }
  &.edinburgh {
    background: #FF7146;
  }
  &.amsterdam {
    background: #566198;
  }
  &.rio {
    background: #C02D2B;
  }
  &.berlin {
    background: #FDB301;
  }
  &.lisboa {
    background: #8BAE36;
  }
}

  .city__container {
    padding-top: 85px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    right: auto;
    margin: 0 0;
    left: 50%;
    transform: translateX(-50%);
    top: 126px;
    z-index: 99;
    @include media (sm) {
      width: 100vw;
      top: 70px;
    }
    @include media (xs) {
      padding-top: 15px;
      padding-left: 1px;
    }
    &__state {
      width: 148px;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      background: #2E384D;
      z-index: 999;
      position: relative;
      left: 15px;
      @include media (sm) {
        height: 70px;
        width: 175px;
        &:before {
          content: url(/img/common/icon-close.png);
          width: 30px;
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) scale(.8);
          right: 20px;
          pointer-events: none;
        }
        a:not(:first-child) {
          display: none;
        }
        a:first-child {
          line-height: 70px;
          font-size: 18px;
        }
      }
      @include media (xs) {
      width: 160px;
      height: 55px;
      &:before {
        transform: translateY(-50%) scale(.7) !important;
      }
        a:first-child {
          font-size: 15px;
          line-height: 55px;
        }
      }
      a.city__state--active {
        color: white;
        background: black;
      }
      a {
        flex-basis: 100%;
        padding-left: 20px;
        text-decoration: none;
        @include text (14px,$f,400,white,40px);
        text-transform: uppercase;
        transition: color .3s ease, background .3s ease;
      }
    }
    &__action {
      width: 272px;
      height: 123px;
      background: rgba(6,14,35,.7);
      border-radius: 5px;
      z-index: 99;
      padding-left: 20px;
      position: relative;
      @include media (xs) {
        display: none;
      }
      h3 {
        @include text (14px,$f,400,$or,20px);
        text-transform: uppercase;
        z-index: 999;
        position: absolute;
        top: 22px;
      }
      #owl-carousel {
        height: 123px;
        padding-top: 15px;
        .owl-stage-outer {
          width: 98%;
        }
        .owl-stage {
          display: flex;
          align-items: flex-end;
        }
        .owl-nav {
          position: absolute;
          top: 22px;
          right: 20px;
          width: 60px;
          display: flex;
          margin: 0 0;
          flex-flow: row nowrap;
          justify-content: space-between;
          z-index: 100;
          & > div {
            background: red;
            margin: 0 0;
            width: 15px;
            height: 15px;
            z-index: 100;
          }
          .owl-prev {
            background: url('/img/home/arrow-left.png') no-repeat center;
            background-size: 6px 10px;
          }
          .owl-next {
            background: url('/img/home/arrow-right.png') no-repeat center;
            background-size: 6px 10px;
          }
        }
        .item {
          width: 100%;
          margin: 0 0;
          margin-top: 30px;
          padding-left: 2px;
        }
        .item {
          a {
            color: white;
            text-decoration: none;
          }
          p {
            @include text (16px,$f,400,white,23px);
            text-transform: uppercase;
          }
        }
      }
    }
  }

.links {
  height: 105px;
  width: 100%;
  background: #C02D2B;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  position: relative;
  small {
    @include text (14px,$f,400,white,14px);
    flex-basis: 100%;
    text-align: center;
    display: none;
    text-transform: uppercase;
  }
  h2 {
    @include text (50px,$f,400,white,25px);
    text-transform: uppercase;
    text-align: center;
    margin: 0 0;
    flex-basis: 100%;
    white-space: nowrap;
  }
  a {
    text-decoration: none;
    position: absolute;
    top: 53%;
    height: 100%;
    transform: translateY(-50%);
    z-index: 9999;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include media (sm) {
      top: 50%;
    }
    p {
      @include text (20px,$f,400,white,25);
      text-transform: uppercase;
      display: inline;
      @include media (xs) {
        font-size: 16px;
      }
    }
  }
  a:first-of-type {
    left: 65px;
    @include media (sm) {
      left: 35px;
    }
    p:before {
      content: url('/img/city/arrow-left.png');
      margin-right: 10px;
      position: relative;
      top: 5px;
    }
  }
  a:last-of-type {
    right: 65px;
    @include media (sm) {
      right: 35px;
    }
    p:after {
      content: url('/img/city/arrow-right.png');
      margin-left: 10px;
      position: relative;
      top: 5px;
    }
  }
}

.view-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0,0,0,.7);
  z-index: 99999;
  transition: all .4s ease;
  opacity: 0;
  visibility: hidden;
  &__wrapper {
    width: 90vw;
    height: 70vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    p {
      @include text (18px,$f,700,white,61px);
      text-align: center;
      margin-top: 0;
      background: rgba(0,0,0,.2);
    }
  }
}

#korpus-plan polygon {
  cursor: pointer;
}

.flats {
  min-height: 880px;
  width: 100%;
  background: #01051E;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  // @include media (sm) {
  //   min-height: calc(47vh + 205px);
  // }
  &__popup {
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #E8E8EA;
    z-index: 7000;
    padding-top: 70px;
    transition: all .4s ease;
    visibility: hidden;
    opacity: 0;
    display: flex;
    // flex-flow: row nowrap;
    // align-items: center;
    padding-top: 0;
    @include media (sm) {
      overflow-y: scroll;
    }
    &--close {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 75px;
      right: 100px;
      background: url(/img/city/icon-cross.png) no-repeat center;
      background-size: contain;
      cursor: pointer;
      transition: all .3s ease;
      z-index: 99;
      &:hover {
        transform: rotate(90deg);
      }
    }
    &__container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: auto !important;
      @include media (sm) {
        justify-content: center !important;
        padding: 0 0;
        padding-top: 196px;
        padding-bottom: 25px;
      }
      &__left {
        display: flex;
        flex-basis: 49%;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        .flats__plan-1 {
          margin-bottom: 60px;
        }
        .flats__plan-2 {
          margin-right: 40px;
          @include media (md) {
            img {
              height: 100px;
              width: auto;
              max-width: 240px;
            }
          }
        }
        .flats__plan-3 {
          @include media (md) {
            img {
              height: 100px;
              width: auto;
            }
          }
          @include media (xs) {
            small {
              margin-top: 20px;
            }
          }
        }
        & > div {
          &:first-of-type {
            flex-basis: 100%;
            img {
              position: relative;
              margin: 0 auto;
              display: block;
              width: 60%;
              height: auto;
              @include media (md) {
                max-height: 500px;
              }
              @include media (sm) {
                margin: 0 auto;
                width: 240px;
              }
            }
          }
          &:not(:first-of-type) {
            flex-basis: auto;
            position: relative;
            @include media (xs) {
              flex-basis: 100%;
              position: relative;
              margin: 0 auto;
              display: flex;
              flex-flow: column nowrap;
              img {
                display: block;
                margin: 0 auto;
              }
            }
            small {
              @include text (12px,$f,700,#060e23,26px);
              display: block;
              text-align: center;
              margin-bottom: 20px;
              text-transform: uppercase;
              white-space: nowrap;
            }
          }
        }
        ul {
          margin-top: 50px;
          display: none;
          @include media (xs) {
            flex-basis: 100%;
            display: block;
          }
          li {
            @include text (15px,$f,400,#060e23,19px);
            list-style-type: none;
            margin-top: 3px;
          }
        }
      }
      &__right {
        flex-basis: 49%;
        position: relative;
        &.has-image {
          @include media (sm) {
            .flats__flat-info {
              margin-top: 88px !important;
            }
          }
        }
        &.has-section-name {
          .flats__buttons-1 .flats__view div {
            @include media (sm) {
              top: 80px !important;
            }
          }
        }
        &.has-image.has-section-name {
          @include media (sm) {
            .flats__flat-info {
              margin-top: 90px !important;
            }
          }
        }
        h3 {
          @include text (47px,$f,400,#060e23,55px);
          text-transform: uppercase;
        }
        h4 {
          @include text (21px,$f,700,#060e23,40px);
          white-space: nowrap;
        }
        .flats__flat-info {
          margin-top: 40px;
          margin-bottom: 20px;
          div {
            @include text (18px,$f,400,#060e23, 39px);
            opacity: .8;
            display: inline-block;
            &:not(:first-of-type) {
              margin-left: 35px;
            }
            span {
              font-size: 40px;
              opacity: 1;
            }
          }
        }
        .flats__flat-price {
          margin-bottom: 50px;
          p:first-of-type {
            @include text (18px,$f,400,#060e23,39px);
          }
          p:last-of-type {
            @include text (40px,$f,400,#c02d2b,39px);
          }
        }
        .flats__buttons-1 {
          margin-bottom: 30px;
          .flats__view {
            display: inline-block;
            text-decoration: none;
            float: left;
            border-radius: 100px;
            overflow: hidden;
            div {
              width: 230px;
              height: 95px;
              border-radius: 100px;
              text-align: center;
              position: relative;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              float: left;
              p {
                transition: all .3s ease;
                @include text (14px,$f,600,white,23px);
                text-transform: uppercase;
                z-index: 6;
              }
              &:before {
                content: url('/img/city/icon-eye.png');
                display: block;
                margin-right: 10px;
                transition: all .3s ease;
                z-index: 6;
              }
              &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(0,0,0,.2);
                z-index: 5;
                border-radius: 100px;
              }
              &:hover:before {
                transform: translate3d(-5px,0,0);
              }
              &:hover p {
                transform: translate3d(5px,0,0);
              }
            }
          }
          .flats__furniture {
            display: inline-block;
            text-decoration: none;
            div {
              width: 230px;
              height: 95px;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              p {
                @include text (14px,$f,600,#060e23,17px);
                text-transform: uppercase;
                transition: all .3s ease;
              }
              &:before {
                content: url('/img/city/icon-furniture.png');
                display: block;
                transition: all .3s ease;
                margin-right: 10px;
              }
              &:hover:before {
                transform: translate3d(-5px,0,0);
              }
              &:hover p {
                transform: translate3d(5px,0,0);
              }
            }
          }
        }
        .flats__buttons-2 {
          text-transform: uppercase;
          .flats__button-apply {
          @include text (14px,$f,600,black,40px);
            width: 210px;
            height: 40px;
            background: #ffc203;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            margin-right: 20px;
            transition: all .3s ease;
            &:hover {
              background: darken(#ffc203, 5%);
            }
            @include media (xs) {
              font-size: 18px;
            }
          }
          .flats__button-download {
          @include text (14px,$f,600,black,40px);
            width: 210px;
            height: 40px;
            border: 1px solid #ffc203;
            background: transparent;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            transition: all .3s ease;
            &:hover {
              background: #ffc203;
            }
          }
        }
        ul {
          margin-top: 80px;
          @include media (xs) {
            display: none;
          }
          li {
            @include text (15px,$f,400,#060e23,19px);
            list-style-type: none;
            margin-top: 3px;
          }
        }
      }
    }
  }
  &__container {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    @include media (xs) {
      margin-top: 250px !important;
      position: relative;
    }
    .grid-total {
      display: none;
      @include media (xs) {
        @include text (17px,$f,700,white,17px);
        position: absolute;
        top: 21px;
        left: 50vw;
        transform: translateX(-50%);
        background: #01051E;
        text-align: center;
        display: block;
        white-space: nowrap;
        padding: 0px 20px;
        z-index: 99;
      }
    }
    &__grid {
      display: inline-block;
      position: relative;
      margin-right: 60px;
      float: left;
      position: relative;
      align-self: flex-end;
      @include media (xs) {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100vw;
        margin-top: 0px !important;
      }
      &__floors {
        @include media (xs) {
          left: 20px !important;
        }
      }
      &__wrapper {
        @include media (xs) {
          display: inline-flex !important;
          overflow-x: scroll;
          left: 20px !important;
          &:after {
            display: none !important;
          }
        }
      }
      @include media (xs) {
        margin-left: 0 !important;
        padding-top: 30px;
        border-top: 1px solid #E6AF2C;
      }
      &:after {
         content: url('/img/city/car.png');
         position: absolute;
         right: -105px;
         bottom: -5px;
      }
      &__wrapper {
        height: auto;
        margin-left: 35px;
        background: #1F293C;
        padding: 10px 15px 30px 15px;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        position: relative;
        &:before {
          content: url(/img/city/grid-left-bg.png);
          position: absolute;
          left: -345px;
          bottom: -5px;
        }
        &:after {
          content: url(/img/city/grid-right-bg.png);
          position: absolute;
          left: 100%;
          bottom: -5px;
        }
        & > div {
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items:  center;
          position: relative;
          left: 1.5px;
          &:not(:first-child) {
            margin-top: 7px;
          }
          .flats__container__grid__wrapper__icon {
            width: 30px;
            height: 30px;
            border-radius: 3px;
            background: #6DB300;
            @include text (14px,$f,400,white,30px);
            text-align: center;
            transition: all .3s ease;
            cursor: pointer;
            &:hover {
              transform: scale(.8);
            }
            &:not(:first-child) {
              margin-left: 7px;
            }
          }
        }
      }
      &__floors {
        height: auto;
        width: 10px;
        position: absolute;
        left: 0;
        bottom: 0px;
        margin: auto;
        padding: 10px 0 30px 0;
        z-index: 99;
        &__wrapper {
          width: 100%;
          height: 100%;
          position: relative;
          p {
            @include text (14px,$f,400,white,30px);
            text-align: right;
            position: relative;
            &:not(:first-child) {
              margin-top: 70%;
            }
          }
        }
      }
    }
    &__content {
      flex-basis: 85%;
      width: auto;
      display: inline-block;
      padding-left: 15px;
      align-self: flex-start;
      .flats__container__content__scheme {
        @include media (sm) {
          margin: 0 0 !important;
        }
        @include media (xs) {
          & > div:nth-of-type(2) {
            top: -175px !important;
          }
        }
      }
      .table-wrapper {
        border-top: 1px solid #E6AF2C;
        padding-top: 20px;
        margin-top: 50px;
        position: relative;
        display: none;
        &--tablet {
          @include media (sm) {
            display: block !important;
          }
          @include media (xs) {
            display: none !important;
          }
        }
        &--mobile {
          @include media (xs) {
            display: block !important;
          }
          @include media (sm) {
            display: none;
          }
        }
        & > span {
          position: absolute;
          top: -9.5px;
          left: 50%;
          transform: translateX(-50%);
          @include text (17px,$f,400,white,17px);
          background: #01051E;
          padding: 0 25px;
          white-space: nowrap;
        }
        .table-tablet {
          width: 100%;
          border-collapse: collapse;
          thead {
            tr {
              background: #272C3F;
              height: 50px;
              th {
                @include text (15px,$f,300,rgba(255, 255, 255, 0.4),17px);
                border: 2px solid #272C3F;
                text-align: left;
                &:after {
                  content: url(/img/city/icon-arrow.png);
                  position: relative;
                  left: 5px;
                  top: -2px;
                  opacity: 0.4;
                  display: inline-block;
                }
                &:nth-of-type(1) {
                  width: 9vw !important;
                  padding-left: 60px;
                }
                &:nth-of-type(2) {
                  width: 11vw !important;
                  padding-left: 7vw;
                }
                &:nth-of-type(3) {
                  width: 13vw !important;
                  padding-left: 6vw;
                }
                &:nth-of-type(4) {
                  width: 10vw !important;
                  padding-left: 6vw;
                }
                &:nth-of-type(5) {
                  width: 16vw !important;
                  padding-left: 1vw;
                }
                &.sorting_desc {
                  color: rgba(255, 255, 255, 1);
                  &:after {
                    transform: rotate(180deg);
                    opacity: 1;
                    top: 4px;
                  }
                }
              }
            }
          }
          tbody {
            .flag td:last-of-type {
                position: relative;
                &:after {
                    content: url('/img/common/icon-flag.png');
                    display: block;
                    position: absolute;
                    top: 56%;
                    right: 4vw;
                    transform: translateY(-50%);
                }
            }
            .brush td:last-of-type {
                position: relative;
                &:before {
                    content: url('/img/common/icon-paintbrush.png');
                    display: block;
                    position: absolute;
                    top: 54%;
                    right: 2vw;
                    transform: translateY(-50%);
                }
            }
            tr {
              &:nth-child(even) td {
                color: orange;
              }
              td {
                height: 100px;
                @include text (17px,$f,400,white,19px);
                position: relative;
                border-top: 1px solid #252C3C;
                border-bottom: 1px solid #252C3C;
                &:nth-of-type(1) {
                  padding-left: 60px;
                }
                &:nth-of-type(2) {
                  padding-left: 8vw;
                }
                &:nth-of-type(3) {
                  padding-left: 6vw;
                }
                &:nth-of-type(4) {
                  padding-left: 6vw;
                  white-space: nowrap;
                }
                &:nth-of-type(5) {
                  padding-left: 1vw;
                  white-space: nowrap;
                }
              }
            }
          }
        }
        .show-more {
          @include text (17px, $f, 400, white, 65px);
          text-align: center;
          display: block;
        }
        .table-mobile {
          border-collapse: collapse;
          thead {
            display: none !important;
          }
          tbody {
            tr {
              height: 27vw;
              &:nth-child(even) {
                background: #272D3E;
                white-space: nowrap;
                td {
                  white-space: nowrap;
                  &:nth-of-type(1) {
                    color: #E6AF2C;
                  }
                  &:nth-of-type(2) {
                    color: #E6AF2C;
                  }
                  &:nth-of-type(3) {
                    color: #E6AF2C;
                  }
                  &:nth-of-type(4) {
                    color: #E6AF2C;
                  }
                  &:nth-of-type(5) {
                    color: #E6AF2C;
                  }
                }
              }
              td {
                &:nth-of-type(1) {
                  @include text (6.9vw,$f,400,white,20px);
                  position: relative;
                  bottom: 7vw;
                  left: 5%;
                }
                &:nth-of-type(2) {
                  @include text (5vw,$f,400,white,20px);
                  transform: translateX(-4px);
                  position: relative;
                  top: 8vw;
                  left: -5.5%;
                }
                &:nth-of-type(3) {
                  @include text (5vw,$f,400,white,20px);
                    transform: translateX(-4px);
                    position: relative;
                    top: 8vw;
                    left: 5.6%;
                }
                &:nth-of-type(4) {
                  @include text (6vw,$f,400,white,20px);
                  position: relative;
                  bottom: 7vw;
                  left: 10%;
                }
                &:nth-of-type(5) {
                  @include text (5vw,$f,400,white,20px);
                  transform: translateX(-4px);
                  position: relative;
                  right: 12%;
                  top: 8.1vw;
                }
                &:nth-of-type(6) {
                  @include text (4.4vw,$f,400,#4E5361,20px);
                  position: relative;
                  left: -58.8%;
                  top: 2vw;
                }
                &:nth-of-type(7) {
                  @include text (4.4vw,$f,400,#4E5361,20px);
                  position: relative;
                  right: 52%;
                  top: 2vw;
                }
                &:nth-of-type(8) {
                  @include text (4.4vw,$f,400,#4E5361,20px);
                  position: relative;
                  left: -46.5%;
                  top: 2vw;
                }
              }
            }
          }
        }

      }
      h1 {
        @include text (48px,$f,300,#00e5b0,60px);
        text-transform: uppercase;
        margin-top: 0px;
        br {
          @include media (xs) {
            display: block !important;
          }
        }
      }
      & > p {
        @include text (16px,$f,400,white,20px);
        margin-bottom: 45px;
        padding-right: 40px;
      }
      a {
        text-decoration: none;
      }
      &__more {
        width: 32%;
        height: 92px;
        background: white;
        display: inline-block;
        margin-right: 5px;
        transform: skewX(-20deg);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;
        outline: 1px solid transparent;
        outline-offset: -5px;
        position: relative;
        & > a {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        // ————————————————————————————————————————————————————————————————————————————————
        a:nth-child(1) {
          z-index: 22;
        }
        &:hover {
          outline-color: black;
          p {
            color: black;
          }
        }
        img {
          transform: skewX(20deg);
          margin-right: 24px;
          transition: all .3s ease;
          pointer-events: none;
        }
        p {
          @include text (16px,$f,700,#C54643,20px);
          transform: skewX(20deg);
          text-transform: uppercase;
          width: 43%;
          display: inline;
          text-decoration: none;
          transition: all .3s ease;
          pointer-events: none;
        }
        &.flats__container__content__more-advantages {
          @include media (md) {

            img {
              margin-right: 20px;
            }
            p {
              margin-right: 20px;
            }
          }
        }
      }
      &__scheme {
        margin-top: 80px;
        padding-left: 50px;
        & > div {
          display: inline-block;
        }
        & > div:last-of-type {
          small {
            @include text (12px,$f,200,white,26px);
            text-transform: uppercase;
            position: absolute;
            top: -45px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        & > div:last-of-type {
          position: relative;
          margin-left: 50px;
        }
        & > div:first-of-type {
          svg a:nth-of-type(1):hover div {
            opacity: 0;
          }
          p:nth-of-type(1):before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: #85b20c;
            border-radius: 4px;
            float: left;
            margin-right: 10px;
            position: relative;
            top: -2px;
          }
          p:nth-of-type(2):before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: #2c384e;
            border-radius: 4px;
            float: left;
            margin-right: 10px;
            position: relative;
            top: -2px;
          }
          p:nth-of-type(3):before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: #008ED4;
            border-radius: 4px;
            float: left;
            margin-right: 10px;
            position: relative;
            top: -2px;
          }
          p:nth-of-type(4):before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: black;
            border: 2px solid white;
            border-radius: 4px;
            float: left;
            margin-right: 10px;
            position: relative;
            top: -2px;
          }
          p {
            @include text (12px,$f,300,white,26px);
            text-transform: uppercase;
            margin-top: 20px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

// Lightbox————————————————

.fancybox-container {
  z-index: 100000;
  .fancybox-button--close {
    @include media (md) {
      display: none;
    }
  }
}

// div.fancybox-slide .fancybox-image-wrap {
//   cursor: auto;
//   img {
//     pointer-events: none;
//   }
// }

// .fancybox-container .fancybox-caption-wrap {
//   padding: 0 0;
//   top: 0;
//   height: 60px;
//   background: rgba(0,0,0,.2);
//   opacity: 0;
//   &--show {
//     opacity: 1;
//   }
//   .fancybox-caption {
//     @include text (18px,$f,700,white,60px);
//     text-align: center;
//     padding: 0 0;
//     border: none;
//   }
// }


// Lightbox————————————————

.fancybox-container-flatview div.fancybox-slide .fancybox-image-wrap {
  cursor: auto;
  right: 0;
  @include media (sm) {
    top: 70px !important;
    bottom: auto !important;
    transform: translateY(0) !important;
    height: calc(100vh - 70px) !important;
  }
  img {
    pointer-events: none;
    object-fit: cover;
    @include media (sm) {
      width: 100vw;
    }
  }
}


.fancybox-container-flatview .fancybox-navigation.fancybox-navigation-visible {
  display: block !important;
}


.fancybox-container-flatview .fancybox-navigation {
  display: none;
  opacity: 1;
  .fancybox-arrow--left {
    bottom: 0;
    top: auto;
    background: none;
    transform: rotate(0);
    left: 10px;
    cursor: pointer;
    opacity: 1 !important;
    &:after {
      background: url(/img/common/arrow-left.svg) no-repeat center;
      background-size: contain;
      pointer-events: none;
      top: 35px;
      cursor: pointer;
    }
  }
  .fancybox-arrow--right {
    bottom: 0;
    top: auto;
    background: none;
    transform: rotate(0);
    right: 10px;
    cursor: pointer;
    opacity: 1 !important;
    &:after {
      background: url(/img/common/arrow-right.svg) no-repeat center;
      background-size: contain;
      pointer-events: none;
      top: 35px;
      cursor: pointer;
    }
  }
  .count-wrapper {
    position: absolute;
    width: 100%;
    bottom: 35px;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    pointer-events: none; 
    .image-index {
      @include text (40px,$f,300,white,15px);
    }
    .image-total {
      @include text (16px,$f,300,white,15px);
    }
  }
}

.fancybox-container-flatview.fancybox-is-open {
  .fancybox-button--close {
    opacity: 1 !important;
  }
}

.fancybox-container-flatview div.fancybox-slide .fancybox-image-wrap {
  cursor: auto;
  right: 0;
  @include media (sm) {
    top: 70px !important;
    bottom: auto !important;
    transform: translateY(0) !important;
    height: calc(100vh - 70px) !important;
  }
  img {
    pointer-events: none;
    object-fit: cover;
    @include media (sm) {
      width: 100vw;
    }
  }
}


.fancybox-container-flatview .fancybox-navigation.fancybox-navigation-visible {
  display: block !important;
}

.fancybox-container-flatview.fancybox-is-open {
  .fancybox-button--close {
    opacity: 1 !important;
  }
}

.fancybox-container-flatview.fancybox-container {
  .fancybox-stage {
    pointer-events: none;
  }
  .fancybox-toolbar {
    width: 100%;
    height: 60px;
    top: 70px;
    @include media (xs) {
      height: 55px;
    }
    .fancybox-button--close {
      width: 30px;
      height: 30px;
      background: url(/img/common/icon-close.png) no-repeat center;
      background-size: contain;
      border: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5vw;
      transition: all .6s ease;
      opacity: 0;
      &:after, &:before {display: none;}
    }
  }
  .fancybox-caption-wrap {
    padding: 0 0;
    top: 0;
    height: 60px;
    background: rgba(0,0,0,.2);
    right: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: all .3s ease;
    opacity: 0;
    @include media (md) {
      display: flex;
      justify-content: center;
    }
    @include media (sm) {
      padding-left: 5vw;
      width: 100vw;
    }
    @include media (xs) {
      height: 55px;
    }
    &--show {
      opacity: 1 !important;
    }
    .fancybox-caption {
      @include text (18px,$f,700,white,60px);
      text-align: center;
      padding: 0 0;
      border: none;
      @include media(xs) {
        font-size: 14px;
        line-height: 40px;
      }
    }
  }
}

.fancybox-container-flatview .fancybox-caption-wrap:not(:first-of-type), .fancybox-caption:not(:first-of-type) {
  display: none !important;
}

.fancybox-container-furnish.fancybox-container {
  .fancybox-toolbar {
    display: none;
  }
  .fancybox-navigation {
    button {
      transform: rotate(0);
      opacity: 1 !important;
    }
    .fancybox-arrow--left {
      &:after {
        background: url('/img/common/arrow-left.svg') no-repeat center;
      }
    }
    .fancybox-arrow--right {
      &:after {
        background: url('/img/common/arrow-right.svg') no-repeat center;
      }
    }
  }
}




.korpus-tooltip {
  width: 58px;
  height: 14px;
  background: white;
  transform: skewX(-30deg);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  p {
    @include text (9px,$f,700,black,1);
    text-align: center;
    text-transform: uppercase;
    transform: skewX(30deg);
  }
}