@import "utilities/index";
@import "states/index";
@import "media/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  line-height: 62.5%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  // min-width: 1440px;
  @include media (sm) {
    height: auto !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
    @include media (sm) {
      height: auto !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}



.container-fluid {
  min-height: calc(100vh - 126px);
  height: auto;
  margin-top: 126px;
  background: #060E23;
  @include media (sm) {
    margin-top: 70px;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 110px;
    padding-bottom: 50px;
    height: auto !important;
    @include media (sm) {
      padding-left: 0;
      padding-right: 0;
    }
    @include media (xs) {
      padding-top: 30px;
    }
    #fragment-1, #fragment-2, #fragment-3 {
      @include media (sm) {
        width: 100vw;
      }
    }
    #fragment-1 .flats-sold {
      display: none;
    }
    #fragment-2, #fragment-3 {
      table {
        tr {
          height: 0;
          font-size: 0;
          line-height: 0;
          td {
            height: 0;
            font-size: 0;
            line-height: 0;
            border-width: 1px;
          }
        }
      }
      .estate__commercial__content__image a {
        display: none;
      }
    }
    #fragment-1, #fragment-2, #fragment-3 {
      // position: absolute;
        .flats-sold {
          font: 600 24px/30px $pt;
          color: black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include media (xs) {
            text-align: center;
            width: 90vw;
            top: 78%;
            font-size: 15px;
          }
          @include media (xsHor) {
            top: 60%;
            font-size: 20px;
          }
        }
    }
    .estate_commercial {
      h2 {
        font: 400 60px/60px $pt;
        text-transform: uppercase;
        color: white;
        margin-bottom: 30px;
        padding-left: 20px;
        @include media (xs) {
          font-size: 40px;
          line-height: 40px;
        }
      }
      &__content {
        background: white;
        width: 840px;
        height: 650px;
        padding: 0 35px;
        padding-bottom: 35px;
        &__upper {
          min-height: 120px;
          @include media (xs) {
            text-align: center;

          }
          @include media (xsHor) {
            text-align: center;
          }
          .commercial_head_last {
            float: right;
          }
          .commercial_head_first {
            float: left;
            position: relative;
            @include media (xsHor) {
              float: none;
              padding-top: 15px;
            }
            &:before {
              content: '';
              display: block;
              width: 105%;
              height: 6px;
              border-radius: 7px;
              position: absolute;
              bottom: -5px;
              left: 50%;
              transform: translateX(-50%);
              background: #00CD6D;
              @include media (xs) {
                width: 80%;
              }
            }
          }
          p {
            font: 600 24px/30px $pt;
            color: #00CD6D;
            text-transform: uppercase;
            margin: 10px 0;
            z-index: 1;
          }
          a {
            text-decoration: none;
            @include media (xsHor) {
              p {
                float: none !important;
                text-align: center;
              }
            }
            p:hover {
              text-decoration: underline;
            }
          }
        }
        .estate__commercial__content__image {
          position: relative;
          & > img:first-of-type {
            width: 100%;
            height: auto;
          }
          & > a img {
            width: 100px;
            height: 66px;
            position: absolute;
            bottom: 0;
            right: 50px;
            @include media (xs) {
              left: 50%;
              right: auto;
              bottom: -100px;
              transform: translateX(-50%);
            }
          }
        }
        .estate__commercial__content__table {
          margin-top: 30px;
          h3 {
            font: 800 24px/30px $pt;
            color: #00CD6D;
            text-transform: uppercase;
            padding-bottom: 10px;
            @include media (xs) {
              margin-top: 135px;
              text-align: center;
            }
          }
          h3 + div {
            @include media (xs) {
              overflow-x: scroll;
            }
          }
          table {
            width: 100%;
            border-spacing: 0px;
            @include media (xs) {
              overflow-x: scroll; 
              width: 800px;
            }
            tr {
              height: 40px;
              td {
                padding-left: 10px;
              }
              th {
                padding-left: 10px;
            @include media (xs) {
            }
              }
            }
            thead {
              border-spacing: 0px;
              tr {
                th {
                  font: 600 16px/3 $pt;
                  color: #13D178;
                  text-transform: uppercase;
                  text-align: left;
                }
              }
            }
            tbody {
              tr {
                &:nth-child(odd) {
                  border-top: 1px solid #E6AF2C;
                  border-bottom: 1px solid #E6AF2C;
                  background: #1E2331;
                  td {
                    color: white;
                    border-top: 3px solid #E6AF2C;
                    border-bottom: 3px solid #E6AF2C;
                  }
                }
                &:nth-child(even) {
                  background: white;
                }
                td {
                  font: 400 16px/1 $pt;
                  a {
                    font: 600 16px/1 $pt;
                    color: #0099CC;
                    text-decoration: none;
                    &:hover {
                      color: #497093;
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #fragment-1_1 {
        background: white;
        width: 840px;
        height: auto;
        padding: 0 35px;
        padding-bottom: 35px;
        @include media(sm) {
          width: 100vw;
        }
        @include media (xs) {
          padding-left: 0px;
          padding-right: 0px;
        }
      .estate_commercial__content__upper {
        min-height: 70px;
        margin-bottom: 165px;
        position: relative;
        @include media (xs) {
          margin-bottom: 30px;
        }
        & > a img {
          width: 100px;
          height: 66px;
          position: absolute;
          top: 13px;
          right: -20px;
          @include media (xs) {
            right: 50%;
            bottom: -235px;
            top: auto;
            transform: translateX(50%);
          }
          @include media (xsHor) {
            bottom: -357px;
          }
        }
        .commercial_head_last {
          float: right;
        }
        .commercial_head_first {
          float: left;
          position: relative;
          cursor: pointer;
          &:before {
            content: '';
            display: block;
            width: 105%;
            height: 6px;
            border-radius: 7px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            background: #00CD6D;
          }
        }
        p {
          font: 600 24px/30px $pt;
          color: #00CD6D;
          text-transform: uppercase;
          margin: 10px 0;
          z-index: 1;
          @include media (xs) {
            font-size: 20px;
            padding-top: 10px;
            display: block;
            margin: 0 auto;
            text-align: center;
            float: none !important;
            &:before {
              width: 272px !important;
            }
          }
        }
        a {
          text-decoration: none;
          p:hover {
            text-decoration: underline;
          }
        }
      }
      .estate__commercial__content__image {
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 51px;
          height: 64px;
          border: 4px solid red;
          position: absolute;
          top: 68px;
          left: 51%;
          @include media (xs) {
            transform: scale(.8);
            top: 11px;
            left: 50%;
          }
          @include media (xsHor) {
            transform: scale(1.5) rotate(-64deg);
            top: 50px;
            left: 54%;
          }
        }
        & > img:first-of-type {
          width: 100%;
          height: auto;
        }
        &__tooltip {
          border-radius: 8px;
          background-color: rgba(10, 10, 10, 0.21);
          width: 300px;
          padding-left: 10px;
          padding-bottom: 5px;
          position: absolute;
          top: -157px;
          left: 23%;
          @include media (sm) {
            left: 20%;
          }
          @include media (xs) {
            display: none;
          }
          &:after {
            content: '';
            display: block;
            border-right: 31px solid rgba(10, 10, 10, 0.212);
            border-left: 3px solid transparent;
            border-bottom: 74px solid transparent;
            border-top: 0px solid rgba(10, 10, 10, 0.212);
            position: absolute;
            bottom: -74px;
            right: 20%;
          }
          h3 {
            font-size: 20px;
            margin: 15px 0;
            text-transform: uppercase;
            font-family: $f, Helvetica, Arial, sans-serif;
            font-weight: 400;
            line-height: 30px;
            color: rgba(0,0,0,.7);
            margin-top: 5px;
          }
          h3 + div {
            p {
              @include text (16px,$f,400,rgba(0,0,0,.7),20px);
            }
          }
        }
      }
      .estate__commercial__content__flat {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 15px;
        @include media (xs) {
          // justify-content: center;
          margin-top: 115px;
        }
        & > h3 {
            @include text (27px,$f,300,rgba(0,0,0,.8),20px);
            margin: 30px 0 70px 0;
            flex-basis: 100%;
            @include media (xs) {
              margin-bottom: 20px;
            }
        }
        &__first {
          flex-basis: 50%;
          @include media (xs) {
            flex-basis: 100%;
          }
          & > h4:first-of-type {
            @include text (20px,$f,400,rgba(0,0,0,.8),22px);
            text-transform: uppercase;
            margin: 0 0 20px 0;
          }
         & > h4:first-of-type + div {
            p {
              @include text (16px,$pt,600,rgba(0,0,0,.8),18px);
            }
          }
          & > ul {
            margin: 20px 0 30px 0;
            li {
              list-style-type: none;
              @include text (13px,$pt,600,#13E7B6,21px);
            }
          }
          h3:last-of-type {
            @include text (26px,$pt,800,#00cd6d,30px);
            text-transform: uppercase;
            margin-left: 20px;
            @include media (xs) {
              margin-left: 0;
              text-align: center;
              line-height: 30px;
            }
          }
          table {
            margin: 30px 0 0 20px;
            @include media (xs) {
              margin-left: auto;
              margin-right: auto;
            }
            td, th {
              border: 1px solid black;
              &:not(td) {
                border-bottom: 3px solid black;
              }
            }
            border-spacing: 0;
            border-collapse: collapse;
            thead {
              tr {
                th {
                  @include text (16px,$f,400,#00cd6d, 20px);
                  padding: 15px 0 15px 0;
                }
              }
            }
            tbody {
              tr {
                td {
                  @include text (16px,$f,400,rgba(0,0,0,.8), 18px);
                  text-align: center;
                  padding: 10px 0 10px 0;
                }
              }
            }
          }
        }
        &__second {
          flex-basis: 50%;
          @include media (xs) {
            flex-basis: 100%;
            margin-top: 30px;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    #fragment-1_2 {
        background: white;
        width: 840px;
        height: auto;
        padding: 0 35px;
        padding-bottom: 35px;
        @include media(sm) {
          width: 100vw;
        }
        @include media (xs) {
          padding-left: 0px;
          padding-right: 0px;
        }
      .estate_commercial__content__upper {
        min-height: 70px;
        margin-bottom: 165px;
        position: relative;
        @include media (xs) {
          margin-bottom: 30px;
        }
        & > a img {
          width: 100px;
          height: 66px;
          position: absolute;
          top: 13px;
          right: -20px;
          z-index: 1;
          @include media (xs) {
            right: 50%;
            bottom: -245px;
            top: auto;
            transform: translateX(50%);
          }
          @include media (xsHor) {
            bottom: -365px;
          }
        }
        .commercial_head_last {
          float: right;
        }
        .commercial_head_first {
          float: left;
          position: relative;
          cursor: pointer;
          &:before {
            content: '';
            display: block;
            width: 105%;
            height: 6px;
            border-radius: 7px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            background: #00CD6D;
          }
        }
        p {
          font: 600 24px/30px $pt;
          color: #00CD6D;
          text-transform: uppercase;
          margin: 10px 0;
          z-index: 1;
          @include media (xs) {
            font-size: 20px;
            padding-top: 10px;
            display: block;
            margin: 0 auto;
            text-align: center;
            float: none !important;
            &:before {
              width: 272px !important;
            }
          }
        }
        a {
          text-decoration: none;
          p:hover {
            text-decoration: underline;
          }
        }
      }
      .estate__commercial__content__image {
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 51px;
          height: 64px;
          border: 4px solid red;
          position: absolute;
          top: 60px;
          right: 4px;
          @include media (xs) {
            transform: scale(0.4);
            top: 2vw;
            left: auto;
            right: -12px;
          }
          @include media (xsHor) {
            transform: scale(0.7);
            top: 7vw;
            left: auto;
            right: -1px;
          }
          // @include media (xsHor) {
          //   transform: scale(1.5) rotate(-64deg);
          //   top: 50px;
          //   left: 54%;
          // }
        }
        & > img:first-of-type {
          width: 100%;
          height: auto;
        }
        &__tooltip {
          border-radius: 8px;
          background-color: rgba(10, 10, 10, 0.21);
          width: 300px;
          padding-left: 10px;
          padding-bottom: 5px;
          position: absolute;
          top: -166px;
          right: -20px;
          @include media (xs) {
            display: none;
          }
          &:after {
            content: '';
            display: block;
            border-right: 31px solid rgba(10, 10, 10, 0.212);
            border-left: 3px solid transparent;
            border-bottom: 74px solid transparent;
            border-top: 0px solid rgba(10, 10, 10, 0.212);
            position: absolute;
            bottom: -74px;
            right: 20%;
          }
          h3 {
            font-size: 20px;
            margin: 15px 0;
            text-transform: uppercase;
            font-family: $f, Helvetica, Arial, sans-serif;
            font-weight: 400;
            line-height: 30px;
            color: rgba(0,0,0,.7);
            margin-top: 5px;
          }
          h3 + div {
            p {
              @include text (16px,$f,400,rgba(0,0,0,.7),20px);
            }
          }
        }
      }
      .estate__commercial__content__flat {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 15px;
        @include media (xs) {
          // justify-content: center;
          margin-top: 115px;
        }
        & > h3 {
            @include text (27px,$f,300,rgba(0,0,0,.8),20px);
            margin: 30px 0 70px 0;
            flex-basis: 100%;
            @include media (xs) {
              margin-bottom: 20px;
            }
        }
        &__first {
          flex-basis: 50%;
          @include media (xs) {
            flex-basis: 100%;
          }
          & > h4:first-of-type {
            @include text (20px,$f,400,rgba(0,0,0,.8),22px);
            text-transform: uppercase;
            margin: 0 0 20px 0;
          }
         & > h4:first-of-type + div {
            p {
              @include text (16px,$pt,600,rgba(0,0,0,.8),18px);
            }
          }
          & > ul {
            margin: 20px 0 30px 0;
            li {
              list-style-type: none;
              @include text (13px,$pt,600,#13E7B6,21px);
            }
          }
          h3:last-of-type {
            @include text (26px,$pt,800,#00cd6d,18px);
            text-transform: uppercase;
            margin-left: 20px;
            @include media (xs) {
              margin-left: 0;
              text-align: center;
              line-height: 30px;
            }
          }
          table {
            margin: 30px 0 0 20px;
            @include media (xs) {
              margin-left: auto;
              margin-right: auto;
            }
            td, th {
              border: 1px solid black;
              &:not(td) {
                border-bottom: 3px solid black;
              }
            }
            border-spacing: 0;
            border-collapse: collapse;
            thead {
              tr {
                th {
                  @include text (16px,$f,400,#00cd6d, 20px);
                  padding: 15px 0 15px 0;
                }
              }
            }
            tbody {
              tr {
                td {
                  @include text (16px,$f,400,rgba(0,0,0,.8), 18px);
                  text-align: center;
                  padding: 10px 0 10px 0;
                }
              }
            }
          }
        }
        &__second {
          flex-basis: 50%;
          @include media (xs) {
            flex-basis: 100%;
            margin-top: 30px;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}