
@import "utilities/index";
@import "states/index";
@import "media/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  line-height: 62.5%;
  overflow-x: hidden;
  // overflow: hidden;
}


input[type=number]::-webkit-inner-spin-button, { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


body {
  
}


.mfp-title {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,.2);
	@include text (18px,$f,700,white,60px);
	text-align: center;
}

.mfp-wrap .mfp-content .mfp-img {
	padding: 0 0 !important;
	width: 95vw;
	height: auto;
}

.block--down {
  transform: translateY(500px);
}

.filter {
    background: #151E2E;
    height: auto;
    margin-top: 126px;
    transition: all .65s ease;
    min-height: 90vh;
    @include media (sm) {
      transition: all .5s linear;
    }
    .container {
        padding-top: 80px;
        transition: all .6s ease;
        .table-mobile {
            thead.thead {
                tr {
                    th:first-of-type {
                        width: 57vw !important;
                    }
                    th.table-th:not(:last-of-type):not(:first-of-type) {
                        display: none !important;
                    }
                    .table-th-mobile {
                        display: inline-block !important;
                        padding-left: 4vw;
                        width: 43vw !important;
                        color: white !important;
                        font-size: 16px !important;
                        font-weight: 400 !important;
                        &:after {
                            display: none !important;
                        }
                    }
                }
            }
            tbody {
                tr > {
                    td {
                        &:first-of-type {
                            &:after {
                                font-size: 0 !important;
                                background-position: 50% 50% !important;
                            }
                        }
                        td {
                            font-size: 16px !important;
                        }
                        &:nth-of-type(1) div {
                            width: 100%;
                            height: 100%;
                        }
                        &:nth-of-type(1) {
                            width: 16vw !important;
                        }
                        &:nth-of-type(2) {
                            top: -30px !important;
                            left: 4vw !important;
                        }
                        &:nth-of-type(3) {
                            left: -8vw !important;
                        }
                        &:nth-of-type(4) {
                            left: 0.5vw !important;
                        }
                        &:nth-of-type(5) {
                            left: 8.5vw !important;
                        }
                        &:nth-of-type(6) {
                            left: -4vw !important;
                            top: -35px !important;
                        }
                        &:nth-of-type(8) {
                            left: 19.5vw !important;
                        }
                        &:nth-of-type(9) {
                            left: 39vw !important;
                        }
                        &:nth-of-type(10) {
                            left: 54vw !important;
                        }
                        &.td-link--mobile {
                          position: relative;
                          padding-left: 0;
                          a {
                            div {
                              width: 25px;
                              height: 120px;
                              background: url('/img/filter/arrow-right.png') no-repeat center, #3C4154;
                              position: absolute;
                              right: 0;
                              top: 0;
                            }
                          }
                        }
                    }
                }
                tr.has-action {
                    background: #272D3E;
                    .td-link--mobile {
                      div {
                        background: url('/img/filter/arrow-right.png') no-repeat center, #4C5060;
                      }
                    }
                }
                tr.flag,
                tr.brush {
                    td:last-of-type {
                      &:before {
                        position: absolute !important;
                        top: 66% !important;
                        left: -18vw !important;
                      }
                      &:after {
                        position: absolute !important;
                        top: 68% !important;
                        left: -23vw !important;
                      }
                    }
                }

                tr {
                    position: relative;
                    height: 120px !important;
                    td {
                        border: none !important;
                    }
                    td:first-of-type {
                        height: 120px !important;                }
                    td:nth-of-type(2) {
                        position: relative;
                        top: -15px;
                        left: 6vw;
                        font-size: 20px !important;
                        padding-left: 0px !important;
                    }
                    td:nth-of-type(3) {
                        position: relative;
                        padding-left: 0px !important;
                        left: -6vw;
                        top: 32px;
                        font-size: 14px !important;
                        font-weight: 300;
                    }
                    td:nth-of-type(4) {
                        position: relative;
                        padding-left: 0px !important;
                        font-weight: 300;
                        left: 15vw;
                        top: 32px;
                        font-size: 14px !important;
                    }
                    td:nth-of-type(5) {
                        position: relative;
                        padding-left: 0px !important;
                        left: 30vw;
                        top: 32px;
                        font-size: 14px !important;
                        font-weight: 300;
                    }
                    td:nth-of-type(6) {
                        position: relative;
                        top: -15px;
                        left: 19vw;
                        font-size: 19px !important;
                        padding-left: 0px !important;
                    }
                    td:nth-of-type(7) {
                        position: relative;
                        padding-left: 0px !important;
                    }
                    .td-section--mobile {
                        position: absolute;
                        left: 6vw;
                        padding-left: 0 !important;
                        margin-top: 20px;
                        color: #62656F !important;
                        font-size: 15px !important;
                        font-weight: 300;
                    }
                    .td-floor--mobile {
                        position: absolute;
                        left: 38vw;
                        padding-left: 0 !important;
                        margin-top: 20px;
                        color: #62656F !important;
                        font-size: 15px !important;
                        font-weight: 300;
                    }
                    .td-area--mobile {
                        position: absolute !important;
                        left: 60vw;
                        padding-left: 0 !important;
                        margin-top: 20px;
                        color: #62656F !important;
                        font-size: 15px !important;
                        font-weight: 300;
                    }
                    .td--mobile {
                        display: inline-block !important;
                    }
                }
            }
        }
        h2 {
            @include text (40px, $f, 500, white, 130px);
            text-transform: uppercase;
            &.h2-no-result {
              @include media (md) {
                line-height: 48px;
                br {
                  display: none;
                }
              }
              @include media (sm) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 100%;
                text-align: center;
                font-size: 40px;
                font-weight: 400;
                line-height: 50px;
                padding-left: 0;
              }
              @include media (xs) {
                position: absolute;
                top: 57%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 100%;
                text-align: center;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                padding-left: 0;
              }
            }
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            white-space: nowrap;
            .row-link {
                position: absolute;
                top: 0;
                right: 0;
                width: 1000px;
                text-decoration: none;
                height: 100%;
                @include media (xs) {
                    width: 84vw;
                }
                @include media (sm) {
                    width: 75vw;
                }
                @include media (md) {
                    height: 100px;
                }
            }
            &.table-desktop tbody tr td:first-of-type div {
              width: 100%;
              height: 100px;
            }
            &.table-desktop td {
                position: relative;
            }
            tbody > tr > td:first-of-type {
              position: relative;
              &:empty {
                &:before, &:after {
                  display: none;
                }
              }
              &:hover:before, &:hover:after {
                opacity: 1;
              }
              &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: url(/img/filter/icon-zoom.svg) no-repeat 20% 50%, rgba(0,0,0,.4);
                background-size: 20px auto;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                transition: all .3s ease;
                opacity: 0;
              }
              &:after {
                content: "Вид из окна";
                position: absolute;
                top: 50%;
                left: 60%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                opacity: 0;
                font-size: 15px;
                color: white;
                font-size: 12px;
                transition: all .3s ease;
                pointer-events: none;
              }
            }
            thead {
                .table-th-mobile {
                    display: none;
                }
                tr {
                    th {
                        cursor: pointer;
                        outline: none;
                        transition: all .1s ease;
                    }
                }
            }
            tbody {
                tr td:last-of-type {
                    div {
                        @include media (md) {
                            padding-left: 22px;
                        }
                    }
                }
              tr td:last-of-type {
                a {
                  div {
                    @include media (sm) {
                      width: 25px;
                      height: 120px;
                      background: url('/img/filter/arrow-right.png') no-repeat center, #3C4154;
                      position: absolute;
                      right: 0;
                      top: 0;
                    }
                  }
                  svg {
                    @include media (sm) {
                      display: none;
                    }
                    path {
                      transition: all .3s ease;
                    }
                  }
                  div:hover svg path {
                    fill: #00D5A4;
                  }
                  img {
                    width: 27px;
                    height: 16px;
                  }
                }
              }
            }
            .td--mobile {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                display: block;
            }
            .flag td:last-of-type {
                position: relative;
                &:after {
                    content: url('/img/common/icon-flag.png');
                    display: block;
                    position: absolute;
                    top: 58%;
                    left: 135px;
                    transform: translateY(-50%);
                    @include media (sm) {
                        top: 40%;
                        left: 14.6vw;
                    }
                }
            }
            .brush td:last-of-type {
                position: relative;
                &:before {
                    content: url('/img/common/icon-paintbrush.png');
                    display: block;
                    position: absolute;
                    top: 55%;
                    left: 163px;
                    transform: translateY(-50%);
                    @include media (sm) {
                        top: 67%;
                        left: 14.6vw;
                    }
                }
            }
            tr td,
            tr th {
                width: 5.285%;
            }
            th {
                height: 50px;
            }
            td {
                height: 100px;
            }
            tr td:not(:first-of-type),
            tr th {
                padding-left: 25px;
            }
            tr th:nth-of-type(4) {
                padding-left: 30px;
            }

            tr th:nth-of-type(6) {
              padding-left: 25px;
            }
            tr th:nth-of-type(7) {
              padding-left: 25px;
            }

            tr td:nth-of-type(4) {
                padding-left: 41px;
            }
            tr td:not(:first-of-type) {
                border-bottom: 1px solid #252C3C;
            }
            tr:first-of-type {
                th:first-of-type {
                    @include text (20px,$f,400,white,40px);
                    text-align: left;
                    padding-left: 30px;
                    background: #008ED4;
                    height: 50px;
                }
                th:nth-of-type(4) {
                    text-align: center;
                }
                th:first-of-type~th {
                    @include text (15px,$f,200,rgba(255,255,255,.4),40px);
                    text-align: left;
                    background: #20283D;
                    height: 50px;
                    position: relative;
                    &:after {
                        content: url('/img/filter/icon-arrow.png');
                        position: relative;
                        left: 5px;
                        top: -2px;
                        opacity: .4;
                        display: inline-block;
                    }
                }
            }
            tr {
                td {
                    @include text (17px,$f,400,white,40px);
                    text-align: left;
                    height: 100px;
                }
            }
        }

        .has-action td {
            color: #EEAA0F;
        }
        .show-more__wrapper {
            height: 65px;
        }
        .show-more {
            @include text (17px,$f,400,white,65px);
            text-align: center;
            display: block;
            text-decoration: none;
            transition: color .3s ease;
            &:hover {
              color: #EEAA0F;
            }
        }
    }
}
.show-more--desktop {
  @include media(xs) {
    display: none !important;
  }
}

.show-more--mobile {
  @include media (sm) {
    display: none !important;
  }
}

.sidebar-trigger {
  transition: all .5s ease;
}

.sidebar-trigger-desktop {
   display: block;
   position: absolute;
   height: 100%;
   top: 50%;
   transform: translateY(-50%);
   margin: auto;
   width: 5.5vh;
   right: -5.5vh;
   background: url('/img/filter/filter-trigger.svg') no-repeat center;
   background-size: cover;
   cursor: pointer;
   z-index: 999;
}

.sidebar-trigger-mobile {
   display: none;
   position: absolute;
   bottom: -48px;
   margin: auto;
   transform: translateX(0);
   height: 50px;
   width: 100vw;
   left: -20px;
   background: url('/img/filter/filter-trigger-mobile.svg') no-repeat center;
   background-size: 102% auto;
   cursor: pointer;
   z-index: 999;
}

.loader {
    top: 0;
    height: 100%;
}

.sidebar {
  background: #20283D;
  transition: all .3s ease;
  width: 460px;
  height: 100vh;
  position: fixed;
  transform: translateX(-460px);
  left: 0;
  bottom: 0;
  padding-right: 3px;
  padding-top: 30px;
  z-index: 100060;
  display: flex;
  flex-flow: row wrap;
  transition: all .5s ease;
  @include media (sm) {
    z-index: 9999;
  }
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    transition: all .5s ease;
    height: 100%;
  }
  * {
    outline: none;
    &:active {
      outline: none;
    }
  }
  &__slider-1 {
    height: 120px;
    padding: 0 17px;
    flex-basis: 100%;
    background: #20283D;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        @include text (16px,$f,700,#5F6573,40px);
      }
      input {
        width: 96px;
        height: 26px;
        background: rgba(6,14,35,.1);
        border-radius: 2px;
        border: none;
        @include text (16px,$f,700,white,1);
        padding: 0 10px;
        background: #060E23;
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
      }
    }
    #slider-1 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 17px;
      margin-bottom: 7px;
      background: #2A5879;
      div {
        background: #008ED4;
        user-select: none;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
        user-select: none;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      background: url('/img/filter/measure-1.png') no-repeat 47% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,#666C7A,40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: -2px;
      }
      small:nth-of-type(2) {
        left: 3px;
      }
      small:nth-of-type(3) {
        left: 5px;
      }
      small:nth-of-type(4) {
        left: 3px;
      }
      small:nth-of-type(5) {
        right: 0px;
      }
    }
  }

  &__slider-2 {
    height: 135px;
    padding: 0 17px;
    background: #373F54;
    padding-top: 25px;
    flex-basis: 100%;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        @include text (16px,$f,700,#5F6573,16px);
        text-align: center;
      }
      input {
        width: 96px;
        height: 26px;
        background: rgba(6,14,35,.1);
        border-radius: 2px;
        border: none;
        @include text (16px,$f,700,white,1);
        padding: 0 10px;
        background: #060E23;
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
        padding-left: 0;
      }
    }
    #slider-2 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 17px;
      margin-bottom: 7px;
      background: #2A5879;
      div {
        background: #008ED4;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      right: 1px;
      background: url('/img/filter/measure-1.png') no-repeat 58% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,#666C7A,40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: 7px;
      }
      small:nth-of-type(2) {
        left: 5px;
      }
      small:nth-of-type(3) {
        left: 4px;
      }
      small:nth-of-type(4) {
        left: 0px;
      }
      small:nth-of-type(5) {
        right: 2px;
      }
    }
  }

  &__floor {
    height: 46px;
    margin-top: 7px;
    padding-left: 40px;
    flex-basis: 100%;
    background: #20283D;
    padding-left: 25px;
    padding-right: 35px;
    & > p {
      float: left;
    }
    p {
      @include text (16px,$f,700,#4F5364,40px);
    }
    &__inputs {
      float: right;
      width: 200px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      input {
        width: 42px;
        height: 26px;
        border-radius: 2px;
        background: #060E23;
        @include text (14px,$f,700,white,1);
        text-align: center;
        border: none;
      }
    }
  }

  &__room {
    background: #373F54;
    height: 46px;
    padding-left: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-basis: 100%;
    padding-left: 50px;
    padding-right: 39px;
    .sidebar__room__check {
      label {
        border-color: #4F5364;
        color: white;
      }
    }
    p {
      @include text (14px,$f,700,#5F6573,46px);
    }
    &__check {
      position: relative;
      height: 100%;
      display: flex;
      width: 170px;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-right: 0;
      input {
        display: none;
      }
      label {
        @include text (14px,$f,white,700,25px);
        text-align: center;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 3px solid #D8DADC;
        cursor: pointer;
        transition: all .2s ease;
        user-select: none;
      }
      input:checked + label {
        border-color: #00B8F4;
        background: #0091D8;
        color: white;
      }
    }
  }

  &__slider-3 {
    height: 135px;
    padding: 0 17px;
    background: #20283D;
    padding-top: 25px;
    flex-basis: 100%;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p:nth-of-type(1), p:nth-of-type(2) {
        display: none;
      }
      p {
        @include text (16px,$f,700,#5F6573,16px);
        text-align: center;
      }
      input {
        width: 96px;
        height: 26px;
        background: #060E23;
        border-radius: 2px;
        border: none;
        padding: 0 10px;
        @include text (16px,$f,700,white,1);
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
        padding-left: 0;
      }
    }
    #slider-3 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 17px;
      margin-bottom: 7px;
      background: #2A5879;
      div {
        background: #008ED4;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      right: 1px;
      background: url('/img/filter/measure-1.png') no-repeat 58% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,#666C7A,40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: 20px;
      }
      small:nth-of-type(2) {
        left: 16px;
      }
      small:nth-of-type(3) {
        left: 8px;
      }
      small:nth-of-type(4) {
        left: -2px;
      }
      small:nth-of-type(5) {
        right: 11px;
      }
    }
  }

  &__slider-4 {
    height: 135px;
    padding: 0 17px;
    background: #20283D;
    padding-top: 25px;
    flex-basis: 100%;
    &__inputs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        @include text (16px,$f,700,#5F6573,16px);
        text-align: center;
      }
      input {
        width: 96px;
        height: 26px;
        background: #060E23;
        border-radius: 2px;
        border: none;
        padding: 0 10px;
        @include text (16px,$f,700,white,1);
      }
      input:nth-of-type(1) {
        text-align: left;
      }
      input:nth-of-type(2) {
        text-align: right;
        padding-left: 0;
      }
    }
    #slider-4 {
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      width: 83%;
      border: none;
      margin-top: 17px;
      margin-bottom: 7px;
      background: #2A5879;
      div {
        background: #008ED4;
      }
      span {
        border-radius: 50%;
        background: #0091D8;
        border: 4px solid #00B8F4;
        width: 17px;
        height: 17px;
        outline: none;
        top: -6.5px;
        cursor: pointer;
      }
    }
    &__values {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 92%;
      margin: 0 auto;
      position: relative;
      right: 1px;
      background: url('/img/filter/measure-1.png') no-repeat 58% 20%;
      background-size: 90% auto;
      padding-top: 10px;
      small {
        @include text (10px,$f,400,#666C7A,40px);
        position: relative;
      }
      small:nth-of-type(1) {
        left: 16px;
      }
      small:nth-of-type(2) {
        left: 13px;
      }
      small:nth-of-type(3) {
        left: 8px;
      }
      small:nth-of-type(4) {
        left: 0px;
      }
      small:nth-of-type(5) {
        right: 10px;
      }
    }
  }

  &__option {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #20283D;
    align-items: center;
    flex-basis: 100%;
    label {
      @include text (14px,$f,700,#5F6573,65px);
      height: 65px;
      display: block;
      position: relative;
      cursor: pointer;
      transition: all .2s ease;
      user-select: none;
      flex-basis: 100%;
      padding-left: 50px;
      &:nth-of-type(2) {
        background: #373F54;
      }
      br {
        display: none;
      }
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        border: 3px solid #4D5366;
        border-radius: 50px;
        position: absolute;
        right: 38px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease;
      }
      &:before {
        content: '';
        display: block;
        border-radius: 550px;
        border: 8px solid transparent;
        position: absolute;
        right: 45px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease;
      }
    }
    input:not(:last-of-type):checked + label:before {
      border-color: #0091D8;
    }
    input:last-of-type:checked + label {
      color: #F8B00A;
      &:after {
        border-color: #FFE6A6;
      }
      &:before {
        border-color: #F8B00A;
      }
    }
    input {
      visibility: hidden;
      width: 0;
      height: 0;
      font-size: 0;
    }
  }

  &__details {
    background: #373F54;
    flex-basis: 100%;
    padding: 50px 50px 40px 50px;
    margin-bottom: 30px;
    & > div {
        @include media (md) {
            margin-top: 5px;
        }
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img {
        margin-right: 35px;
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: auto;
      }
      p {
        display: inline-block;
        @include text (15px,$f,300,rgba(255,255,255,.3),26px);
        font-style: italic;
        &:before {
          content: '—';
          display: inline-block;
          color: rgba(255,255,255,.3);
          margin-right: 20px;
        }
      }
    }
  }
}

.footer {
  transition: all .5s ease;
  @include media (sm) {
    transition: all .5s linear;
  }
}


.table-mobile, .filter .container .table-mobile + a {
  display: none;
}

// Lightbox————————————————

div.fancybox-slide .fancybox-image-wrap {
  cursor: auto;
  right: 0;
  @include media (sm) {
    top: 70px !important;
    bottom: auto !important;
    transform: translateY(0) !important;
    height: calc(100vh - 70px) !important;
  }
  img {
    pointer-events: none;
    object-fit: cover;
    @include media (sm) {
      width: 100vw;
    }
  }
}


.fancybox-navigation.fancybox-navigation-visible {
  display: block !important;
}


.fancybox-navigation {
  display: none;
  opacity: 1;
  .fancybox-arrow--left {
    bottom: 0;
    top: auto;
    background: none;
    transform: rotate(0);
    left: 10px;
    cursor: pointer;
    opacity: 1 !important;
    &:after {
      background: url(/img/common/arrow-left.svg) no-repeat center;
      background-size: contain;
      pointer-events: none;
      top: 35px;
      cursor: pointer;
    }
  }
  .fancybox-arrow--right {
    bottom: 0;
    top: auto;
    background: none;
    transform: rotate(0);
    right: 10px;
    cursor: pointer;
    opacity: 1 !important;
    &:after {
      background: url(/img/common/arrow-right.svg) no-repeat center;
      background-size: contain;
      pointer-events: none;
      top: 35px;
      cursor: pointer;
    }
  }
  .count-wrapper {
    position: absolute;
    width: 100%;
    bottom: 35px;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    pointer-events: none;
    .image-index {
      @include text (40px,$f,300,white,15px);
    }
    .image-total {
      @include text (16px,$f,300,white,15px);
    }
  }
}

.fancybox-is-open {
  .fancybox-button--close {
    opacity: 1 !important;
  }
}

.fancybox-container {
  z-index: 100112;
  .fancybox-stage {
    pointer-events: none;
  }
  .fancybox-toolbar {
    width: 100%;
    height: 60px;
    top: 70px;
    @include media (xs) {
      height: 55px;
    }
    .fancybox-button--close {
      width: 30px;
      height: 30px;
      background: url(/img/common/icon-close.png) no-repeat center;
      background-size: contain;
      border: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5vw;
      transition: all .6s ease;
      opacity: 0;
      @include media (md) {
        display: none;
      }
      &:after, &:before {display: none;}
    }
  }
  .fancybox-caption-wrap {
    padding: 0 0;
    top: 0;
    height: 60px;
    background: rgba(0,0,0,.2);
    right: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: all .3s ease;
    opacity: 0;
    @include media (md) {
      display: flex;
      justify-content: center;
    }
    @include media (sm) {
      padding-left: 5vw;
      width: 100vw;
    }
    @include media (xs) {
      height: 55px;
    }
    &--show {
      opacity: 1 !important;
    }
    .fancybox-caption {
      @include text (18px,$f,700,white,60px);
      text-align: center;
      padding: 0 0;
      border: none;
      @include media(xs) {
        font-size: 14px;
        line-height: 40px;
      }
    }
  }
}

.fancybox-caption-wrap:not(:first-of-type), .fancybox-caption:not(:first-of-type) {
  display: none !important;
}