
@import "utilities/index";
@import "states/index";
@import "media/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  line-height: 62.5%;
  overflow: hidden;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

.flat-content {
  z-index: 5100;
  height: calc(100vh - 126px);
  width: 100vw;
  position: absolute;
  bottom: 0;
  top: 126px;
  padding-top: 100px;
  padding-right: 100px;
  transition: all .4s ease;
  &__360 {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    z-index: 100;
    p {
      @include text (14px,$f,400,white,16px);
      float: left;
      margin-right: 20px;
      margin-top: 25px;
      text-transform: uppercase;
    }
    img {
      float: right;
      width: 75px !important;
      height: auto !important;
    }
  }
  h3 {
    @include text (50px,$f,300,white,60px);
    text-transform: uppercase;
    position: absolute;
    left: 60px;
    bottom: 130px;
    z-index: 99;
    white-space: nowrap;
  }
  input {
    width: 386px;
    height: 60px;
    background: #c02d2b;
    @include text (20px,$f,400,white,1);
    border: none;
    outline: none;
    position: absolute;
    left: 60px;
    bottom: 60px;
    z-index: 100;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;
    &:hover {
      background: lighten(#c02d2b,5%);
    }
  }

  .swiper-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 126px);
    @include media (sm) {
      height: calc(100vh - 70px);
    }
    .swiper-wrapper {
      div {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.4);
          display: none;
          @include media (xs) {
            display: block;
          }
        }
      }
    }
    .swiper-toolbar {
      width: 155px;
      display: flex;
      height: 50px;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
      position: absolute;
      bottom: 200px;
      left: 45px;
      z-index: 1;
      @include media (xs) {
        left: 50%;
        transform: translateX(-50%);
        width: 93%;
        bottom: 90px;
      }
      & > * {
        position: relative;
      }
      .swiper-button-prev {
        background: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        svg {
          height: 40px;
          width: 110px;
          transition: all .2s ease;
          &:hover {
            fill: #DFA021;
          }
        }
      }
      .flat-content__counter {
        z-index: 100;
        text-align: center;
        @include text (40px,$f,200,white,23px);
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        span {
          margin-right: 5px;
        }
        small {
          font-size: 16px;
        }
        @include media (xs) {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .swiper-button-next {
        background: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        svg {
          height: 40px;
          width: 110px;
          transition: all .2s ease;
          position: relative;
          right: 8px;
          g {
            transform-origin: center center;
          }
          &:hover {
            fill: #DFA021;
          }
        }
      }
    }
  }

}