
@import "utilities/index";
@import "states/index";
@import "media/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  line-height: 62.5%;
  height: 100%;
}

body {
  height: 100%;
}

.bannerContainer {
  position: absolute;
  top: 126px;
  right: 0;
  height: auto;
  width: 18.3%;
  z-index: 5846;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding-right: 45px;
  padding-top: 90px;
  @include media (sm) {
    top: 70px;
    padding-top: 30px;
    padding-right: 30px;
  }
}

.banner {
  width: 270px;
  min-height: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  @include media (xs) {
    display: none !important;
  }
  &__wrapper {
    text-decoration: none;
  }
  &__header {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__text {
    padding-left: 20px;
    padding-right: 20px;
  }
  &--promo1 &__header {
    @include text (19px,$f,800,#060f23, 36px);
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &--promo1 &__text {
    @include text (14px,$f,300,white,18px);
    text-transform: uppercase;
    font-style: italic;
  }
  &--promo2 &__header {
    @include text (14px,$f,800,white, 20px);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &--promo2 &__text {
    @include text (15px,$f,700,#060f23,35px);
    width: 200px;
    height: 35px;
    background: #FFC203;
    padding-right: 0;
  }
  &--action &__header {
    @include text (14px,$f,300,#e6af2c, 23px);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &--action &__text {
    @include text (16px,$f,300,white,23px);
    text-transform: uppercase;
  }
}

  // .action-main {
  //   width: 272px;
  //   height: 123px;
  //   background: rgba(6,14,35,.7);
  //   border-radius: 5px;
  //   position: absolute;
  //   top: 205px;
  //   right: 45px;
  //   z-index: 9998;
  //   padding-left: 20px;
  //   // overflow: hidden;
  //   h3 {
  //     @include text (14px,$f,400,$or,20px);
  //     text-transform: uppercase;
  //     z-index: 999;
  //     position: absolute;
  //     top: 22px;
  //   }
  //   #owl-carousel2 {
  //     height: 123px;
  //     padding-top: 30px;
  //     .owl-stage-outer {
  //       width: 99%;
  //     }
  //     .owl-stage {
  //       display: flex;
  //       align-items: flex-end;
  //     }
  //     .owl-nav {
  //       position: absolute;
  //       top: 22px;
  //       right: 20px;
  //       width: 60px;
  //       display: flex;
  //       margin: 0 0;
  //       flex-flow: row nowrap;
  //       justify-content: space-between;
  //       z-index: 100;
  //       & > div {
  //         background: red;
  //         margin: 0 0;
  //         width: 15px;
  //         height: 15px;
  //         z-index: 100;
  //       }
  //       .owl-prev {
  //         background: url('/img/home/arrow-left.png') no-repeat center;
  //         background-size: 6px 10px;
  //       }
  //       .owl-next {
  //         background: url('/img/home/arrow-right.png') no-repeat center;
  //         background-size: 6px 10px;
  //       }
  //     }
  //     .item {
  //       width: 100%;
  //       margin: 0 0;
  //       margin-top: 15px;
  //     }
  //     .item {
  //       a {
  //         color: white;
  //         text-decoration: none;
  //       }
  //       p {
  //         @include text (16px,$f,400,white,23px);
  //         text-transform: uppercase;
  //       }
  //     }
  //   }
  // }

.content {
  height: calc(100vh - 126px);
  position: relative;
  bottom: 0;
  margin-top: 126px;
  width: 100%;
  z-index: 5000;
  transition: all .4s ease;
  overflow: hidden;
  #owl-carousel {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
      overflow: hidden;
    .owl-item {
      a {
        text-decoration: none;
      }
      .item {
        position: relative;
        height: calc(100vh - 122px);
        & > div {
          & > span {
            cursor: pointer;
          }
          p {
            transition: all .3s ease;
          }
          & > span:hover p {
            color: #E4AC37;
          }
        }
        img {
          min-height: 100%;
          min-width: 100vw;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    .owl-nav {
      position: absolute;
      bottom: 157px;
      left: 99px;
      height: 67px;
      width: 267px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .owl-prev {
        background: url("/img/home/arrow-left-big.png") no-repeat center;
        padding: 0 0;
        width: 24px;
        height: 24px;
        margin: 0 0;
      }
      .owl-next {
        background: url("/img/home/arrow-right-big.png") no-repeat center;
        padding: 0 0;
        width: 24px;
        height: 24px;
        margin: 0 0;
      }
    }
    .owl-dots {
      position: absolute;
      height: 4px;
      bottom: 190px;
      left: 165px;
      div {
        width: 40px;
        height: 4px;
        margin-right: 5px;
        span {
          width: 100%;
          height: 100%;
          background-color: rgba(255,255,255,.5);
          margin: 0 0;
          &:hover {
            background: rgba(255,255,255,.5);
          }
        }
      }
      .active span {
        background: $or;
        &:hover {
          background: $or;
        }
      }
    }
    .item {
      div {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 100px;
        padding-left: 100px;
        p {
          @include text (50px,$f,200,#fffffe,60px);
          text-transform: uppercase;
        }
        p:last-of-type {
          font-weight: 700;
        }
        input {
          width: 266px;
          height: 60px;
          background: #c02d2b;
          border: none;
          outline: none;
          margin-top: 65px;
          @include text (20px,$f,700,white,1);
          text-transform: uppercase;
          cursor: pointer;
          transition: all .3s ease;
          &:hover {
            background: red;
          }
        }
      }
    }
  }

  .action-2 {
    display: none;
    width: 272px;
    height: 162px;
    background: rgba(6,14,35,.7);
    border-radius: 5px;
    position: absolute;
    top: 22vh;
    right: 5vw;
    z-index: 99;
    padding-top: 65px !important;
    padding-left: 25px;
    h3 {
      @include text (14px,$f,700,$or,20px);
      text-transform: uppercase;
      z-index: 999;
      // position: absolute;
      // top: 22px;
    }
    &__counter {
      width: 222px;
      height: 73px;
      background: #FFC300;
      margin: 0 auto;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      i, p {
        @include text (13px,$f,700,black,18px);
        text-transform: uppercase;
      }
      i {
        padding-top: 10px;
        display: block;
        font-weight: 400;
        font-style: normal;
      }
      &__numbers {
        width: 80px;
        height: 50px;
        float: left;
        margin-top: 11.5px;
        margin-left: 11.5px;
        margin-right: 20px;
        .action-num-1 {
          float: left;
          background: black;
          height: 100%;
          width: 48.5%;
          @include text (50px,$f,300,white,50px);
          text-align: center;
        }
        .action-num-2 {
          float: right;
          background: black;
          height: 100%;
          width: 48.5%;
          @include text (50px,$f,300,white,50px);
          text-align: center;
          overflow: hidden;
        }
      }
    }


    #owl-carousel3 {
      height: 123px;
      .owl-nav {
        position: absolute;
        top: -17px;
        right: 20px;
        width: 60px;
        display: flex;
        margin: 0 0;
        flex-flow: row nowrap;
        justify-content: space-between;
        & > div {
          margin: 0 0;
          width: 15px;
          height: 15px;
        }
        .owl-prev {
          background: url('/img/home/arrow-left.png') no-repeat center;
          background-size: 6px 10px;
        }
        .owl-next {
          background: url('/img/home/arrow-right.png') no-repeat center;
          background-size: 6px 10px;
        }
      }
      .item {
        width: 100%;
        margin: 0 0;
        margin-top: 10px;
      }
      .item {
        p {
          @include text (16px,$f,400,white,23px);
          text-transform: uppercase;
        }
      }
    }
  }
}


// footer.footer {
//     background: #F0F0F0;
//     width: 100vw;
//     z-index: 5000;
//     transition: all .5s ease;
// }

  // height: calc(100% - 126px) !important;
  // width: 100vw;
  // max-width: 100vw !important;
  // position: absolute;
  // top: 126px !important;
  // left: 0;
  // z-index: 9999 !important;
  // margin: 0 0 !important;
  // overflow: hidden !important;
  // &:before, &:after {
  //   display: none !important;
  // }

.fancybox-slide {
  @include media (md) {
    overflow: hidden;
  }
}
#modal2 {
  height: calc(100vh - 126px) !important;
  width: 100vw;
  min-width: $sm;
  position: absolute;
  top: 126px !important;
  left: 0;
  z-index: 9999 !important;
  margin: 0 0 !important;
  display: none;
  padding: 0 0;
  transition: all .7s ease !important;
  &:before, &:after {
    display: none !important;
  }
  &.zoomIn {
    z-index: 998 !important;
  }
  .close-modal-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 37%;
    background: url('/img/choose/icon-cross.png') no-repeat center, white;
    background-size: 40%;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    transition: all .3s ease-in;
    &:hover {
      transform: rotate(90deg);
    }
  }
  .fitness__upper {
    height: 35%;
    width: 100%;
    background: #151E2E;
    &__container {
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 0 30px;
      padding-top: 70px;
      margin: 0 auto;
      position: relative;
      @include media (sm) {
        padding-top: 0;
      }
      & > div:not(:first-child) {
        flex-basis: 50%;
      }
      & > div:nth-of-type(2) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        img {
          margin-right: 50px;
        }
        h2 {
          @include text (35px,'Myriad Pro',400,white,43px);
          text-transform: uppercase;
        }
      }
      & > div:nth-of-type(3) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        p {
          @include text (16px,$f,300,white,25px);
          text-transform: uppercase;
          margin-bottom: 20px;
          text-align: left;
        }
        ul {
          padding-left: 18px;
          li {
            list-style-position: outside;
            @include text (16px,$f,300,white,25px);
          }
        }
      }
    }
  }
  .fitness__down {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
    position: absolute;
    height: 65%;
    width: 100%;
    overflow: hidden;
    & > div {
      position: relative;
      overflow: hidden;
      p {
        @include text (19px,$f,400,white,22px);
        text-transform: uppercase;
        position: absolute;
        bottom: 40px;
        left: 30px;
      }
    }
    & > div:nth-of-type(1) {
      flex-basis: 100%;
      width: 50%;
      &:hover:before {
        transform: scale(1.1);
      }
      &:before {
        content: '';
        transition: transform .7s ease-out;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('/img/choose/fitness-bg-1.jpg') no-repeat center;
        background-size: cover;
        transform: scale(1.01);
      }
    }
    & > div:nth-of-type(2) {
      flex-basis: 100%;
      width: 50%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      & > div:nth-of-type(1) {
        flex-basis: 100%;
        width: 50%;
        position: relative;
        overflow: hidden;
        &:hover:before {
          transform: scale(1.1);
        }
        &:before {
          content: '';
          transition: transform .7s ease-out;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: url('/img/choose/fitness-bg-2.jpg') no-repeat center;
          background-size: cover;
          transform: scale(1.01);
        }
      }
      & > div:nth-of-type(2) {
        flex-basis: 50%;
        width: 50%;
        position: relative;
        overflow: hidden;
        &:hover:before {
          transform: scale(1.1);
        }
        &:before {
          content: '';
          transition: transform .7s ease-out;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: url('/img/choose/fitness-bg-3.jpg') no-repeat center;
          background-size: cover;
          transform: scale(1.01);
        }
      }
      & > div:nth-of-type(3) {
        flex-basis: 50%;
        width: 50%;
        position: relative;
        overflow: hidden;
        &:hover:before {
          transform: scale(1.1);
        }
        &:before {
          content: '';
          transition: transform .7s ease-out;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: url('/img/choose/fitness-bg-4.jpg') no-repeat center;
          background-size: cover;
          transform: scale(1.01);
        }
      }
    }
  }
}


// #modal-2 {
//   height: calc(100% - 126px) !important;
//   width: 100vw;
//   max-width: 100vw !important;
//   position: absolute;
//   top: 126px !important;
//   left: 0;
//   z-index: 9999 !important;
//   margin: 0 0 !important;
//   overflow: hidden !important;
//   &:before, &:after {
//     display: none !important;
//   }
//   .close-modal-2 {
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     right: 10px;
//     top: 24%;
//     background: url('/img/choose/icon-cross.png') no-repeat center, white;
//     background-size: 40%;
//     border-radius: 50%;
//     z-index: 99;
//     cursor: pointer;
//     transition: all .3s ease-in;
//     &:hover {
//       transform: rotate(90deg);
//     }
//   }
//   .fitness__upper {
//     height: 35%;
//     width: 100%;
//     background: #151E2E;
//     .fitness__upper__container {
//       height: 100%;
//       display: flex;
//       flex-flow: row nowrap;
//       justify-content: flex-start;
//       align-items: center;
//       padding: 0 25px;
//       position: relative;
//       & > div {
//         flex-basis: 50%;
//       }
//       & > div:nth-of-type(2) {
//         display: flex;
//         flex-flow: row nowrap;
//         justify-content: flex-start;
//         align-items: center;
//         img {
//           margin-right: 50px;
//         }
//         h2 {
//           @include text (40px,'Myriad Pro',400,white,54px);
//           text-transform: uppercase;
//         }
//       }
//       & > div:nth-of-type(3) {
//         display: flex;
//         flex-flow: column nowrap;
//         justify-content: center;
//         align-items: flex-start;
//         p {
//           @include text (16px,$f,400,white,25px);
//           text-transform: uppercase;
//           margin-bottom: 20px;
//           text-align: left;
//         }
//         ul {
//           li {
//             list-style-position: inside;
//             @include text (16px,$f,400,white,25px);
//           }
//         }
//       }
//     }
//   }
//   .fitness__down {
//     display: flex;
//     flex-flow: column wrap;
//     justify-content: center;
//     position: relative;
//     height: 65%;
//     width: 100%;
//     & > div {
//       position: relative;
//       overflow: hidden;
//       p {
//         @include text (18px,$f,400,white,22px);
//         text-transform: uppercase;
//         position: absolute;
//         bottom: 40px;
//         left: 30px;
//       }
//     }
//     & > div:nth-of-type(1) {
//       flex-basis: 100%;
//       width: 50%;
//       &:hover:before {
//         transform: scale(1.1);
//       }
//       &:before {
//         content: '';
//         transition: all .7s ease-out;
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         top: 0;
//         left: 0;
//         background: url('/img/choose/fitness-bg-1.jpg') no-repeat center;
//         background-size: cover;
//       }
//     }
//     & > div:nth-of-type(2) {
//       flex-basis: 100%;
//       width: 50%;
//       display: flex;
//       flex-flow: row wrap;
//       & > div:nth-of-type(1) {
//         flex-basis: 100%;
//         width: 25%;
//         position: relative;
//         overflow: hidden;
//         &:hover:before {
//           transform: scale(1.1);
//         }
//         &:before {
//           content: '';
//           transition: all .7s ease-out;
//           width: 100%;
//           height: 100%;
//           position: absolute;
//           top: 0;
//           left: 0;
//           background: url('/img/choose/fitness-bg-2.jpg') no-repeat center;
//           background-size: cover;
//         }
//       }
//       & > div:nth-of-type(2) {
//         flex-basis: 50%;
//         width: 25%;
//         position: relative;
//         overflow: hidden;
//         &:hover:before {
//           transform: scale(1.1);
//         }
//         &:before {
//           content: '';
//           transition: all .7s ease-out;
//           width: 100%;
//           height: 100%;
//           position: absolute;
//           top: 0;
//           left: 0;
//           background: url('/img/choose/fitness-bg-3.jpg') no-repeat center;
//           background-size: cover;
//         }
//       }
//       & > div:nth-of-type(3) {
//         flex-basis: 50%;
//         width: 25%;
//         position: relative;
//         overflow: hidden;
//         &:hover:before {
//           transform: scale(1.1);
//         }
//         &:before {
//           content: '';
//           transition: all .7s ease-out;
//           width: 100%;
//           height: 100%;
//           position: absolute;
//           top: 0;
//           left: 0;
//           background: url('/img/choose/fitness-bg-4.jpg') no-repeat center;
//           background-size: cover;
//         }
//       }

//     }
//   }
// }




#modal {
  // height: calc(100% - 126px) !important;
  // width: 100vw;
  max-width: 100vw !important;
  position: absolute;
  top: 126px !important;
  left: 0;
  height: calc(100% - 126px);
  padding: 0 0;
  z-index: 9999 !important;
  margin: 0 0 !important;
  overflow: hidden !important;
  display: none;
  background: #ccc;
  &:before, &:after {
    display: none !important;
  }
  .close-modal {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 100px;
    background: url('/img/choose/icon-cross.png') no-repeat center, white;
    background-size: 40%;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    box-shadow: 0 0px 12px 0px rgba(255,255,255,1);
    transition: all .3s ease-in;
    &:hover {
      transform: rotate(90deg);
    }
    @include media (sm) {
      top: 30px;
      right: 30px;
    }
  }
  .map {
    height: 100% !important;
    width: 100vw !important;
  }
}
  .iziModal-content {
    height: calc(100vh - 126px) !important;
    width: 100vw !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
  }
  .iziModal-wrap {
    height: calc(100vh - 126px) !important;
    width: 100vw !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
  }
  // .iziModal-overlay {
  //   display: none !important;
  // }

  .gm-style-cc, .gm-fullscreen-control, .gm-bundled-control-on-bottom, .gm-style-mtc, [src*="google4.png"] {
    display: none !important;
  }

  .gmnoprint.gm-bundled-control {
    left: 92px !important;
    right: auto !important;
    top: auto !important;
    bottom: 100px !important;
    @include media (sm) {
      left: 15px !important;
      bottom: 70px !important;
    }
  }

  .tooltip-1 {
    opacity: 1 !important;
    visibility: visible !important;
    width: 270px;
    height: 59px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: rgba(6,14,35,.7);
    @include text (14px,$f,400,white,16px);
    padding-left: 20px;
    position: relative;
    outline: none;
    pointer-events: none;
    &:after {
      content: '';
      display: block;
      border-style: solid;
      border: 6px solid transparent;
      border-left: 25px solid rgba(6,14,35,.7);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -30px;
    }
  }

  .tooltip-2 {
    opacity: 1 !important;
    visibility: visible !important;
    width: 270px;
    height: 59px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: rgba(6,14,35,.7);
    @include text (14px,$f,400,white,16px);
    padding-left: 20px;
    position: relative;
    &:after {
      content: '';
      display: block;
      border-style: solid;
      border: 6px solid transparent;
      border-bottom: 25px solid rgba(6,14,35,.7);
      position: absolute;
      top: -30px;
      left: 30px;
    }
  }

  .tooltip-3 {
    opacity: 1 !important;
    visibility: visible !important;
    width: 160px;
    height: 59px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: rgba(6,14,35,.7);
    @include text (14px,$f,400,white,16px);
    padding-left: 20px;
    position: relative;
    &:after {
      content: '';
      display: block;
      border-style: solid;
      border: 6px solid transparent;
      border-left: 25px solid rgba(6,14,35,.7);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -30px;
    }
  }


.page-under {
  @include media (sm) {
    display: none !important;
  }
}