
@import "utilities/index";
@import "states/index";
@import "media/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  line-height: 62.5%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  // min-width: 1440px;
  @include media (sm) {
  	height: auto !important;
  	overflow-y: auto;
  	overflow-x: hidden;
  }
}

body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
    @include media (sm) {
    	height: auto !important;
  	overflow-y: auto;
  	overflow-x: hidden;
  }
}

.remodal-overlay {
	z-index: 100114 !important;
	background: rgba(0,5,30,.8) !important;
}

.remodal-wrapper {
	z-index: 100114;
	@include media (sm) {
		padding-left: 0;
		padding-right: 0;
	}
}

.remodal {
	width: 892px;
	max-width: 892px;
	// height: auto;
	background: white;
	padding: 70px 80px 70px 80px;
	.remodal-close {
		display: block;
		background: url('/img/mortgage/icon-close.png') no-repeat center;
		background-size: contain;
		left: auto !important;
		right: -60px;
		width: 30px;
		height: 30px;
		position: absolute;
		&:before {
			display: none;
		}
	}
	* {
		text-align: left;
	}
	img {
		display: block;
	}
	h3 {
		@include text (20px,$f,700,#060e23,20px);
		margin: 50px 0;
	}
	p {
		@include text (16px,$f,400,#060e23,18px);
		margin-bottom: 8px;
		span {
			font-weight: 800;
		}
		&:last-of-type {
			margin-bottom: 0;
			margin-top: 30px;
		}
	}
	ul li {
		display: block;
		@include text (16px,$f,400,#060e23,18px);
		margin-top: 10px;
	}
	& > span {
		@include text (16px,$f,400,#e6af2c,18px);
		display: block;
		margin-top: 30px;
		margin-bottom: 10px;
	}
}


[data-remodal-id].remodal {
	input:not([type="submit"]) {
		background: #FFC206;
		display: block;
		margin: 0 auto;
		width: 85%;
		height: 26px;
		font-size: 16px;
     text-align: center;
     font-weight: 600;
     font-family: DINNextCYR-Regular, Helvetica, Arial, sans-serif;
     text-transform: uppercase;
     border: none;
     outline: none;
     margin-top: 20px;
	}
}

.container-fluid {
	min-height: calc(100vh - 126px);
	height: auto;
	margin-top: 126px;
	background: #060E23;
	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding-top: 110px;
		padding-bottom: 50px;
		height: auto !important;
		h2 {
			@include text (60px,$pt,400,white,55px);
			text-transform: uppercase;
			flex-basis: 100%;
			margin-bottom: 60px;
		}
		.mortgage__banks {
			width: 870px;
			height: 363px;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			&__bank {
				height: 170px;
				flex-basis: 30%;
				background: white;
				padding: 20px 0 0 20px;
				position: relative;
				cursor: pointer;
				margin-right: 13px;
				transition: all .3s ease;
				&:hover {
					opacity: .5;
				}
				&:not(.bank-info) p {
					@include text (18px,$f,300,#060e23,18px);
					position: absolute;
					bottom: 20px;
					span {
						font-weight: 700;
					}
				}
				img {
					width: 200px;
					height: auto;
				}
			}
			.bank-1 {
				img {
					width: 140px;
				}
			}
			.bank-info {
				background: url("/img/mortgage/bank-6-img.jpg") no-repeat center;
				background-size: cover;
				padding-right: 60px;
				cursor: auto;
				p:first-of-type {
					@include text (18px,$f,500,#fac40c,22px);
					text-transform: uppercase;
				}
				p:last-of-type {
					@include text (18px,$f,300,white,18px);
					position: absolute;
					bottom: 20px;
					right: 20px;
				}
			}
		}
		
		.action {
			top: 116px;
		}
		.order-mortgage {
			width: 291px;
			height: 60px;
			background: #ffc303;
			margin-left: 6px;
			@include text (20px,$f,500,#060e23,64px);
			text-transform: uppercase;
			text-decoration: none;
			position: relative;
			order: 3;
			text-align: center;
			vertical-align: middle;
			transition: all .3s ease;
			margin-top: 80px;
			&:hover {
				&:before {
					margin-right: 23px;
				}
			}
			&:before {
				content: url('/img/mortgage/icon-paper.png');
				position: relative;
				top: 5px;
				margin-right: 10px;
				transition: all .3s ease;
			}
		}
	}
}

@include media (sm) {

  .container-fluid {
    margin-top: 69px;
    height: auto;
    .container {
      flex-flow: column nowrap;
      padding-top: 0;
      h2 {
        font-size: 40px;
        margin-top: 45px;
        margin-bottom: 50px;
      }
      .mortgage__banks {
        width: 640px;
        height: 550px;
        justify-content: space-between;
        &__bank {
          flex-basis: auto;
          width: 307px;
          margin-right: 0 !important;
        }
      }
      .order-mortgage {
        flex-basis: auto;
        margin-top: 40px;
      }
    }
    .action {
      display: none !important;
    }
  }

  .remodal-wrapper {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    padding-left: 0;
    background: white;
    .remodal {
      width: 100vw;
      height: 100%;
      padding: 81px 15% 50px 20px;
      overflow-x:hidden;
      overflow-y: scroll;
      display: flex;
      flex-flow: row nowrap;
		@include media (sm) {
			max-width: 100%;
			width: 100%;
			padding: 0 90px;
			justify-content: center;
		   align-items: center;
			img {
				height: 80px;
				width: auto;
			}
		}
		@include media (xs) {
			padding: 120px 35px 50px 35px;
			img {
				height: auto;
				width: 60vw;
			}
	      .remodal__content {
	      	margin: auto;
	      }
		}
      .remodal-close {
        right: 30px !important;
        top: 30px !important;
        background: url('/img/mortgage/icon-close-mobile.png') no-repeat center;
        background-size: contain;
        @include media (xs) {
        	top: 84px!important;
        	right: 30px !important;
        }
      }
    }

  }

  footer.footer {
  		position: relative !important;
  		bottom: 0 !important;
  		transform: translate3d(0,0,0) !important;
  }
}



@include media (xs) {

    section.container-fluid {
        height: auto;
        width: 100vw;
        .container {
            width: 100vw;
            padding-left: 0;
            h2 {
                font-size: 25px;
                margin: 20px 0 20px 4vw;
            }
            .mortgage__banks {
                width: 100vw;
                height: 1075px;
                &__bank {
                    width: 92vw;
                }
                .bank-1 {
                    order: 2
                }
                .bank-2 {
                    order: 3
                }
                .bank-3 {
                    order: 4
                }
                .bank-4 {
                    order: 5
                }
                .bank-5 {
                    order: 6
                }
                .bank-6 {
                    order: 1;
                }
            }
        }
        .order-mortgage {
            width: 92vw !important;
            margin: 0px 0 20px 4vw !important;
        }
    }

}

