
@import "utilities/index";
@import "states/index";
@import "media/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  line-height: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}



.container-fluid {
	background: #1E2331;
	margin-top: 126px;
	padding-top: 70px;
	padding-bottom: 120px;
	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		h1 {
			@include text (60px,$f,400,white,80px);
			text-transform: uppercase;
			flex-basis: 100%;
		}
		h1 ~ p {
			@include text (20px,$f,400,#fdc12f,23px)
			padding-left: 21px;
			display: none;
			padding-right: 15px;
			&:last-of-type {
				margin-top: 25px;
				margin-bottom: 55px;
			}
		}
		.content {
			flex-basis: 70%;
			width: 910px;
			.tradein__content__offer {
				width: 100%;
				height: 405px;
				background: url('/img/tradein/offer-bg.jpg') no-repeat center;
				background-size: cover;
				position: relative;
				padding-top: 50px;
				padding-left: 20px;
				p {
					@include text (20px,$f,400,#fdc12f,23px);
					width: 40%;
					&:last-of-type {
						margin-top: 20px;
					}
				}
				a {
					display: block;
					width: 236px;
					height: 53px;
					background: #088168;
					border: 2px solid #00E4B0;
					border-radius: 5px;
					text-transform: uppercase;
					text-decoration: none;
					text-align: center;
					@include text (25px,$f,400,white,53px);
					position: absolute;
					bottom: 30px;
					left: 20px;
					transition: all .3s ease;
					cursor: pointer;
					&:hover {
						background: #00E4B0;
					}
				}
			}
			.tradein__content__divider-1 {
				height: 48px;
				background: #FDC12F;
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
				padding-left: 32px;
				.circle {
					height: 25px;
					width: 25px;
					border-radius: 25px;
					background: white;
					position: relative;
					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 2px;
						height: 12px;
						background: white;
						position: absolute;
						bottom: -10px;
						left: 50%;
						transform: translateX(-50%);
					}
				}
				h2 {
					@include text (20px,$f,400,white,23px);
					text-transform: uppercase;
					margin-left: 25px;
				}
			}

			.tradein__content__numbers {
				padding-left: 15px;
				padding-bottom: 40px;
				padding-right: 70px;
				background: white;
				ul {
					li {
						list-style-type: none;
						display: flex;
						flex-flow: row nowrap;
						justify-content: flex-start;
						align-items: center;
						&:not(:first-of-type) {
							margin-top: 40px;
						}
						&:nth-of-type(1) p {
							top: 4px;
						}
						&:nth-of-type(2) p {
							
						}
						&:nth-of-type(3) p {
							top: 8px;
						}
						&:nth-of-type(4) p {
							top: 8px;
						}
						&:nth-of-type(5) p {
							top: 8px;
						}
						img {
						}
						p {
							@include text (16px,$f,400,#1e2024,21px);
							position: relative;
							margin-left: 15px;
						}
					}
				}
			}

			.tradein__content__divider-2 {
				height: 76px;
				width: 100%;
				padding-left: 38px;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				h2 {
					@include text (23px,$f,400,#1e2024,23px);
					text-transform: uppercase;
				}
				background: #EAEAEA;
			}

			.tradein__content__advantages {
				background: white;
				padding-top: 50px;
				padding-bottom: 30px;
				padding-right: 70px;
				ul {
					li {
						position: relative;
						min-height: 70px;
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
						padding-right: 80px;
						align-items: center;
						list-style-type: none;
						&:not(:first-of-type) {
							margin-top: 20px;
						}
						&:nth-of-type(1) {
							
						}
						&:nth-of-type(2) {
							
						}
						&:nth-of-type(3) {
							
						}
						&:nth-of-type(4) {
							
						}
						&:nth-of-type(5) {
							
						}
						img {
							left: 14px;
							margin-left: 13px;
							margin-right: 18px;
							// position: absolute;
							// top: 50%;
							// transform: translateY(-50%);
						}
						h3 {
							@include text (20px,$f,400,#088167, 23px);
							text-transform: uppercase;
						}
						p {
							@include text (16px,$f,400,#1e2024,20px);
						}				
					}
				}
			}

			.tradein__content__bottom {
				min-height: 75px;
				background: #C02D2B;
				text-align: center;
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;
				padding: 0 80px;
				p {
					@include text (20px,$f,400,white,23px);
					br {
						display: block;
					}
				}
				a {
					@include text (23px,$f,700,white,23px);
					text-decoration: none;
				}
			}
		}
	}
}

@include media (sm) {

  section.container-fluid {
    margin-top: 70px;
    width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
    div.container {
      width: 100vw;
      padding: 0 0;
      h1 {
        font-size: 40px;
        padding-left: 21px;
      }
      .tradein {
        flex-basis: 100% !important;
        .tradein__content__offer {
          a {
            bottom: 45px;
          }
        }
        .tradein__content__advantages {
          padding-top: 40px;
          padding-bottom: 70px;
        }
      }
    }
  }

  .action {
  	display: none !important;
  }
}



@include media (xs) {

    section.container-fluid {
        div.container {
            h1 {
                font-size: 8vw;
                line-height: 40px;
                margin-top: 40px;
            }
            h1 ~ p {
                display: block;
            }
            .tradein{
                .tradein__content__offer {
                    height: 230px;
                    p {
                        display: none !important;
                    }
                    a {
                        left: 50% !important;
                        right: auto;
                        top: auto;
                        bottom: 50% !important;
                        transform: translate(-50%, 50%) !important;
                    }
                }
                .tradein__content__divider-1 {
                    padding-left: 0;
                    text-align: center;
                    .circle {
                        left: 14px;
                    }
                }
                .tradein__content__numbers {
                    padding-left: 12px;
                    padding-right: 10px;
                    ul {
                        padding-right: 20px;
                        li {
                            align-items: flex-start;
                            &:not(:first-of-type) {
                                margin-top: 25px;
                            }
                            &:nth-of-type(2) {
                                margin-top: 45px;
                            }
                            &:first-of-type p {
                                top: 15px;
                            }
                            img {
                                width: 30px;
                            }
                        }
                    }
                }
                .tradein__content__divider-2 {
                    padding: 0 10px;
                    h2 {
                        line-height: 27px;
                        text-align: center;
                    }
                }
                .tradein__content__advantages {
                    padding-bottom: 50px;
                    padding-right: 10px;
                    ul {
                        li {
                            align-items: flex-start;
                            padding-right: 20px;
                            img {
                                width: 30px;
                                position: relative;
                                left: 0;
                                top: -3px;
                            }
                            h3 {
                                line-height: 23px;
                                font-size: 6vw;
                                & + p {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
                .tradein__content__bottom {
                    padding: 17px 10px;
                     p {
                        br {
                            display: block;
                        }
                     }
                }
            }
        }
    }
}

