@import "../utilities/index";



.actions_all_block {
    width: 98%;
}

.b-content__box {
	img {
	    height: auto !important;
        @include media (xs) {
            padding: 0 10px;
        }
        @include media (sm) {
            width: 100% !important;
            max-width: unset !important;
        }
        @include media (md) {
            width: 100% !important;
        }
	}
}

.block-actions {
    background-size: cover !important;
}

.link_action_block:nth-of-type(1), .link_action_block:nth-of-type(2) {
    .block-actions {
        background-size: 100% auto !important;
    }
}

[id*="ymaps"] {
    width: 100% !important;
}

@media (max-width: 1240px) {

    div.text-content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@include media (xs) {
    div.text-content {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}


div.b-content.b-text {
  padding-top: 220px;
  min-height: 97vh;
  @include media (sm) {
  		padding-top: 70px;
  		.u-clear-fix .b-side-bar {
  			display: none !important;
  	  }
  }
}

.img-sold {
	background-position: center center;
	@include media (sm) {
		top: -27px !important;
	}
	@include media (smPlus) {
		width: 100% !important;
	}
}

#jquery-lightbox {
	top: 50% !important;
	transform: translateY(-50%) !important;
	position: fixed !important;
	img#lightbox-image {
		max-height: 60vh;
		width: auto;
		position: absolute;
	     top: 50%;
	     left: 50%;
	     transform: translate(-50%, -50%);
	}
	#lightbox-nav {
		top: 50% !important;
		transform: translateY(-50%) !important;
		& > a {
			top: 50% !important;
		}
	}
}

.b-wrapper {
    padding: 0 40px;
    @include media (xs) {
        padding: 0 20px;
    }
    @include media (sm) {
    	padding: 0 0;
    }
    @include media (md) {
    	width: 1340px !important;
    }
}

.b-side-bar {
    @include media (md) {
        margin-right: 40px;
    }
}

div.b-corpus-general {
	margin-top: 126px;
	margin-bottom: 50px;
	@include media (sm) {
		margin-top: 70px;
	}
	@include media (xs) {
		width: 100vw;
	}
	div.b-building-intro {
		.b-wrapper {
			position: relative;
			top: 0px;
		}
	}
	div.b-building {
		height: 570px;
		@include media (xs) {
			height: 200px;
		}
	}
	.b-building__lift {
		ul {
			list-style-type: none;
		}
	}
}

.span--message {
	position: relative;
   top: -11px;
}

.button-close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  top: 90px;
  background: url('/img/choose/icon-cross.png') no-repeat center, white;
  background-size: 40%;
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
  transition: all .3s ease-in;
  z-index: 100;
  border: none;
  @include media (sm) {
  	top: 13px;
  }
  @include media (xs) {
  	top: 87px;
  }
  &:hover {
    transform: rotate(90deg);
  }
}


.page-is-house {
	.b-building-intro {
		padding-top: 10px;
		.b-building {
			.b-wrapper {
				pointer-events: none;
				z-index: 100;
				h2 {
					pointer-events: all;
				}
			}
		}
	}
	@include media (md) {
		@media screen and (min-height: 1327px) {
			.footer {
				position: fixed !important;
				bottom: 0 !important;
			}
		}
	}
}

#simplemodal-overlay {
	z-index: 100030 !important;
}

#simplemodal-container {
	z-index: 100030 !important;
	overflow: scroll;
	width: auto !important;
	height: auto !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
	overflow: auto !important;
	@include media (xs) {
		transform: translate(-50%, -50%) scale(.7);
	}
}


.set-routes-btn__icon {
	img {
		height: 22px !important;
		width: auto !important;
	}
}


.b-link__blue {
    background: #3C90C5;
    margin-top: 40px !important;
    &:before {
        border-right: 50px solid #3C90C5;
    }
    &:after {
        border-left: 50px solid #3C90C5;
    }
}

#social-block {
    top: 580px !important;
}

.contact_map_1, .contact_map_2 {
    width: 100%;
    height: 500px;
}