@import "../fonts/index";
@import "../utilities/index";
@import "../states/index";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 30px
}

* {
  margin: 0 0;
  padding: 0 0;
}

body {
  min-width: 1260px;
  @include media (sm) {
    min-width: 100vw;
    &:not(.page--fullscreen) {
      overflow-x: hidden !important;
    }
  }
  @include media (md) {
    overflow-x: hidden !important;
  }
}

.simplemodal-overlay {
  background: rgba(0,0,0,.8);
}

span.callback__form, .flat_order_form {
  width: 324px;
  padding-left: 0; }
  span.callback__form form, .flat_order_form form {
    width: 324px;
    background: #060e23;
    border: 0 solid gray;
    padding-top: 5px;
    padding-bottom: 1px;
    /*margin-left: 22px; */ }
    span.callback__form form fieldset, .flat_order_form form fieldset {
      border: none;
      margin: 20px; 
      margin-top: 5px;
      margin-bottom: 10px
    }
    #simplemodal-container fieldset label {
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      display: block;
      font-family: DINNextCYR-Regular, Helvetica, Arial, sans-serif;
      color: white;
      position: relative;
      top: 5px;
    }
      span.callback__form form fieldset input, .flat_order_form form fieldset input {
        &:not([type="submit"]) {
          min-width: 270px !important;
          background: #FFC206;
        }
        &[type="submit"] {
          width: 170px;
          margin: 0 auto !important;
          display: block;
          cursor: pointer;
        }
        color: white;
        border: 2px solid transparent;
        height: 26px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        font-family: DINNextCYR-Regular, Helvetica, Arial, sans-serif;
        transition: all .3s ease;
        text-transform: uppercase; }
        span.callback__form form fieldset input.callback-submit, .flat_order_form form fieldset input.callback-submit {
          background-color: #00e5b0;
          color: white; }
      span.callback__form form fieldset textarea, .flat_order_form form fieldset textarea {
        min-width: 270px !important;
        color: white;
        width: 167px;
        height: 100px;
        border: 0 solid white;
        background-color: #ffc206;
        font-size: 16px;
        font-family: DINNextCYR-Regular, Helvetica, Arial, sans-serif;
        text-transform: uppercase; }
    span.callback__form form div, .flat_order_form form div {
      padding-bottom: 37px; }
      span.callback__form form div a, .flat_order_form form div a {
        color: white;
        font-size: 14px;
        display: block;
        text-transform: none;
        padding-left: 38px;
        line-height: 30px; }
    span.callback__form form .success, .flat_order_form form .success {
      padding: 13px;
      color: white;
      font-size: 20px;
      line-height: 20px; }

  .input--error {
    border-color: red !important;
  }