<header class="header" id="header">
  <div class="sub-menu--background"></div>
  <div class="container desktop">
    <a class="logo-desktop" href=""><img src="img/header/logo.png" alt="Logo"></a>
    <a class="logo-mobile" href=""><img src="img/header/logo-mobile.png" alt="Logo"></a>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav>
      <div class="nav__wrapper">
        <ul>
          <li>
            <a class="sub-trigger" href="">Жилой комплекс</a>
            <ul class="sub-menu">
              <li><a href="">О проекте</a></li>
              <li><a href="">Расположение</a></li>
              <li><a href="">Инфраструктура</a></li>
              <li><a href="">Дневники стройки</a></li>
              <li><a href="">Документы</a></li>
              <li><a href="">Застройщик</a></li>
              <li><a href="">Выдача ключей</a></li>
              <li><a href="">Новости</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-trigger" href="">Как купить</a>
            <ul class="sub-menu">
              <li><a href="">Ипотека</a></li>
              <li><a href="">Trade-in</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-trigger" href="">Выбор квартиры</a>
            <ul class="sub-menu">
              <li><a href="">Квартиры</a></li>
              <li><a href="">Квартиры с отделкой</a></li>
            </ul>
          </li>
          <li>
            <a class="sub-trigger" href="">Нежилые помещения</a>
            <ul class="sub-menu">
              <li><a href="">Коммерческие помещения</a></li>
              <li><a href="">Паркинг</a></li>
            </ul>
          </li>
          <li><a href="">Акции</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
        <a href="#" class="ask-button">
          <input type="button" value="Задать вопрос">
        </a>
      </div>
    </nav>
    <div>
      <small>15 минут пешком от метро</small>
      <a href="tel:+74952562785">+7 495 256-27-85</a>
      <div class="header__social">
        <a href="" class="header__social__ask">
          <i>Задать вопрос</i>
        </a>
        <a href="https://www.facebook.com/etaloncity">
          <svg class="facebook-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg>
        </a>
        <a href="https://vk.com/etaloncity">
          <svg class="vk-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.162 18.994c.609 0 .858-.406.851-.915-.031-1.917.714-2.949 2.059-1.604 1.488 1.488 1.796 2.519 3.603 2.519h3.2c.808 0 1.126-.26 1.126-.668 0-.863-1.421-2.386-2.625-3.504-1.686-1.565-1.765-1.602-.313-3.486 1.801-2.339 4.157-5.336 2.073-5.336h-3.981c-.772 0-.828.435-1.103 1.083-.995 2.347-2.886 5.387-3.604 4.922-.751-.485-.407-2.406-.35-5.261.015-.754.011-1.271-1.141-1.539-.629-.145-1.241-.205-1.809-.205-2.273 0-3.841.953-2.95 1.119 1.571.293 1.42 3.692 1.054 5.16-.638 2.556-3.036-2.024-4.035-4.305-.241-.548-.315-.974-1.175-.974h-3.255c-.492 0-.787.16-.787.516 0 .602 2.96 6.72 5.786 9.77 2.756 2.975 5.48 2.708 7.376 2.708z"/></svg>
        </a>
        <a href="https://www.instagram.com/etaloncity/">
          <svg class="insta-icon" version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="14px" height="14px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve">
          <g>
            <path d="M7,4.7c-1.3,0-2.3,1-2.3,2.3s1,2.3,2.3,2.3s2.3-1,2.3-2.3S8.3,4.7,7,4.7z"/>
            <path d="M13.6,2.4c-0.2-0.5-0.4-0.8-0.8-1.3c-0.4-0.4-0.8-0.6-1.3-0.8s-1-0.2-1.7-0.3H7c0,0-2.1,0-2.9,0.1
              c-0.7,0-1.3,0.1-1.8,0.4C2,0.6,1.6,0.8,1.2,1.2C0.8,1.5,0.6,2,0.4,2.4s-0.3,1-0.3,1.7C0,4.9,0,7,0,7s0,2.1,0.1,2.9s0.1,1.3,0.4,1.7
              c0.2,0.5,0.4,0.8,0.8,1.3c0.4,0.4,0.8,0.6,1.3,0.8s0.9,0.2,1.7,0.3H7c0,0,2.1,0,2.9-0.1c0.7-0.1,1.3-0.1,1.7-0.4
              c0.5-0.2,0.8-0.4,1.3-0.8c0.4-0.4,0.6-0.8,0.8-1.3s0.2-0.9,0.3-1.7V7c0,0,0-2.1,0-2.9C13.9,3.4,13.9,2.9,13.6,2.4z M7,10.6
              C5,10.6,3.4,9,3.4,7S4.9,3.4,7,3.4S10.6,5,10.6,7S9,10.6,7,10.6z M10.7,4.1c-0.5,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8
              c0.5,0,0.8,0.4,0.8,0.8S11.2,4.1,10.7,4.1z"/>
          </g>
          </svg>
        </a>
        <a href="https://www.youtube.com/channel/UCeZOtpDYrBl42sYuL0zxR8Q">
          <svg class="youtube-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/></svg>
        </a>
        <a href="https://telegram.me/EtalonInvest">
          <svg class="youtube-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
          <g id="XMLID_496_">
            <path id="XMLID_497_" d="M5.299,144.645l69.126,25.8l26.756,86.047c1.712,5.511,8.451,7.548,12.924,3.891l38.532-31.412
              c4.039-3.291,9.792-3.455,14.013-0.391l69.498,50.457c4.785,3.478,11.564,0.856,12.764-4.926L299.823,29.22
              c1.31-6.316-4.896-11.585-10.91-9.259L5.218,129.402C-1.783,132.102-1.722,142.014,5.299,144.645z M96.869,156.711l135.098-83.207
              c2.428-1.491,4.926,1.792,2.841,3.726L123.313,180.87c-3.919,3.648-6.447,8.53-7.163,13.829l-3.798,28.146
              c-0.503,3.758-5.782,4.131-6.819,0.494l-14.607-51.325C89.253,166.16,91.691,159.907,96.869,156.711z"/>
          </g>
          </svg>
        </a>
      </div>
    </div>
    <a class="call" href="tel:+74952562785">
      <img src="img/header/icon-call.png" alt="">
    </a>
  </div>
</header>
