<div id="more-works" class="more-works" style="display: none;">

	<h3>Другие проекты</h3>
	<div class="more-works__close" data-fancybox-close></div>

	
	<div class="more-works__work">
		<a href="">
			<div class="more-works__work__image" style="background: url(img/works/image-zvezda.jpg) no-repeat center; background-size: cover;"></div>
			<div class="more-works__work__content">
				<img src="img/works/logo-zvezda.png" alt="Логотип Золотая Звезда">
				<h4>Золотая звезда</h4>
				<p>г. Москва, пр-т Буденного, д.51</p>
			</div>
		</a>
	</div>

	<div class="more-works__work">
		<a href="">
			<div class="more-works__work__image" style="background: url(img/works/image-sad.jpg) no-repeat center; background-size: cover;"></div>
			<div class="more-works__work__content">
				<img src="img/works/logo-sad.png" alt="Логотип Летний Сад">
				<h4>Летний сад</h4>
				<p>Москва, Дмитровское ш., вл. 107</p>
			</div>
		</a>
	</div>

	<div class="more-works__work">
		<a href="">
			<div class="more-works__work__image" style="background: url(img/works/image-fontan.jpg) no-repeat center; background-size: cover;"></div>
			<div class="more-works__work__content">
				<img src="img/works/logo-fontan.png" alt="Логотип Серебрянный Фонтан">
				<h4>Серебряный фонтан</h4>
				<p>.Москва СВАО, Алексеевский район, ул.Новоалексеевская, вл.16</p>
			</div>
		</a>
	</div>

	<div class="more-works__work">
		<a href="">
			<div class="more-works__work__image" style="background: url(img/works/image-hills.jpg) no-repeat center; background-size: cover;"></div>
			<div class="more-works__work__content">
				<img src="img/works/logo-hills.png" alt="Логотип Изумрудные Холмы">
				<h4>Изумрудные холмы</h4>
				<p>Московская обл., Красногорск, бульвар Космонавтов, д.1</p>
			</div>
		</a>
	</div>

	<div class="more-works__work">
		<a href="">
			<div class="more-works__work__image" style="background: url(img/works/image-normandia.jpg) no-repeat center; background-size: cover;"></div>
			<div class="more-works__work__content">
				<img src="img/works/logo-normandia.png" alt="Логотип Нормандия">
				<h4>Нормандия</h4>
				<p>Москва, Лосиноостровский р-н, ул. Тайнинская вл. 9-11</p>
			</div>
		</a>
	</div>


</div>