<section class="page-under fullscreen-mobile--hidden">
  <div id="action-under" class="action-under">
    <h3>Акции</h3>
    <div class="owl-carousel owl-theme owl-carousel-under">
      <div class="item">
        <p>«Эталон – мой выбор»<br/>1% скидка за видеоотзыв!<br/>3-ая строка</p>
      </div>
      <div class="item">
        <p>«Эталон – мой выбор»<br/>1% скидка за видеоотзыв!</p>
      </div>
      <div class="item">
        <p>«Эталон – мой выбор»<br/>1% скидка за видеоотзыв!</p>
      </div>
    </div>
  </div>
</section>