.desktop--hidden {
  @include media (md) {
    display: none !important;
  }
}

.desktop--visible {
  @include media (md) {
    display: block !important;
  }
}

.tablet--hidden {
  @include media (sm) {
    display: none !important;
  }
}

.tablet--visible {
  @include media (sm) {
    display: block !important;
  }
}

.mobile--hidden {
  @include media (xs) {
    display: none !important;
  }
}

.mobile--visible {
  @include media (xs) {
    display: block !important;
  }
}


.color--green {
  color: $g !important;
}

.noscroll {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

// MENU// MENU// MENU// MENU// MENU// MENU
.submenu--on {
  margin-bottom: 0vh !important;
}

.menu--mobile--on {
  visibility: visible !important;
  opacity: 1 !important;
}

.hidden {
  display: none;
}

.page--fullscreen .fullscreen-mobile--hidden {
  @include media (xs) {
    display: none !important;
  }
}

.hamburger--active {
  justify-content: center !important;
  div:nth-of-type(1) {
    transform: translateY(13.5px) rotate(45deg);
  }
  div:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
  }
  div:nth-of-type(3) {
    transform: translateY(-13.5px) rotate(-46deg);
  }
}
// MENU// MENU// MENU// MENU// MENU// MENU

// COMMON// COMMON// COMMON// COMMON// COMMON// COMMON

body.page--fullscreen {
  footer.footer {
    position: fixed;
    bottom: -100%;
    @include media (xs) {
      bottom: 0 !important;
    }
  }
}

// COMMON// COMMON// COMMON// COMMON// COMMON// COMMON


//CHOOSE//CHOOSE//CHOOSE//CHOOSE//CHOOSE//CHOOSE//CHOOSE
//CHOOSE//CHOOSE//CHOOSE//CHOOSE//CHOOSE//CHOOSE//CHOOSE

// .sidebar-trigger--active {
//   transform: translateX(459px) !important;
// }

.sidebar--active {
  transform: translateX(0) !important;
}

.sidebar-filter--active {
  @include media (md) {  
    transform: translate3d(0,0,0) !important;
    padding-left: 525px;
    padding-right: 525px;
    transition: all .5s ease !important;
  }
  @include media (sm) {
    transform: translate3d(0,435px,0) !important;
  }
  @include media (xs) {
    transform: translate3d(0,735px,0) !important;
  }
}

.sidebar-choose {
  th.sorting_desc {
    color: #333 !important;
  }
}


//CITY//CITY//CITY//CITY//CITY//CITY//CITY//CITY//CITY//CITY//CITY
//CITY//CITY//CITY//CITY//CITY//CITY//CITY//CITY//CITY//CITY//CITY
.flats .flat--unactive {
  background: #0E0E0E!important;
  font-size: 0px!important;
  cursor: auto !important;
  &:hover {
    transform: scale(1) !important;
  }
}

.flats .flat--sold {
  background: #2c384e !important;
  cursor: default !important;
  &:hover {
    transform: scale(1) !important;
  }
}

.flats .flat--forsale {
  background: #6DB300 !important;
}

.flats .flat--view {
  background: #008ED4 !important;
}

div.view-popup--visible {
  opacity: 1;
  visibility: visible;
}


div.flats__popup--visible {
  visibility: visible;
  opacity: 1;
}

//FILTER//FILTER//FILTER

.filter .sorting_desc {
  color: rgba(255,255,255,1) !important;
  &:after {
    transform: rotate(180deg) !important;
    opacity: 1 !important;
    top: 1px !important;
  }
}

.sidebar-filter.th--active {
  color: rgba(255,255,255,1) !important;
  &:after {
    opacity: 1 !important;
  }
}

//FILTER//FILTER//FILTER
