@mixin text($size,$family,$weigth,$color,$line) {
  font-family: $family,Helvetica,sans-serif;
  font-size: $size;
  font-weight: $weigth;
  line-height: $line;
  color: $color;
}

$xsHorWidth: 667px;
$xsHorHeight: 375px;
$xs: 767px;
$sm: 1240px;
$lg: 2080px;


@mixin media($media) {
  @if $media == xsHor {
    @media only screen and (max-width: $xsHorWidth) and (max-height: $xsHorHeight) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: $xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: $sm) { @content; }
  }
  @else if $media == smPlus {
    @media only screen and (min-width: $xs) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $sm) { @content }
  }
  @else if $media == lg {
    @media only screen and (min-width: $lg) { @content }
  }
}

