@import "../utilities/index";

@include media (xs) {

    .content-under {
        opacity: 1 !important;
    }

    .mobile--hidden {
        display: none !important;
    } //HOME//HOME//HOME//HOME//HOME//HOME//HOME
    //HOME//HOME//HOME//HOME//HOME//HOME//HOME
    #action-main.action-main {
        display: none;
    }
    #content.content {
        height: calc(100% - 70px);
        margin-top: 70px;
        .owl-carousel {
            .owl-item .item {
                &>div {
                    padding-left: 0 !important;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    bottom: 3vh !important;
                    span {
                        width: 100%;
                        padding-left: 6vw;
                    }
                    p {
                        font-size: 25px;
                        line-height: 30px;
                    }
                    input {
                        width: 87vw;
                    }
                }
            }
            .owl-nav {
                left: 50% !important;
                transform: translateX(-50%);
                width: 87vw;
                bottom: 81px !important;
            }
            .owl-dots {
                left: 50% !important;
                transform: translateX(-50%);
                bottom: 115px !important;
            }
        }
    }

    div#modal2 {
        .iziModal-wrap {
            overflow-y: scroll !important;
            overflow-x: hidden;
        }
        .fitness__upper {
            height: auto;
            padding-top: 40px;
            &__container {
                img {
                    top: 0 !important;
                }
                .close-modal-2 {
                    top: -5px !important;
                }
                &>div:nth-of-type(2) {
                    height: 55%;
                    flex-flow: row wrap;
                    img {
                        width: 70px;
                    }
                    h2 {
                        flex-basis: 100%;
                        font-size: 7vw;
                        line-height: 7.2vw;
                        margin-top: 15px;
                        br {
                            display: none;
                        }
                    }
                }
                &>div:nth-of-type(3) {
                    position: relative;
                    p {
                        margin-top: 30px;
                    }
                    ul {
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .fitness__down {
            p {
                font-size: 14px !important;
                line-height: 16px !important;
                bottom: 15px !important;
                left: 15px !important;
            }
            &>div:first-of-type {
                height: 290px;
            }
            &>div:last-of-type {
                height: 290px;
            }
        }
    }

    .footer-main {
        z-index: 0 !important;
    }
    //HOME//HOME//HOME//HOME//HOME//HOME//HOME
    //HOME//HOME//HOME//HOME//HOME//HOME//HOME
    //CHOOSE//CHOOSE//CHOOSE
    //CHOOSE//CHOOSE//CHOOSE
    //CHOOSE//CHOOSE//CHOOSE
    .close-modal {
        top: 8px !important;
        right: 8px !important;
    }

    section.choose-content {
        overflow: hidden;
        .choose-content__fitblock {
            &:before {
                transform: scale(.7);
                left: -10px;
                top: 20px;
            }    
        }
        .choose-content__fitblock {
            overflow-x: scroll;
            overflow-y: hidden;
            &__inner {
                top: -60px !important;
                left: 0 !important;
                margin-left: 0 !important;
                margin-top: 0 !important;
                height: 100vh;
                img {
                    height: 100% !important;
                    width: 300vw !important;
                }
            }
        }
        .pin {
            transform: scale(.7);
        }
    }

    .sidebar {
        height: calc(100vh - 70px) !important;
        width: 100vw !important;
    }
    #modal-7.fitness {
        .fitness__upper {
            height: auto;
            padding-top: 40px;
            &__container {
                img {
                    top: 0 !important;
                }
                .fitness--close {
                    top: -5px !important;
                }
                &>div:first-of-type {
                    height: 55%;
                    flex-flow: row wrap;
                    img {
                        width: 70px;
                    }
                    h2 {
                        flex-basis: 100%;
                        font-size: 7vw;
                        line-height: 7.2vw;
                        margin-top: 15px;
                        br {
                            display: none;
                        }
                    }
                }
                &>div:nth-of-type(2) {
                    position: relative;
                    p {
                        margin-top: 30px;
                    }
                    ul {
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .fitness__down {
            p {
                font-size: 14px !important;
                line-height: 16px !important;
                bottom: 15px !important;
                left: 15px !important;
            }
            &>div:first-of-type {
                height: 290px;
            }
            &>div:last-of-type {
                height: 290px;
            }
        }
    }
    .select-params {
        display: none !important;
    }

    //CHOOSE//CHOOSE//CHOOSE
    //CHOOSE//CHOOSE//CHOOSE
    //CHOOSE//CHOOSE//CHOOSE
    //FLAT //FLAT //FLAT //FLAT
    .flats {
        .table-mobile {
            display: block !important;
        }
    }
    div.flat-content {
        h3 {
            display: none;
        }
        #owl-carousel {
            .owl-item {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .4);
                }
            }
            div.owl-nav {
                left: 50%;
                width: 92vw;
                height: 30px;
                transform: translateX(-50%);
                bottom: 16.5vh;
                .owl-prev {
                    margin-left: 0;
                    padding-left: 0;
                    left: 0;
                }
                .owl-next {
                    margin-right: 0;
                    padding-right: 0;
                    right: 0;
                }
            }
        }
        input {
            width: 88vw;
            left: 50%;
            transform: translateX(-50%);
            bottom: 3vh;
            font-size: 16px;
            line-height: 60px;
        }
        div.flat-content__360 {}
        &__counter {
            bottom: 14vh;
            left: 50%;
            transform: translateX(-50%);
        }
    } //FLAT //FLAT //FLAT //FLAT
    //CITY //CITY //CITY //CITY

    .flats__popup {
        overflow-y: scroll;
        overflow-x: hidden;
        .flats__popup__container {
            flex-wrap: wrap !important;
            position: absolute;
            top: 50px;
            padding: 0 25px;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            .flats__popup--close {
                top: 0 !important;
            }
            &__left {
                flex-basis: 100% !important;
                padding-bottom: 40px;
                .flats__plan-1 {
                    margin-bottom: 65px;
                }
                order: 2;
            }
            &__right {
                flex-basis: 100% !important;
                div.flats__flat-info {

                    &>div:last-of-type {
                        margin-left: 20px;
                    }
                }
                order: 1;
                .flats__buttons-1 a.flats__view div {
                    top: 43px;
                }
                .flats__buttons-2 {
                    margin-bottom: 30px;
                }
                ul {
                    position: absolute;
                    margin-top: 0;
                    bottom: calc(-99vw - 165px);
                }
            }
        }
    }


    section.links {
        height: 130px;
        align-items: flex-start;
        h2 {
            bottom: 25px;
        }
        &>a {
            height: 30%;
        }
        &>a:first-of-type {
            position: absolute !important;
            bottom: -10px !important;
            left: 10px !important;
            top: auto;
        }
        &>a:last-of-type {
            position: absolute !important;
            bottom: -10px !important;
            right: 10px !important;
            top: auto;
        }
    }

    .flats__container {
        padding-left: 0 !important;
        flex-flow: row wrap !important;
        &__grid {
            &:after {
                display: none;
            }
            &__wrapper {
                overflow: visible !important;
                &:after {
                    left: -63% !important;
                    z-index: -1;
                }
            }
        }
    }

    .flats__container__content {
        width: 100vw !important;
        padding-left: 0 !important;
        display: flex !important;
        flex-flow: row wrap;
        margin-top: 20px !important;
        margin-bottom: 50px;
        max-width: 100vw !important;
        h1 {
            padding: 0 20px !important;
            margin-bottom: 30px;
            margin-top: 250px !important;
        }
        h1+p {
            padding: 0 20px !important;
        }
        .skew-blocks {
            flex-flow: row wrap !important;
            justify-conent: flex-start !important;
            flex-basis: 90%;
        }
        .flats__container__content__more {
            position: relative;
            left: -40px;
            width: 90vw;
        }
        h1 {
            position: relative !important;
            top: auto !important;
            bottom: auto !important;
            margin-top: 0px !important;
            order: 2;
        }
        h1 + p {
            position: relative !important;
            top: auto !important;
            bottom: auto !important;
            margin-top: 0 !important;
            order: 3;
        }
        .skew-blocks {
            order: 4;
            flex-basis: 100%;
        }
        &__scheme {
            margin: 0 0 !important;
            width: 100vw;
            padding-left: 0 !important;
            padding-bottom: 35px !important;
            order: 1;
            flex-basis: 100%;
            div:first-of-type {
                display: block;
                margin: 0 auto !important;
            }
        }
    }

    .table-tower {
        thead.thead {
            tr {
                th:first-of-type {
                    width: 60vw !important;
                }
                th.table-th:not(:last-of-type):not(:first-of-type) {
                    display: none !important;
                }
                .table-th-mobile {
                    display: inline-block !important;
                    padding-left: 4vw;
                    width: 40vw !important;
                    color: white !important;
                    font-size: 16px !important;
                    font-weight: 400 !important;
                    &:after {
                        display: none !important;
                    }
                }
            }
        }
        tbody {
            tr:nth-child(even) {
                background: #272D3E;
            }
            tr.flag,
            tr.brush {
                td:last-of-type {
                    &:before {
                        position: absolute !important;
                        right: -93px !important;
                        top: 50% !important;
                    }
                    &:after {
                        position: absolute !important;
                        right: -93px !important;
                        top: 78% !important;
                    }
                }
            }
            tr {
                position: relative;
                height: 140px !important;
                td {
                    border: none !important;
                }
                td:first-of-type {
                    height: 140px !important;
                    width: 20vw !important;
                    position: relative;
                    img {
                        object-fit: cover;
                    }
                }
                td:nth-of-type(2) {
                    position: relative;
                    top: -35px;
                    left: 5.5vw;
                    font-size: 18px !important;
                    padding-left: 0px !important;
                }
                td:nth-of-type(3) {
                    position: relative;
                    padding-left: 0px !important;
                    left: -6vw;
                    top: 35px;
                }
                td:nth-of-type(4) {
                    position: relative;
                    padding-left: 0px !important;
                    left: 3.5vw;
                    top: 35px;
                }
                td:nth-of-type(5) {
                    position: relative;
                    padding-left: 0px !important;
                    left: 10vw;
                    top: 35px;
                }
                td:nth-of-type(6) {
                    position: relative;
                    top: -35px;
                    left: -1vw;
                    font-size: 18px !important;
                    padding-left: 0px !important;
                }
                td:nth-of-type(7) {
                    position: relative;
                    padding-left: 0px !important;
                }
                .td-section--mobile {
                    position: absolute;
                    left: 26vw;
                    padding-left: 0 !important;
                    margin-top: 35px;
                    color: #62656F !important;
                }
                .td-floor--mobile {
                    position: absolute;
                    left: 46vw;
                    padding-left: 0 !important;
                    margin-top: 35px;
                    color: #62656F !important;
                }
                .td-area--mobile {
                    position: absolute !important;
                    left: 60vw;
                    padding-left: 0 !important;
                    margin-top: 35px;
                    color: #62656F !important;
                }
                .td--mobile {
                    display: inline-block !important;
                }
            }
        }
    }
     //CITY //CITY //CITY //CITY
    //MORTGAGE     //MORTGAGE     //MORTGAGE 
    //MORTGAGE     //MORTGAGE     //MORTGAGE
    //FILTER //FILTER //FILTER //FILTER //FILTER
    section.filter {
        .container {
            h2 {
                font-size: 20px;
                line-height: 20px;
                padding: 30px 0;
            }
        }
    }

    a.sidebar-trigger-mobile {
        left: 0;
    }

    aside.sidebar.sidebar-filter {
        flex-flow: row wrap;
        border: none;
        padding-top: 0px;
        padding-right: 0px;
        height: auto !important;
        .sidebar__wrapper {
            flex-flow: row wrap;
        }
        &>* {}
        .sidebar__slider-1 {
            padding-left: 0 !important;
            padding-right: 0 !important;
            flex-basis: 100% !important;
            margin-top: 0;
            height: auto;
            padding-top: 14%;
            padding-bottom: 23px;
        }
        .sidebar__slider-2 {
            padding-left: 0 !important;
            padding-right: 0 !important;
            flex-basis: 100% !important;
            background: #3C4154 !important;
            padding-top: 14%;
            margin-top: 0;
            height: 120px;
            height: 130px;
            p {
                top: -21px;
            }
        }
        .sidebar__slider-3 {
            padding-left: 6.1vw !important;
            padding-right: 26px;
            flex-basis: 100% !important;
            &__inputs {
                p:nth-of-type(3) {
                    margin-right: 30vw !important;
                }
            }
        }
        .sidebar__slider-4 {
            padding-left: 0 !important;
            padding-right: 0 !important;
            flex-basis: 100% !important;
            order: 6;
            height: 140px;
            padding-top: 9%;
            margin-top: 16px;
        }
        .sidebar__room {
            flex-basis: 100% !important;
            display: flex;
            padding-left: 7vw;
            padding-right: 7vw;
            margin: 0 auto;
            background: #3C4154;
            &__check {
                position: relative;
                left: 5px;
            }
        }
        .sidebar__option {
            flex-basis: 100% !important;
            padding-left: 0;
            flex-basis: 100% !important;
            &>label:nth-of-type(1) {
                background: #3C4154 !important;
            }
            &>label:nth-of-type(3) {
                background: #3C4154 !important;
            }
            label {
                padding: 0 8vw;
                &:before {
                    right: calc(6.5% + 5px);
                }
                &:after {
                    right: 6vw;
                }
            }
        }
        .sidebar__details {
            flex-basis: 100% !important;
            margin: 0 auto !important;
            padding-top: 20px;
            height: 115px !important;
            display: flex !important;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
            padding-left: 7.6vw !important;
        }
    }

    .table-desktop,
    .filter .container .table-desktop+a {
        display: none !important;
    }

    .table-mobile,
    .filter .container .table-mobile+a {
        display: block !important;
    } //FILTER //FILTER //FILTER //FILTER //FILTER
}