@media (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {


    #action {
        display: none !important;
    } //MAIN ————————————————————
    .content#content {
        #owl-carousel {
            height: 100vh !important;
            top: 0 !important;
            .owl-dots {
                left: 24vw !important;
                bottom: 169px !important;
            }
            .owl-nav {
                transform: unset;
                left: 3vw !important;
                width: 41.5vw !important;
                bottom: 150px !important;
                height: 40px !important;
            }
        }
        #owl-carousel .item {
            &>div {
                justify-content: flex-start !important;
                bottom: 13vw !important;
                span {
                    padding-left: 3vw;
                }
                input[type="button"] {
                    width: 275px !important;
                    margin-left: 3vw;
                    margin-top: 40px;
                }
            }
        }
    } //————————————————————————————-
    // CHOOSE ———————————————————————
    section.choose-content {
        height: calc(100vh - 70px) !important;
        top: 70px !important;
        .pin {
            transform: scale(.4) translate(-10px, -10px);
        }
        .choose-content__fitblock {
            overflow: hidden;
        	&:before {
        		display: none;
        	}
            &__inner {
                height: 120% !important;
                top: -30px !important;
                img {
                    width: 100vw !important;
                }
            }
        }
    } //————————————————————————————
    // FLAT—————————————————————————
    div.flat-content #owl-carousel div.owl-nav {
        bottom: 26.5vh;
    }

    div.flat-content__counter {
        bottom: 23vh;
    } //————————————————————————————
    footer.footer {
        .container-2__block:first-of-type {
            flex-flow: row wrap;
            padding-bottom: 0;
            img+p {
                margin-top: 8%;
            }
            .footer__info {
                flex-basis: 100%;
                display: block;
                margin-top: 0;
            }
            .container-2__block__links {
                position: relative;
                top: -8px;
            }
        }
        .container-2__block:last-of-type {
            padding-bottom: 10px;
            .footer__social {
                top: -380% !important;
            }
        }
    }

    aside.sidebar {
        .sidebar__wrapper {
            .sidebar__slider-1 {
                padding-top: 8%;
            }
            .sidebar__slider-2 {
                padding-top: 8%;
            }
            .sidebar__slider-3 {
                padding-right: 7vw;
                &__inputs {
                    p:nth-of-type(3) {
                        margin-right: 36% !important;
                    }
                }
            }
            .sidebar__slider-4 {
                padding-top: 5%;
            }
        }
    }
}