@import "../utilities/index";

@include media (sm) {

    // ГЛАВНАЯ  // ГЛАВНАЯ  // ГЛАВНАЯ  // ГЛАВНАЯ
    // ГЛАВНАЯ  // ГЛАВНАЯ  // ГЛАВНАЯ  // ГЛАВНАЯ
    // ГЛАВНАЯ  // ГЛАВНАЯ  // ГЛАВНАЯ  // ГЛАВНАЯ
    html {
        width: 100vw; // overflow-y: auto;
    }

    body {
        width: 100vw;
        height: auto;
    }

    div#modal {
        height: calc(100vh - 70px) !important;
        top: 70px !important;
        div.iziModal-content {
            height: calc(100vh - 70px) !important;
        }
        div.iziModal-wrap {
            height: calc(100vh - 70px) !important;
        }
        .container {
            width: 100vw !important;
        }
    }

    #action-main.action-main {
        display: block;
        top: 115px;
        z-index: 5001;
    }

    #content.content {
        height: calc(100vh - 70px);
        margin-top: 70px;
        width: 100vw;
        #owl-carousel.owl-carousel {
            width: 100vw !important;
            .owl-nav {
                left: 49px;
                bottom: 90px;
                height: 74px;
            }
            .owl-dots {
                left: 118px;
                bottom: 127px;
            }
            .item {
                overflow: hidden;
                img {
                    height: calc(100vh - 68px) !important;
                    width: auto;
                    transform: translateX(0%);
                }
            }
            .owl-stage-outer {
                height: 100% !important;
                .owl-stage {
                    height: 100%;
                    .owl-item {
                        height: 100%;
                        .item {
                            height: 100%;
                            width: 100vw;
                            div {
                                bottom: 30px;
                                padding-left: 50px;
                            }
                            img {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .action-2 {
            top: 14vh !important;
        }
    } //For footer
    section.content#content {
        #owl-carousel {
            // transform: translateY(-100vh);
        }
        div#action.action {
            display: block;
            position: fixed;
            top: 11vh;
        }
    }
    div#modal2 {
        height: calc(100% - 70px) !important;
        top: 70px !important;
        bottom: 0 !important;
        min-width: 100vw !important;
        div.iziModal-content {
            height: 100% !important;
            overflow-y: auto !important;
            overflow-x: hidden !important;
        }
        div.iziModal-wrap {
            height: 100%!important;
        }
        .container {
            width: 100vw !important;
        }
        .fitness__upper {
            padding-top: 0px;
            height: auto;
            padding-bottom: 20px;
            &__container {
                width: 100vw;
                flex-wrap: wrap;
                margin: 0 0;
                img {
                    position: relative;
                    top: 30px;
                }
                &>div:not(.close-modal-2) {
                    flex-basis: 100%;
                    br:first-of-type {
                        display: none;
                    }
                }
                div:nth-of-type(3) {
                    flex-basis: auto;
                    margin: 0 auto;
                }
            }
            .close-modal-2 {
                background: url('/img/choose/icon-close.png') no-repeat center;
                top: 10px;
                right: 10px;
            }
        }
        .fitness__down {
            width: 100vw;
            flex-flow: row wrap;
            position: relative;
            height: auto;
            &>div:nth-of-type(1) {
                height: 575px;
            }
            &>div:nth-of-type(2) {
                height: 575px;
                flex-flow: column wrap;
                &>div:nth-of-type(1) {
                    width: 50%;
                    &~div {
                        width: 50%;
                    }
                }
            }
        }
    }


    //MOBILE MENU//MOBILE MENU//MOBILE MENU//MOBILE MENU//MOBILE MENU
    //MOBILE MENU//MOBILE MENU//MOBILE MENU//MOBILE MENU//MOBILE MENU
    //MOBILE MENU//MOBILE MENU//MOBILE MENU//MOBILE MENU//MOBILE MENU
    //MOBILE MENU//MOBILE MENU//MOBILE MENU//MOBILE MENU//MOBILE MENU
    //CHOOSE//CHOOSE//CHOOSE
    //CHOOSE//CHOOSE//CHOOSE
    //CHOOSE//CHOOSE//CHOOSE
    // !!!!!!!!!!!!!!!!!
    section.choose-content {
        width: 100%;
        height: calc(100% - 70px) !important;
        top: 70px;
        .choose-content__fitblock {
          &:before {
            bottom: auto;
            top: 40px;
            left: 40px;
          }
          &:after {
            content: url(/img/choose/shadow_tablet.png);
            position: absolute;
            left: 0;
            bottom: auto;
            top: 0;
            transform: rotate(0deg);
          }
        }
    }

    div.modal {
        height: calc(100vh - 70px) !important;
        top: 70px !important;
    }

    #modal-7.fitness {
        height: calc(100% - 69px) !important;
        top: 69px !important;
        .fitness__upper {
            padding-top: 0px;
            height: auto;
            padding-bottom: 20px;
            &__container {
                width: 100vw;
                flex-wrap: wrap;
                margin: 0 0;
                img {
                    position: relative;
                    top: 30px;
                }
                &>div:not(.fitness--close) {
                    flex-basis: 100%;
                    br:first-of-type {
                        display: none;
                    }
                }
                div:nth-of-type(2) {
                    flex-basis: auto;
                    margin: 0 auto;
                }
            }
            .fitness--close {
                background: url('/img/choose/icon-close.png') no-repeat center;
                top: 10px;
                right: 10px;
            }
        }
        .fitness__down {
            width: 100vw;
            flex-flow: row wrap;
            &>div:nth-of-type(1) {
                height: 575px;
            }
            &>div:nth-of-type(2) {
                height: 575px;
                flex-flow: column wrap;
                &>div:nth-of-type(1) {
                    width: 50%;
                    &~div {
                        width: 50%;
                    }
                }
            }
        }
    }
    .sidebar-trigger.sidebar-trigger-choose {
        display: none !important;
    }

    .sidebar.sidebar-choose {
        display: none !important;
    }

    a.select-params {
        display: block;
    }
    // !!!!!!!!!!!!!!!!!
    // .sidebar-trigger--active {
    //   transform: translateX(79.5vw) !important;
    // }
    // .sidebar--active {
    //   transform: translateX(0) !important;
    // }
    ///////
    .sidebar-trigger-desktop {
        height: calc(100vh - 70px) !important;
    }

    section.content-choose {
        height: calc(100vh - 70px);
    } //FLAT//FLAT//FLAT//FLAT//FLAT//FLAT
    //FLAT//FLAT//FLAT//FLAT//FLAT//FLAT
    div.flat-content {
        height: calc(100% - 70px) !important;
        width: 100vw;
        top: 70px;
        padding-top: 30px;
        padding-right: 30px;
        div.flat-content__360 {}
        div#owl-carousel {
            width: 100vw;
            height: calc(100vh - 70px);
            .owl-item {
                width: 100vw;
                .item {
                    width: 100vw;
                }
            }
        }
    } // MORTGAGE  // MORTGAGE  // MORTGAGE  // MORTGAGE  // MORTGAGE
    // MORTGAGE  // MORTGAGE  // MORTGAGE  // MORTGAGE  // MORTGAGE
    //FILTER //FILTER //FILTER //FILTER
    section.filter {
        top: 69px !important;
        margin-top: 70px;
        width: 100vw;
        div.container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            padding-top: 55px;
            h2 {
                padding-left: 30px;
            }
            table {
                th {
                    line-height: 50px;
                    padding-top: 5px;
                }
                td {
                    line-height: 100px;
                }
                thead.thead {
                    tr {
                        th.table-th:nth-of-type(1) {
                            padding-left: 25px;
                            padding-right: 0px;
                            width: 23vw;
                            display: inline-block;
                        }
                        th.table-th:nth-of-type(2) {
                            padding-left: 23px;
                            width: 12vw;
                            display: inline-block;
                        }
                        th.table-th:nth-of-type(3) {
                            padding-left: 0;
                            width: 11vw;
                            display: inline-block;
                        }
                        th.table-th:nth-of-type(4) {
                            padding-left: 4px;
                            width: 7vw;
                            display: inline-block;
                        }
                        th.table-th:nth-of-type(5) {
                            padding-left: 2.5px;
                            width: 13vw;
                            display: inline-block;
                        }
                        th.table-th:nth-of-type(6) {
                            padding-left: 2px;
                            width: 15vw;
                            display: inline-block;
                        }
                        th.table-th:nth-of-type(7) {
                            padding-left: 0;
                            width: 19vw;
                            display: inline-block;
                        }
                    }
                }
                tbody {
                    td {
                        font-size: 17px;
                    }
                    tr {
                        td:nth-of-type(1) {
                            padding-left: 0;
                            padding-right: 0px;
                            width: 23vw;
                            display: inline-block;
                            position: relative;
                            &:before {
                                content: '';
                                display: block;
                                height: 100%;
                                width: 100%;
                                background: rgba(0, 0, 0, .3);
                                position: absolute;
                                top: 0;
                                left: 0;
                                pointer-events: none;
                                opacity: 1;
                            }
                            &:after {
                                content: 'Вид из окна';
                                @include text (14px,
                                $f,
                                400,
                                white,
                                100px);
                                text-align: center;
                                padding-left: 45px;
                                text-transform: uppercase;
                                position: absolute;
                                display: block;
                                height: 100%;
                                width: 100%;
                                background: url('/img/filter/icon-eye.png') no-repeat;
                                background-position: 20% 50%;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                pointer-events: none;
                                opacity: 1;
                            }
                        }
                        td:nth-of-type(2) {
                            padding-left: 23px;
                            width: 12vw;
                            display: inline-block;
                        }
                        td:nth-of-type(3) {
                            padding-left: 0;
                            width: 11vw;
                            display: inline-block;
                        }
                        td:nth-of-type(4) {
                            padding-left: 18px;
                            width: 7vw;
                            display: inline-block;
                        }
                        td:nth-of-type(5) {
                            padding-left: 2.5px;
                            width: 11vw;
                            display: inline-block;
                        }
                        td:nth-of-type(6) {
                            padding-left: 2px;
                            width: 15vw;
                            display: inline-block;
                        }
                        td:nth-of-type(7) {
                            padding-left: 6px;
                            width: 19vw;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }


    section.filter {
        div.container {
            table.table-desktop {
                thead.thead {
                    tr {
                        th.table-th:nth-of-type(1) {
                            width: 23vw !important;
                        }
                        th.table-th:nth-of-type(2) {
                            width: 12vw !important;
                        }
                        th.table-th:nth-of-type(3) {
                            width: 11vw !important;
                        }
                        th.table-th:nth-of-type(4) {
                            width: 7vw !important;
                        }
                        th.table-th:nth-of-type(5) {
                            width: 13vw !important;
                        }
                        th.table-th:nth-of-type(6) {
                            width: 13.8vw !important;
                        }
                        th.table-th:nth-of-type(7) {
                            width: 20.2vw !important;
                        }
                        th.table-th:nth-of-type(8) {
                            display: none;
                        }
                    }
                }
                tbody {
                    tr:first-of-type {
                        td:last-of-type {
                            div {
                                top: 0px;
                            }
                        }
                    }
                    tr:not(:first-child) {
                        td:last-of-type {
                            div {
                                top: -1px;
                            }
                        }
                    }
                    tr {
                        td:last-of-type {
                            // position: absolute;
                            // right: 0;
                            padding-left: 0;
                            position: relative;
                            a {
                                div {
                                    height: 100px;
                                    width: 30px;
                                    background: url('/img/filter/arrow-right.png') no-repeat center, #3C4154;
                                    position: absolute;
                                    right: 0;
                                    img {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .sidebar-trigger-desktop {
        display: none !important;
    }
    a.sidebar-trigger-mobile {
        position: absolute !important;
        display: block !important; // top: 68.2px;
        // transform: translate3d(0,0,0);
        // bottom: auto;
        transition: all .5s linear !important;
    }


    aside.sidebar.sidebar-filter {
        position: absolute;
        width: 100vw !important;
        transform: translate3d(0, -100%, 0);
        height: 430px;
        bottom: auto;
        top: 70px;
        border: 20px solid #3C4154;
        border-bottom: none;
        transition: all .5s linear !important;
        overflow: visible !important;
        .sidebar__wrapper {
            flex-flow: column wrap;
            width: 100%;
        }
        &>div {
            padding: 0 0;
        }
        .sidebar__slider-1 {
            flex-basis: auto;
            order: 1;
            width: 45vw;
            position: relative;
            height: 100px;
            margin-top: 30px;
            padding-left: 4vw;
            p {
                position: absolute;
                top: -33px;
                font-size: 14px;
                padding-left: 1px;
            }
            .sidebar__slider-1__inputs {
                width: 87%;
                position: relative;
                left: 3px;
                margin: 0 auto;
            }
            .sidebar__slider-1__values {
                display: none;
            }
        }
        .sidebar__slider-2 {
            flex-basis: auto;
            order: 2;
            width: 45vw;
            position: relative;
            height: 100px;
            padding-top: 0;
            margin-top: 20px;
            background: #20283D;
            padding-left: 4vw;
            p {
                position: absolute;
                top: -33px;
                font-size: 14px;
                padding-left: 1px;
            }
            .sidebar__slider-2__inputs {
                width: 87%;
                position: relative;
                left: 3px;
                margin: 0 auto;
            }
            .sidebar__slider-2__values {
                display: none;
            }
        }
        .sidebar__slider-3 {
            flex-basis: auto;
            order: 4;
            width: 45vw;
            position: relative;
            height: 46px;
            padding-top: 0;
            margin-top: 0px;
            padding-left: 2.4vw;
            padding-right: 40px; // padding-right: 0;
            #slider-3 {
                display: none;
            }
            p {
                font-size: 14px;
                padding-left: 1px;
            }
            .sidebar__slider-3__inputs {
                width: 100%;
                height: 100%;
                position: relative;
                left: 3px;
                margin: 0;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                text-align: right;
                justify-content: space-between;
                p:nth-of-type(1),
                p:nth-of-type(2) {
                    display: block;
                }
                p:nth-of-type(3) {
                    order: 1;
                    margin-right: calc(60% - 80px);
                }
                input:first-of-type {
                    order: 3;
                }
                p:nth-of-type(1) {
                    order: 2;
                    color: white;
                }
                input:last-of-type {
                    order: 5;
                }
                p:nth-of-type(2) {
                    order: 3;
                    color: white;
                }
                input {
                    width: 42px;
                    height: 26px;
                }
            }
            .sidebar__slider-3__values {
                display: none;
            }
        }
        .sidebar__slider-4 {
            flex-basis: auto;
            order: 3;
            width: 45vw;
            position: relative;
            height: 100px;
            margin-top: 0px;
            padding-left: 4vw;
            p {
                position: absolute;
                top: -33px;
                font-size: 14px;
                padding-left: 1px;
            }
            .sidebar__slider-4__inputs {
                width: 87%;
                position: relative;
                left: 3px;
                margin: 0 auto;
                p {
                    top: -21px;
                }
            }
            .sidebar__slider-4__values {
                display: none;
            }
        }
        .sidebar__floor {
            flex-basis: auto;
            order: 5;
            width: 45vw;
        }
        .sidebar__room {
            flex-basis: auto;
            padding-left: 3vw;
            padding-right: 37px;
            order: 6;
            width: 45vw;
            background: #20283D;
            &__check {
                width: 145px;
                margin-right: 0;
            }
        }
        .sidebar__option {
            flex-basis: 35%;
            order: 7;
            width: 45vw;
            background: #20283D;
            label {
                height: 40px;
                line-height: 40px;
                background: #20283D;
                padding-left: 3vw;
            }
            label:last-of-type {
                color: #e6af2c;
                &:before {}
                &:after {
                    border-color: #FFE5A8;
                }
            }
        }
        div.sidebar__details {
            display: block;
            width: 45vw;
            height: 96px;
            flex-basis: 21%;
            background: #20283D;
            padding: 5px 0 0 0;
            padding-left: 3vw;
            order: 8;
            &>div {
                img {
                    width: 10px;
                    height: auto;
                }
            }
        }
        .sidebar__result {
            display: none;
        }
    } //FILTER //FILTER //FILTER //FILTER
    //TRADEIN //TRADEIN //TRADEIN //TRADEIN
    .action {
        display: none;
    } //TRADEIN //TRADEIN //TRADEIN //TRADEIN
    //CITY //CITY //CITY //CITY //CITY //CITY
    section.city {
        margin-top: 70px;
        width: 100vw;
        .container {
            width: 100vw;
        }
    }

    section.links {
        width: 100vw;
        z-index: 99;
        small {
            display: block;
            position: relative;
            top: 13px;
        }
        h2 {
            font-size: 30px;
            position: relative;
            bottom: 13px;
        }
    }

    div.flats__popup {
        top: 70px;
        position: fixed;
        height: calc(100vh - 70px);
        .flats__popup__container {
            width: 100%;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            .flats__popup--close {
                top: 25px;
                right: 25px;
                background-size: contain;
                &:hover {
                    transform: none;
                }
            }
            &__left {
                .flats__plan-1 {
                }
                .flats__plan-2 {
                    img {
                        width: auto;
                        height: 55px;
                    }
                }
                .flats__plan-3 {
                    img {
                        width: auto;
                        height: 55px;
                    }
                }
            }
            &__right {
                flex-basis: 40%;
                h3 {
                    font-size: 30px;
                    line-height: 30px;
                }
                .flats__flat-info {
                    div {
                        font-size: 14px;
                        line-height: 20px;
                        span {
                            font-size: 26px;
                            line-height: 30px;
                        }
                    }
                }
                .flats__flat-price {
                    margin-bottom: 15px;
                    p:first-of-type {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    p:last-of-type {
                        font-size: 30px;
                        line-height: 30px;
                    }
                }
                .flats__buttons-1 {
                    margin-bottom: 0;
                    .flats__view {
                        div {
                            position: absolute;
                            width: 100%;
                            height: 60px;
                            top: 45px;
                            line-height: 60px;
                        }
                    }
                    .flats__furniture {
                        display: flex;
                        flex-flow: row nowrap;
                        div {
                            flex-basis: 100%;
                            height: 65px;
                            br {
                                display: none;
                            }
                        }
                    }
                }
                .flats__buttons-2 {
                    .flats__button-apply {
                        width: 100%;
                        height: 55px;
                        line-height: 55px;
                    }
                    .flats__button-download {
                        display: none;
                    }
                }
                ul {
                    margin-top: 40px;
                }
            }
        }
    }

    section.flats {
        width: 100vw;
        height: auto;
        z-index: 6000;
        .container {
            width: 100vw;
            justify-content: space-between;
            .flats__container__grid {
                margin-top: 435px;
                margin-left: 25px;
                margin-right: 0;
            }
            .flats__container__content {
                margin-top: 440px;
                padding-left: 0;
                max-width: 40vw;
                h1 {
                    font-size: 25px;
                    line-height: 34px;
                    padding-left: 70px;
                    position: absolute;
                    left: 0;
                    top: 275px;
                    width: 100%;
                    br {
                        display: none;
                    }
                }
                h1 + p {
                    padding-left: 70px;
                    padding-right: 30px;
                    position: absolute;
                    left: 0;
                    top: 335px;
                    width: 100%;
                }
                a:nth-of-type(2) {
                    div {
                        margin-top: 7px;
                    }
                }
                .skew-blocks {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-end;
                    transform: translateX(4vw);
                    & > a, & > div {
                        width: 100%;
                        div {
                            width: 100%;
                        }
                    }
                    .flats__container__content__more {
                        // width: 100%;
                        &:not(:first-child) {
                            margin-top: 7px;
                        }
                    }
                }
                &__scheme {
                    margin-top: 35px;
                    padding-left: 0;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    &>div:nth-of-type(2) {
                        position: absolute;
                        margin-left: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 90px;
                        small {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .view-popup {
        width: 100vw;
    } //CITY //CITY //CITY //CITY //CITY //CITY
    section.city {
        height: 235px;
        &:before {
            display: none;
        }
    }
}