@font-face {
 font-family: 'pfd';
 src: url('/fonts/pfd/pfdindisplaypro-thin.eot');
 src: url('/fonts/pfd/pfdindisplaypro-thin.eot?#iefix') format("embedded-opentype"),
 url('/fonts/pfd/pfdindisplaypro-thin.ttf') format("truetype"),
 url('/fonts/pfd/pfdindisplaypro-thin.woff2') format("woff2"),
 url('/fonts/pfd/pfdindisplaypro-thin.woff') format("woff"),
 url('/fonts/pfd/pfdindisplaypro-thin.svg') format("svg");
 font-weight: 200;
 font-style: normal;
}

@font-face {
  font-family: 'pfd';
  src: url('/fonts/pfd/pfdindisplaypro-light.eot');
  src: url('/fonts/pfd/pfdindisplaypro-light.eot?#iefix') format("embedded-opentype"),
  url('/fonts/pfd/pfdindisplaypro-light.ttf') format("truetype"),
  url('/fonts/pfd/pfdindisplaypro-light.woff2') format("woff2"),
  url('/fonts/pfd/pfdindisplaypro-light.woff') format("woff"),
  url('/fonts/pfd/pfdindisplaypro-light.svg') format("svg");
  font-weight: 300;
  font-style: normal;
 }

@font-face {
  font-famy: 'pfd';
  src: url('/fonts/pfd/pfdindisplaypro-regular.eot');
  src: url('/fonts/pfd/pfdindisplaypro-regular.eot?#iefix') format("embedded-opentype"),
  url('/fonts/pfd/pfdindisplaypro-regular.ttf') format("truetype"),
  url('/fonts/pfd/pfdindisplaypro-regular.woff2') format("woff2"),
  url('/fonts/pfd/pfdindisplaypro-regular.woff') format("woff"),
  url('/fonts/pfd/pfdindisplaypro-regular.svg') format("svg");
  font-weight: 400;
  font-style: normal;
 }

@font-face {
  font-family: 'pfd';
  src: url('/fonts/pfd/pfdindisplaypro-medium.eot');
  src: url('/fonts/pfd/pfdindisplaypro-medium.eot?#iefix') format("embedded-opentype"),
  url('/fonts/pfd/pfdindisplaypro-medium.ttf') format("truetype"),
  url('/fonts/pfd/pfdindisplaypro-medium.woff2') format("woff2"),
  url('/fonts/pfd/pfdindisplaypro-medium.woff') format("woff"),
  url('/fonts/pfd/pfdindisplaypro-medium.svg') format("svg");
  font-weight: 500;
  font-style: normal;
 }

 @font-face {
   font-family: 'pfd';
   src: url('../fonts/pfd/pfdindisplaypro-bold.eot');
   src: url('../fonts/pfd/pfdindisplaypro-bold.eot?#iefix') format("embedded-opentype"),
   url('/fonts/pfd/pfdindisplaypro-bold.ttf') format("truetype"),
   url('/fonts/pfd/pfdindisplaypro-bold.woff2') format("woff2"),
   url('/fonts/pfd/pfdindisplaypro-bold.woff') format("woff"),
   url('/fonts/pfd/pfdindisplaypro-bold.svg') format("svg");
   font-weight: 700;
   font-style: normal;
  }

@font-face {
   font-family: 'pfd';
   src: url('../fonts/pfd/pfdindisplaypro-black.eot');
   src: url('../fonts/pfd/pfdindisplaypro-black.eot?#iefix') format("embedded-opentype"),
   url('/fonts/pfd/pfdindisplaypro-black.ttf') format("truetype"),
   url('/fonts/pfd/pfdindisplaypro-black.woff2') format("woff2"),
   url('/fonts/pfd/pfdindisplaypro-black.woff') format("woff"),
   url('/fonts/pfd/pfdindisplaypro-black.svg') format("svg");
   font-weight: 900;
   font-style: normal;
  }

