@charset "UTF-8";
.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (min-width: 1240px) {
  .desktop--hidden {
    display: none !important; } }

@media only screen and (min-width: 1240px) {
  .desktop--visible {
    display: block !important; } }

@media only screen and (max-width: 1240px) {
  .tablet--hidden {
    display: none !important; } }

@media only screen and (max-width: 1240px) {
  .tablet--visible {
    display: block !important; } }

@media only screen and (max-width: 767px) {
  .mobile--hidden {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .mobile--visible {
    display: block !important; } }

.color--green {
  color: #00E2AC !important; }

.noscroll {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.submenu--on {
  margin-bottom: 0vh !important; }

.menu--mobile--on {
  visibility: visible !important;
  opacity: 1 !important; }

.hidden {
  display: none; }

@media only screen and (max-width: 767px) {
  .page--fullscreen .fullscreen-mobile--hidden {
    display: none !important; } }

.hamburger--active {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }
  .hamburger--active div:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(45deg);
        -ms-transform: translateY(13.5px) rotate(45deg);
            transform: translateY(13.5px) rotate(45deg); }
  .hamburger--active div:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px); }
  .hamburger--active div:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(-46deg);
        -ms-transform: translateY(-13.5px) rotate(-46deg);
            transform: translateY(-13.5px) rotate(-46deg); }

body.page--fullscreen footer.footer {
  position: fixed;
  bottom: -100%; }
  @media only screen and (max-width: 767px) {
    body.page--fullscreen footer.footer {
      bottom: 0 !important; } }

.sidebar--active {
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important; }

@media only screen and (min-width: 1240px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
    padding-left: 525px;
    padding-right: 525px;
    -webkit-transition: all .5s ease !important;
    transition: all .5s ease !important; } }

@media only screen and (max-width: 1240px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 435px, 0) !important;
            transform: translate3d(0, 435px, 0) !important; } }

@media only screen and (max-width: 767px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 735px, 0) !important;
            transform: translate3d(0, 735px, 0) !important; } }

.sidebar-choose th.sorting_desc {
  color: #333 !important; }

.flats .flat--unactive {
  background: #0E0E0E !important;
  font-size: 0px !important;
  cursor: auto !important; }
  .flats .flat--unactive:hover {
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important; }

.flats .flat--sold {
  background: #2c384e !important;
  cursor: default !important; }
  .flats .flat--sold:hover {
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important; }

.flats .flat--forsale {
  background: #6DB300 !important; }

.flats .flat--view {
  background: #008ED4 !important; }

div.view-popup--visible {
  opacity: 1;
  visibility: visible; }

div.flats__popup--visible {
  visibility: visible;
  opacity: 1; }

.filter .sorting_desc {
  color: white !important; }
  .filter .sorting_desc:after {
    -webkit-transform: rotate(180deg) !important;
        -ms-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
    opacity: 1 !important;
    top: 1px !important; }

.sidebar-filter.th--active {
  color: white !important; }
  .sidebar-filter.th--active:after {
    opacity: 1 !important; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (max-width: 1240px) {
  html {
    width: 100vw; }
  body {
    width: 100vw;
    height: auto; }
  div#modal {
    height: -webkit-calc(100vh - 70px) !important;
    height: calc(100vh - 70px) !important;
    top: 70px !important; }
    div#modal div.iziModal-content {
      height: -webkit-calc(100vh - 70px) !important;
      height: calc(100vh - 70px) !important; }
    div#modal div.iziModal-wrap {
      height: -webkit-calc(100vh - 70px) !important;
      height: calc(100vh - 70px) !important; }
    div#modal .container {
      width: 100vw !important; }
  #action-main.action-main {
    display: block;
    top: 115px;
    z-index: 5001; }
  #content.content {
    height: -webkit-calc(100vh - 70px);
    height: calc(100vh - 70px);
    margin-top: 70px;
    width: 100vw; }
    #content.content #owl-carousel.owl-carousel {
      width: 100vw !important; }
      #content.content #owl-carousel.owl-carousel .owl-nav {
        left: 49px;
        bottom: 90px;
        height: 74px; }
      #content.content #owl-carousel.owl-carousel .owl-dots {
        left: 118px;
        bottom: 127px; }
      #content.content #owl-carousel.owl-carousel .item {
        overflow: hidden; }
        #content.content #owl-carousel.owl-carousel .item img {
          height: -webkit-calc(100vh - 68px) !important;
          height: calc(100vh - 68px) !important;
          width: auto;
          -webkit-transform: translateX(0%);
              -ms-transform: translateX(0%);
                  transform: translateX(0%); }
      #content.content #owl-carousel.owl-carousel .owl-stage-outer {
        height: 100% !important; }
        #content.content #owl-carousel.owl-carousel .owl-stage-outer .owl-stage {
          height: 100%; }
          #content.content #owl-carousel.owl-carousel .owl-stage-outer .owl-stage .owl-item {
            height: 100%; }
            #content.content #owl-carousel.owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
              height: 100%;
              width: 100vw; }
              #content.content #owl-carousel.owl-carousel .owl-stage-outer .owl-stage .owl-item .item div {
                bottom: 30px;
                padding-left: 50px; }
              #content.content #owl-carousel.owl-carousel .owl-stage-outer .owl-stage .owl-item .item img {
                height: 100%; }
    #content.content .action-2 {
      top: 14vh !important; }
  section.content#content div#action.action {
    display: block;
    position: fixed;
    top: 11vh; }
  div#modal2 {
    height: -webkit-calc(100% - 70px) !important;
    height: calc(100% - 70px) !important;
    top: 70px !important;
    bottom: 0 !important;
    min-width: 100vw !important; }
    div#modal2 div.iziModal-content {
      height: 100% !important;
      overflow-y: auto !important;
      overflow-x: hidden !important; }
    div#modal2 div.iziModal-wrap {
      height: 100% !important; }
    div#modal2 .container {
      width: 100vw !important; }
    div#modal2 .fitness__upper {
      padding-top: 0px;
      height: auto;
      padding-bottom: 20px; }
      div#modal2 .fitness__upper__container {
        width: 100vw;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: 0 0; }
        div#modal2 .fitness__upper__container img {
          position: relative;
          top: 30px; }
        div#modal2 .fitness__upper__container > div:not(.close-modal-2) {
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%; }
          div#modal2 .fitness__upper__container > div:not(.close-modal-2) br:first-of-type {
            display: none; }
        div#modal2 .fitness__upper__container div:nth-of-type(3) {
          -webkit-flex-basis: auto;
              -ms-flex-preferred-size: auto;
                  flex-basis: auto;
          margin: 0 auto; }
      div#modal2 .fitness__upper .close-modal-2 {
        background: url("/img/choose/icon-close.png") no-repeat center;
        top: 10px;
        right: 10px; }
    div#modal2 .fitness__down {
      width: 100vw;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      position: relative;
      height: auto; }
      div#modal2 .fitness__down > div:nth-of-type(1) {
        height: 575px; }
      div#modal2 .fitness__down > div:nth-of-type(2) {
        height: 575px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap; }
        div#modal2 .fitness__down > div:nth-of-type(2) > div:nth-of-type(1) {
          width: 50%; }
          div#modal2 .fitness__down > div:nth-of-type(2) > div:nth-of-type(1) ~ div {
            width: 50%; }
  section.choose-content {
    width: 100%;
    height: -webkit-calc(100% - 70px) !important;
    height: calc(100% - 70px) !important;
    top: 70px; }
    section.choose-content .choose-content__fitblock:before {
      bottom: auto;
      top: 40px;
      left: 40px; }
    section.choose-content .choose-content__fitblock:after {
      content: url(/img/choose/shadow_tablet.png);
      position: absolute;
      left: 0;
      bottom: auto;
      top: 0;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg); }
  div.modal {
    height: -webkit-calc(100vh - 70px) !important;
    height: calc(100vh - 70px) !important;
    top: 70px !important; }
  #modal-7.fitness {
    height: -webkit-calc(100% - 69px) !important;
    height: calc(100% - 69px) !important;
    top: 69px !important; }
    #modal-7.fitness .fitness__upper {
      padding-top: 0px;
      height: auto;
      padding-bottom: 20px; }
      #modal-7.fitness .fitness__upper__container {
        width: 100vw;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: 0 0; }
        #modal-7.fitness .fitness__upper__container img {
          position: relative;
          top: 30px; }
        #modal-7.fitness .fitness__upper__container > div:not(.fitness--close) {
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%; }
          #modal-7.fitness .fitness__upper__container > div:not(.fitness--close) br:first-of-type {
            display: none; }
        #modal-7.fitness .fitness__upper__container div:nth-of-type(2) {
          -webkit-flex-basis: auto;
              -ms-flex-preferred-size: auto;
                  flex-basis: auto;
          margin: 0 auto; }
      #modal-7.fitness .fitness__upper .fitness--close {
        background: url("/img/choose/icon-close.png") no-repeat center;
        top: 10px;
        right: 10px; }
    #modal-7.fitness .fitness__down {
      width: 100vw;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      #modal-7.fitness .fitness__down > div:nth-of-type(1) {
        height: 575px; }
      #modal-7.fitness .fitness__down > div:nth-of-type(2) {
        height: 575px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap; }
        #modal-7.fitness .fitness__down > div:nth-of-type(2) > div:nth-of-type(1) {
          width: 50%; }
          #modal-7.fitness .fitness__down > div:nth-of-type(2) > div:nth-of-type(1) ~ div {
            width: 50%; }
  .sidebar-trigger.sidebar-trigger-choose {
    display: none !important; }
  .sidebar.sidebar-choose {
    display: none !important; }
  a.select-params {
    display: block; }
  .sidebar-trigger-desktop {
    height: -webkit-calc(100vh - 70px) !important;
    height: calc(100vh - 70px) !important; }
  section.content-choose {
    height: -webkit-calc(100vh - 70px);
    height: calc(100vh - 70px); }
  div.flat-content {
    height: -webkit-calc(100% - 70px) !important;
    height: calc(100% - 70px) !important;
    width: 100vw;
    top: 70px;
    padding-top: 30px;
    padding-right: 30px; }
    div.flat-content div#owl-carousel {
      width: 100vw;
      height: -webkit-calc(100vh - 70px);
      height: calc(100vh - 70px); }
      div.flat-content div#owl-carousel .owl-item {
        width: 100vw; }
        div.flat-content div#owl-carousel .owl-item .item {
          width: 100vw; }
  section.filter {
    top: 69px !important;
    margin-top: 70px;
    width: 100vw; }
    section.filter div.container {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 55px; }
      section.filter div.container h2 {
        padding-left: 30px; }
      section.filter div.container table th {
        line-height: 50px;
        padding-top: 5px; }
      section.filter div.container table td {
        line-height: 100px; }
      section.filter div.container table thead.thead tr th.table-th:nth-of-type(1) {
        padding-left: 25px;
        padding-right: 0px;
        width: 23vw;
        display: inline-block; }
      section.filter div.container table thead.thead tr th.table-th:nth-of-type(2) {
        padding-left: 23px;
        width: 12vw;
        display: inline-block; }
      section.filter div.container table thead.thead tr th.table-th:nth-of-type(3) {
        padding-left: 0;
        width: 11vw;
        display: inline-block; }
      section.filter div.container table thead.thead tr th.table-th:nth-of-type(4) {
        padding-left: 4px;
        width: 7vw;
        display: inline-block; }
      section.filter div.container table thead.thead tr th.table-th:nth-of-type(5) {
        padding-left: 2.5px;
        width: 13vw;
        display: inline-block; }
      section.filter div.container table thead.thead tr th.table-th:nth-of-type(6) {
        padding-left: 2px;
        width: 15vw;
        display: inline-block; }
      section.filter div.container table thead.thead tr th.table-th:nth-of-type(7) {
        padding-left: 0;
        width: 19vw;
        display: inline-block; }
      section.filter div.container table tbody td {
        font-size: 17px; }
      section.filter div.container table tbody tr td:nth-of-type(1) {
        padding-left: 0;
        padding-right: 0px;
        width: 23vw;
        display: inline-block;
        position: relative; }
        section.filter div.container table tbody tr td:nth-of-type(1):before {
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          opacity: 1; }
        section.filter div.container table tbody tr td:nth-of-type(1):after {
          content: 'Вид из окна';
          font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 100px;
          color: white;
          text-align: center;
          padding-left: 45px;
          text-transform: uppercase;
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          background: url("/img/filter/icon-eye.png") no-repeat;
          background-position: 20% 50%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          pointer-events: none;
          opacity: 1; }
      section.filter div.container table tbody tr td:nth-of-type(2) {
        padding-left: 23px;
        width: 12vw;
        display: inline-block; }
      section.filter div.container table tbody tr td:nth-of-type(3) {
        padding-left: 0;
        width: 11vw;
        display: inline-block; }
      section.filter div.container table tbody tr td:nth-of-type(4) {
        padding-left: 18px;
        width: 7vw;
        display: inline-block; }
      section.filter div.container table tbody tr td:nth-of-type(5) {
        padding-left: 2.5px;
        width: 11vw;
        display: inline-block; }
      section.filter div.container table tbody tr td:nth-of-type(6) {
        padding-left: 2px;
        width: 15vw;
        display: inline-block; }
      section.filter div.container table tbody tr td:nth-of-type(7) {
        padding-left: 6px;
        width: 19vw;
        display: inline-block; }
  section.filter div.container table.table-desktop thead.thead tr th.table-th:nth-of-type(1) {
    width: 23vw !important; }
  section.filter div.container table.table-desktop thead.thead tr th.table-th:nth-of-type(2) {
    width: 12vw !important; }
  section.filter div.container table.table-desktop thead.thead tr th.table-th:nth-of-type(3) {
    width: 11vw !important; }
  section.filter div.container table.table-desktop thead.thead tr th.table-th:nth-of-type(4) {
    width: 7vw !important; }
  section.filter div.container table.table-desktop thead.thead tr th.table-th:nth-of-type(5) {
    width: 13vw !important; }
  section.filter div.container table.table-desktop thead.thead tr th.table-th:nth-of-type(6) {
    width: 13.8vw !important; }
  section.filter div.container table.table-desktop thead.thead tr th.table-th:nth-of-type(7) {
    width: 20.2vw !important; }
  section.filter div.container table.table-desktop thead.thead tr th.table-th:nth-of-type(8) {
    display: none; }
  section.filter div.container table.table-desktop tbody tr:first-of-type td:last-of-type div {
    top: 0px; }
  section.filter div.container table.table-desktop tbody tr:not(:first-child) td:last-of-type div {
    top: -1px; }
  section.filter div.container table.table-desktop tbody tr td:last-of-type {
    padding-left: 0;
    position: relative; }
    section.filter div.container table.table-desktop tbody tr td:last-of-type a div {
      height: 100px;
      width: 30px;
      background: url("/img/filter/arrow-right.png") no-repeat center, #3C4154;
      position: absolute;
      right: 0; }
      section.filter div.container table.table-desktop tbody tr td:last-of-type a div img {
        display: none !important; }
  .sidebar-trigger-desktop {
    display: none !important; }
  a.sidebar-trigger-mobile {
    position: absolute !important;
    display: block !important;
    -webkit-transition: all .5s linear !important;
    transition: all .5s linear !important; }
  aside.sidebar.sidebar-filter {
    position: absolute;
    width: 100vw !important;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    height: 430px;
    bottom: auto;
    top: 70px;
    border: 20px solid #3C4154;
    border-bottom: none;
    -webkit-transition: all .5s linear !important;
    transition: all .5s linear !important;
    overflow: visible !important; }
    aside.sidebar.sidebar-filter .sidebar__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      width: 100%; }
    aside.sidebar.sidebar-filter > div {
      padding: 0 0; }
    aside.sidebar.sidebar-filter .sidebar__slider-1 {
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      width: 45vw;
      position: relative;
      height: 100px;
      margin-top: 30px;
      padding-left: 4vw; }
      aside.sidebar.sidebar-filter .sidebar__slider-1 p {
        position: absolute;
        top: -33px;
        font-size: 14px;
        padding-left: 1px; }
      aside.sidebar.sidebar-filter .sidebar__slider-1 .sidebar__slider-1__inputs {
        width: 87%;
        position: relative;
        left: 3px;
        margin: 0 auto; }
      aside.sidebar.sidebar-filter .sidebar__slider-1 .sidebar__slider-1__values {
        display: none; }
    aside.sidebar.sidebar-filter .sidebar__slider-2 {
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      width: 45vw;
      position: relative;
      height: 100px;
      padding-top: 0;
      margin-top: 20px;
      background: #20283D;
      padding-left: 4vw; }
      aside.sidebar.sidebar-filter .sidebar__slider-2 p {
        position: absolute;
        top: -33px;
        font-size: 14px;
        padding-left: 1px; }
      aside.sidebar.sidebar-filter .sidebar__slider-2 .sidebar__slider-2__inputs {
        width: 87%;
        position: relative;
        left: 3px;
        margin: 0 auto; }
      aside.sidebar.sidebar-filter .sidebar__slider-2 .sidebar__slider-2__values {
        display: none; }
    aside.sidebar.sidebar-filter .sidebar__slider-3 {
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
          -ms-flex-order: 4;
              order: 4;
      width: 45vw;
      position: relative;
      height: 46px;
      padding-top: 0;
      margin-top: 0px;
      padding-left: 2.4vw;
      padding-right: 40px; }
      aside.sidebar.sidebar-filter .sidebar__slider-3 #slider-3 {
        display: none; }
      aside.sidebar.sidebar-filter .sidebar__slider-3 p {
        font-size: 14px;
        padding-left: 1px; }
      aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__inputs {
        width: 100%;
        height: 100%;
        position: relative;
        left: 3px;
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: right;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__inputs p:nth-of-type(1),
        aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__inputs p:nth-of-type(2) {
          display: block; }
        aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__inputs p:nth-of-type(3) {
          -webkit-box-ordinal-group: 2;
          -webkit-order: 1;
              -ms-flex-order: 1;
                  order: 1;
          margin-right: -webkit-calc(60% - 80px);
          margin-right: calc(60% - 80px); }
        aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__inputs input:first-of-type {
          -webkit-box-ordinal-group: 4;
          -webkit-order: 3;
              -ms-flex-order: 3;
                  order: 3; }
        aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__inputs p:nth-of-type(1) {
          -webkit-box-ordinal-group: 3;
          -webkit-order: 2;
              -ms-flex-order: 2;
                  order: 2;
          color: white; }
        aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__inputs input:last-of-type {
          -webkit-box-ordinal-group: 6;
          -webkit-order: 5;
              -ms-flex-order: 5;
                  order: 5; }
        aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__inputs p:nth-of-type(2) {
          -webkit-box-ordinal-group: 4;
          -webkit-order: 3;
              -ms-flex-order: 3;
                  order: 3;
          color: white; }
        aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__inputs input {
          width: 42px;
          height: 26px; }
      aside.sidebar.sidebar-filter .sidebar__slider-3 .sidebar__slider-3__values {
        display: none; }
    aside.sidebar.sidebar-filter .sidebar__slider-4 {
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      width: 45vw;
      position: relative;
      height: 100px;
      margin-top: 0px;
      padding-left: 4vw; }
      aside.sidebar.sidebar-filter .sidebar__slider-4 p {
        position: absolute;
        top: -33px;
        font-size: 14px;
        padding-left: 1px; }
      aside.sidebar.sidebar-filter .sidebar__slider-4 .sidebar__slider-4__inputs {
        width: 87%;
        position: relative;
        left: 3px;
        margin: 0 auto; }
        aside.sidebar.sidebar-filter .sidebar__slider-4 .sidebar__slider-4__inputs p {
          top: -21px; }
      aside.sidebar.sidebar-filter .sidebar__slider-4 .sidebar__slider-4__values {
        display: none; }
    aside.sidebar.sidebar-filter .sidebar__floor {
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
      -webkit-box-ordinal-group: 6;
      -webkit-order: 5;
          -ms-flex-order: 5;
              order: 5;
      width: 45vw; }
    aside.sidebar.sidebar-filter .sidebar__room {
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
      padding-left: 3vw;
      padding-right: 37px;
      -webkit-box-ordinal-group: 7;
      -webkit-order: 6;
          -ms-flex-order: 6;
              order: 6;
      width: 45vw;
      background: #20283D; }
      aside.sidebar.sidebar-filter .sidebar__room__check {
        width: 145px;
        margin-right: 0; }
    aside.sidebar.sidebar-filter .sidebar__option {
      -webkit-flex-basis: 35%;
          -ms-flex-preferred-size: 35%;
              flex-basis: 35%;
      -webkit-box-ordinal-group: 8;
      -webkit-order: 7;
          -ms-flex-order: 7;
              order: 7;
      width: 45vw;
      background: #20283D; }
      aside.sidebar.sidebar-filter .sidebar__option label {
        height: 40px;
        line-height: 40px;
        background: #20283D;
        padding-left: 3vw; }
      aside.sidebar.sidebar-filter .sidebar__option label:last-of-type {
        color: #e6af2c; }
        aside.sidebar.sidebar-filter .sidebar__option label:last-of-type:after {
          border-color: #FFE5A8; }
    aside.sidebar.sidebar-filter div.sidebar__details {
      display: block;
      width: 45vw;
      height: 96px;
      -webkit-flex-basis: 21%;
          -ms-flex-preferred-size: 21%;
              flex-basis: 21%;
      background: #20283D;
      padding: 5px 0 0 0;
      padding-left: 3vw;
      -webkit-box-ordinal-group: 9;
      -webkit-order: 8;
          -ms-flex-order: 8;
              order: 8; }
      aside.sidebar.sidebar-filter div.sidebar__details > div img {
        width: 10px;
        height: auto; }
    aside.sidebar.sidebar-filter .sidebar__result {
      display: none; }
  .action {
    display: none; }
  section.city {
    margin-top: 70px;
    width: 100vw; }
    section.city .container {
      width: 100vw; }
  section.links {
    width: 100vw;
    z-index: 99; }
    section.links small {
      display: block;
      position: relative;
      top: 13px; }
    section.links h2 {
      font-size: 30px;
      position: relative;
      bottom: 13px; }
  div.flats__popup {
    top: 70px;
    position: fixed;
    height: -webkit-calc(100vh - 70px);
    height: calc(100vh - 70px); }
    div.flats__popup .flats__popup__container {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px; }
      div.flats__popup .flats__popup__container .flats__popup--close {
        top: 25px;
        right: 25px;
        background-size: contain; }
        div.flats__popup .flats__popup__container .flats__popup--close:hover {
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; }
      div.flats__popup .flats__popup__container__left .flats__plan-2 img {
        width: auto;
        height: 55px; }
      div.flats__popup .flats__popup__container__left .flats__plan-3 img {
        width: auto;
        height: 55px; }
      div.flats__popup .flats__popup__container__right {
        -webkit-flex-basis: 40%;
            -ms-flex-preferred-size: 40%;
                flex-basis: 40%; }
        div.flats__popup .flats__popup__container__right h3 {
          font-size: 30px;
          line-height: 30px; }
        div.flats__popup .flats__popup__container__right .flats__flat-info div {
          font-size: 14px;
          line-height: 20px; }
          div.flats__popup .flats__popup__container__right .flats__flat-info div span {
            font-size: 26px;
            line-height: 30px; }
        div.flats__popup .flats__popup__container__right .flats__flat-price {
          margin-bottom: 15px; }
          div.flats__popup .flats__popup__container__right .flats__flat-price p:first-of-type {
            font-size: 14px;
            line-height: 20px; }
          div.flats__popup .flats__popup__container__right .flats__flat-price p:last-of-type {
            font-size: 30px;
            line-height: 30px; }
        div.flats__popup .flats__popup__container__right .flats__buttons-1 {
          margin-bottom: 0; }
          div.flats__popup .flats__popup__container__right .flats__buttons-1 .flats__view div {
            position: absolute;
            width: 100%;
            height: 60px;
            top: 45px;
            line-height: 60px; }
          div.flats__popup .flats__popup__container__right .flats__buttons-1 .flats__furniture {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap; }
            div.flats__popup .flats__popup__container__right .flats__buttons-1 .flats__furniture div {
              -webkit-flex-basis: 100%;
                  -ms-flex-preferred-size: 100%;
                      flex-basis: 100%;
              height: 65px; }
              div.flats__popup .flats__popup__container__right .flats__buttons-1 .flats__furniture div br {
                display: none; }
        div.flats__popup .flats__popup__container__right .flats__buttons-2 .flats__button-apply {
          width: 100%;
          height: 55px;
          line-height: 55px; }
        div.flats__popup .flats__popup__container__right .flats__buttons-2 .flats__button-download {
          display: none; }
        div.flats__popup .flats__popup__container__right ul {
          margin-top: 40px; }
  section.flats {
    width: 100vw;
    height: auto;
    z-index: 6000; }
    section.flats .container {
      width: 100vw;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      section.flats .container .flats__container__grid {
        margin-top: 435px;
        margin-left: 25px;
        margin-right: 0; }
      section.flats .container .flats__container__content {
        margin-top: 440px;
        padding-left: 0;
        max-width: 40vw; }
        section.flats .container .flats__container__content h1 {
          font-size: 25px;
          line-height: 34px;
          padding-left: 70px;
          position: absolute;
          left: 0;
          top: 275px;
          width: 100%; }
          section.flats .container .flats__container__content h1 br {
            display: none; }
        section.flats .container .flats__container__content h1 + p {
          padding-left: 70px;
          padding-right: 30px;
          position: absolute;
          left: 0;
          top: 335px;
          width: 100%; }
        section.flats .container .flats__container__content a:nth-of-type(2) div {
          margin-top: 7px; }
        section.flats .container .flats__container__content .skew-blocks {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row wrap;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -webkit-transform: translateX(4vw);
              -ms-transform: translateX(4vw);
                  transform: translateX(4vw); }
          section.flats .container .flats__container__content .skew-blocks > a, section.flats .container .flats__container__content .skew-blocks > div {
            width: 100%; }
            section.flats .container .flats__container__content .skew-blocks > a div, section.flats .container .flats__container__content .skew-blocks > div div {
              width: 100%; }
          section.flats .container .flats__container__content .skew-blocks .flats__container__content__more:not(:first-child) {
            margin-top: 7px; }
        section.flats .container .flats__container__content__scheme {
          margin-top: 35px;
          padding-left: 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          section.flats .container .flats__container__content__scheme > div:nth-of-type(2) {
            position: absolute;
            margin-left: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            top: 90px; }
            section.flats .container .flats__container__content__scheme > div:nth-of-type(2) small {
              display: block; }
  .view-popup {
    width: 100vw; }
  section.city {
    height: 235px; }
    section.city:before {
      display: none; } }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (max-width: 767px) {
  .content-under {
    opacity: 1 !important; }
  .mobile--hidden {
    display: none !important; }
  #action-main.action-main {
    display: none; }
  #content.content {
    height: -webkit-calc(100% - 70px);
    height: calc(100% - 70px);
    margin-top: 70px; }
    #content.content .owl-carousel .owl-item .item > div {
      padding-left: 0 !important;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      bottom: 3vh !important; }
      #content.content .owl-carousel .owl-item .item > div span {
        width: 100%;
        padding-left: 6vw; }
      #content.content .owl-carousel .owl-item .item > div p {
        font-size: 25px;
        line-height: 30px; }
      #content.content .owl-carousel .owl-item .item > div input {
        width: 87vw; }
    #content.content .owl-carousel .owl-nav {
      left: 50% !important;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 87vw;
      bottom: 81px !important; }
    #content.content .owl-carousel .owl-dots {
      left: 50% !important;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: 115px !important; }
  div#modal2 .iziModal-wrap {
    overflow-y: scroll !important;
    overflow-x: hidden; }
  div#modal2 .fitness__upper {
    height: auto;
    padding-top: 40px; }
    div#modal2 .fitness__upper__container img {
      top: 0 !important; }
    div#modal2 .fitness__upper__container .close-modal-2 {
      top: -5px !important; }
    div#modal2 .fitness__upper__container > div:nth-of-type(2) {
      height: 55%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      div#modal2 .fitness__upper__container > div:nth-of-type(2) img {
        width: 70px; }
      div#modal2 .fitness__upper__container > div:nth-of-type(2) h2 {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        font-size: 7vw;
        line-height: 7.2vw;
        margin-top: 15px; }
        div#modal2 .fitness__upper__container > div:nth-of-type(2) h2 br {
          display: none; }
    div#modal2 .fitness__upper__container > div:nth-of-type(3) {
      position: relative; }
      div#modal2 .fitness__upper__container > div:nth-of-type(3) p {
        margin-top: 30px; }
      div#modal2 .fitness__upper__container > div:nth-of-type(3) ul {
        margin-bottom: 30px; }
  div#modal2 .fitness__down p {
    font-size: 14px !important;
    line-height: 16px !important;
    bottom: 15px !important;
    left: 15px !important; }
  div#modal2 .fitness__down > div:first-of-type {
    height: 290px; }
  div#modal2 .fitness__down > div:last-of-type {
    height: 290px; }
  .footer-main {
    z-index: 0 !important; }
  .close-modal {
    top: 8px !important;
    right: 8px !important; }
  section.choose-content {
    overflow: hidden; }
    section.choose-content .choose-content__fitblock:before {
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7);
      left: -10px;
      top: 20px; }
    section.choose-content .choose-content__fitblock {
      overflow-x: scroll;
      overflow-y: hidden; }
      section.choose-content .choose-content__fitblock__inner {
        top: -60px !important;
        left: 0 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        height: 100vh; }
        section.choose-content .choose-content__fitblock__inner img {
          height: 100% !important;
          width: 300vw !important; }
    section.choose-content .pin {
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7); }
  .sidebar {
    height: -webkit-calc(100vh - 70px) !important;
    height: calc(100vh - 70px) !important;
    width: 100vw !important; }
  #modal-7.fitness .fitness__upper {
    height: auto;
    padding-top: 40px; }
    #modal-7.fitness .fitness__upper__container img {
      top: 0 !important; }
    #modal-7.fitness .fitness__upper__container .fitness--close {
      top: -5px !important; }
    #modal-7.fitness .fitness__upper__container > div:first-of-type {
      height: 55%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      #modal-7.fitness .fitness__upper__container > div:first-of-type img {
        width: 70px; }
      #modal-7.fitness .fitness__upper__container > div:first-of-type h2 {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        font-size: 7vw;
        line-height: 7.2vw;
        margin-top: 15px; }
        #modal-7.fitness .fitness__upper__container > div:first-of-type h2 br {
          display: none; }
    #modal-7.fitness .fitness__upper__container > div:nth-of-type(2) {
      position: relative; }
      #modal-7.fitness .fitness__upper__container > div:nth-of-type(2) p {
        margin-top: 30px; }
      #modal-7.fitness .fitness__upper__container > div:nth-of-type(2) ul {
        margin-bottom: 30px; }
  #modal-7.fitness .fitness__down p {
    font-size: 14px !important;
    line-height: 16px !important;
    bottom: 15px !important;
    left: 15px !important; }
  #modal-7.fitness .fitness__down > div:first-of-type {
    height: 290px; }
  #modal-7.fitness .fitness__down > div:last-of-type {
    height: 290px; }
  .select-params {
    display: none !important; }
  .flats .table-mobile {
    display: block !important; }
  div.flat-content h3 {
    display: none; }
  div.flat-content #owl-carousel .owl-item:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); }
  div.flat-content #owl-carousel div.owl-nav {
    left: 50%;
    width: 92vw;
    height: 30px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 16.5vh; }
    div.flat-content #owl-carousel div.owl-nav .owl-prev {
      margin-left: 0;
      padding-left: 0;
      left: 0; }
    div.flat-content #owl-carousel div.owl-nav .owl-next {
      margin-right: 0;
      padding-right: 0;
      right: 0; }
  div.flat-content input {
    width: 88vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 3vh;
    font-size: 16px;
    line-height: 60px; }
  div.flat-content__counter {
    bottom: 14vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .flats__popup {
    overflow-y: scroll;
    overflow-x: hidden; }
    .flats__popup .flats__popup__container {
      -webkit-flex-wrap: wrap !important;
          -ms-flex-wrap: wrap !important;
              flex-wrap: wrap !important;
      position: absolute;
      top: 50px;
      padding: 0 25px;
      padding-top: 0 !important;
      padding-bottom: 0 !important; }
      .flats__popup .flats__popup__container .flats__popup--close {
        top: 0 !important; }
      .flats__popup .flats__popup__container__left {
        -webkit-flex-basis: 100% !important;
            -ms-flex-preferred-size: 100% !important;
                flex-basis: 100% !important;
        padding-bottom: 40px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; }
        .flats__popup .flats__popup__container__left .flats__plan-1 {
          margin-bottom: 65px; }
      .flats__popup .flats__popup__container__right {
        -webkit-flex-basis: 100% !important;
            -ms-flex-preferred-size: 100% !important;
                flex-basis: 100% !important;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
        .flats__popup .flats__popup__container__right div.flats__flat-info > div:last-of-type {
          margin-left: 20px; }
        .flats__popup .flats__popup__container__right .flats__buttons-1 a.flats__view div {
          top: 43px; }
        .flats__popup .flats__popup__container__right .flats__buttons-2 {
          margin-bottom: 30px; }
        .flats__popup .flats__popup__container__right ul {
          position: absolute;
          margin-top: 0;
          bottom: -webkit-calc(-99vw - 165px);
          bottom: calc(-99vw - 165px); }
  section.links {
    height: 130px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    section.links h2 {
      bottom: 25px; }
    section.links > a {
      height: 30%; }
    section.links > a:first-of-type {
      position: absolute !important;
      bottom: -10px !important;
      left: 10px !important;
      top: auto; }
    section.links > a:last-of-type {
      position: absolute !important;
      bottom: -10px !important;
      right: 10px !important;
      top: auto; }
  .flats__container {
    padding-left: 0 !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-flow: row wrap !important;
        -ms-flex-flow: row wrap !important;
            flex-flow: row wrap !important; }
    .flats__container__grid:after {
      display: none; }
    .flats__container__grid__wrapper {
      overflow: visible !important; }
      .flats__container__grid__wrapper:after {
        left: -63% !important;
        z-index: -1; }
  .flats__container__content {
    width: 100vw !important;
    padding-left: 0 !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 20px !important;
    margin-bottom: 50px;
    max-width: 100vw !important; }
    .flats__container__content h1 {
      padding: 0 20px !important;
      margin-bottom: 30px;
      margin-top: 250px !important; }
    .flats__container__content h1 + p {
      padding: 0 20px !important; }
    .flats__container__content .skew-blocks {
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: normal !important;
      -webkit-flex-flow: row wrap !important;
          -ms-flex-flow: row wrap !important;
              flex-flow: row wrap !important;
      justify-conent: flex-start !important;
      -webkit-flex-basis: 90%;
          -ms-flex-preferred-size: 90%;
              flex-basis: 90%; }
    .flats__container__content .flats__container__content__more {
      position: relative;
      left: -40px;
      width: 90vw; }
    .flats__container__content h1 {
      position: relative !important;
      top: auto !important;
      bottom: auto !important;
      margin-top: 0px !important;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .flats__container__content h1 + p {
      position: relative !important;
      top: auto !important;
      bottom: auto !important;
      margin-top: 0 !important;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; }
    .flats__container__content .skew-blocks {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
          -ms-flex-order: 4;
              order: 4;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
    .flats__container__content__scheme {
      margin: 0 0 !important;
      width: 100vw;
      padding-left: 0 !important;
      padding-bottom: 35px !important;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
      .flats__container__content__scheme div:first-of-type {
        display: block;
        margin: 0 auto !important; }
  .table-tower thead.thead tr th:first-of-type {
    width: 60vw !important; }
  .table-tower thead.thead tr th.table-th:not(:last-of-type):not(:first-of-type) {
    display: none !important; }
  .table-tower thead.thead tr .table-th-mobile {
    display: inline-block !important;
    padding-left: 4vw;
    width: 40vw !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 400 !important; }
    .table-tower thead.thead tr .table-th-mobile:after {
      display: none !important; }
  .table-tower tbody tr:nth-child(even) {
    background: #272D3E; }
  .table-tower tbody tr.flag td:last-of-type:before,
  .table-tower tbody tr.brush td:last-of-type:before {
    position: absolute !important;
    right: -93px !important;
    top: 50% !important; }
  .table-tower tbody tr.flag td:last-of-type:after,
  .table-tower tbody tr.brush td:last-of-type:after {
    position: absolute !important;
    right: -93px !important;
    top: 78% !important; }
  .table-tower tbody tr {
    position: relative;
    height: 140px !important; }
    .table-tower tbody tr td {
      border: none !important; }
    .table-tower tbody tr td:first-of-type {
      height: 140px !important;
      width: 20vw !important;
      position: relative; }
      .table-tower tbody tr td:first-of-type img {
        -o-object-fit: cover;
           object-fit: cover; }
    .table-tower tbody tr td:nth-of-type(2) {
      position: relative;
      top: -35px;
      left: 5.5vw;
      font-size: 18px !important;
      padding-left: 0px !important; }
    .table-tower tbody tr td:nth-of-type(3) {
      position: relative;
      padding-left: 0px !important;
      left: -6vw;
      top: 35px; }
    .table-tower tbody tr td:nth-of-type(4) {
      position: relative;
      padding-left: 0px !important;
      left: 3.5vw;
      top: 35px; }
    .table-tower tbody tr td:nth-of-type(5) {
      position: relative;
      padding-left: 0px !important;
      left: 10vw;
      top: 35px; }
    .table-tower tbody tr td:nth-of-type(6) {
      position: relative;
      top: -35px;
      left: -1vw;
      font-size: 18px !important;
      padding-left: 0px !important; }
    .table-tower tbody tr td:nth-of-type(7) {
      position: relative;
      padding-left: 0px !important; }
    .table-tower tbody tr .td-section--mobile {
      position: absolute;
      left: 26vw;
      padding-left: 0 !important;
      margin-top: 35px;
      color: #62656F !important; }
    .table-tower tbody tr .td-floor--mobile {
      position: absolute;
      left: 46vw;
      padding-left: 0 !important;
      margin-top: 35px;
      color: #62656F !important; }
    .table-tower tbody tr .td-area--mobile {
      position: absolute !important;
      left: 60vw;
      padding-left: 0 !important;
      margin-top: 35px;
      color: #62656F !important; }
    .table-tower tbody tr .td--mobile {
      display: inline-block !important; }
  section.filter .container h2 {
    font-size: 20px;
    line-height: 20px;
    padding: 30px 0; }
  a.sidebar-trigger-mobile {
    left: 0; }
  aside.sidebar.sidebar-filter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    border: none;
    padding-top: 0px;
    padding-right: 0px;
    height: auto !important; }
    aside.sidebar.sidebar-filter .sidebar__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
    aside.sidebar.sidebar-filter .sidebar__slider-1 {
      padding-left: 0 !important;
      padding-right: 0 !important;
      -webkit-flex-basis: 100% !important;
          -ms-flex-preferred-size: 100% !important;
              flex-basis: 100% !important;
      margin-top: 0;
      height: auto;
      padding-top: 14%;
      padding-bottom: 23px; }
    aside.sidebar.sidebar-filter .sidebar__slider-2 {
      padding-left: 0 !important;
      padding-right: 0 !important;
      -webkit-flex-basis: 100% !important;
          -ms-flex-preferred-size: 100% !important;
              flex-basis: 100% !important;
      background: #3C4154 !important;
      padding-top: 14%;
      margin-top: 0;
      height: 120px;
      height: 130px; }
      aside.sidebar.sidebar-filter .sidebar__slider-2 p {
        top: -21px; }
    aside.sidebar.sidebar-filter .sidebar__slider-3 {
      padding-left: 6.1vw !important;
      padding-right: 26px;
      -webkit-flex-basis: 100% !important;
          -ms-flex-preferred-size: 100% !important;
              flex-basis: 100% !important; }
      aside.sidebar.sidebar-filter .sidebar__slider-3__inputs p:nth-of-type(3) {
        margin-right: 30vw !important; }
    aside.sidebar.sidebar-filter .sidebar__slider-4 {
      padding-left: 0 !important;
      padding-right: 0 !important;
      -webkit-flex-basis: 100% !important;
          -ms-flex-preferred-size: 100% !important;
              flex-basis: 100% !important;
      -webkit-box-ordinal-group: 7;
      -webkit-order: 6;
          -ms-flex-order: 6;
              order: 6;
      height: 140px;
      padding-top: 9%;
      margin-top: 16px; }
    aside.sidebar.sidebar-filter .sidebar__room {
      -webkit-flex-basis: 100% !important;
          -ms-flex-preferred-size: 100% !important;
              flex-basis: 100% !important;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-left: 7vw;
      padding-right: 7vw;
      margin: 0 auto;
      background: #3C4154; }
      aside.sidebar.sidebar-filter .sidebar__room__check {
        position: relative;
        left: 5px; }
    aside.sidebar.sidebar-filter .sidebar__option {
      -webkit-flex-basis: 100% !important;
          -ms-flex-preferred-size: 100% !important;
              flex-basis: 100% !important;
      padding-left: 0;
      flex-basis: 100% !important; }
      aside.sidebar.sidebar-filter .sidebar__option > label:nth-of-type(1) {
        background: #3C4154 !important; }
      aside.sidebar.sidebar-filter .sidebar__option > label:nth-of-type(3) {
        background: #3C4154 !important; }
      aside.sidebar.sidebar-filter .sidebar__option label {
        padding: 0 8vw; }
        aside.sidebar.sidebar-filter .sidebar__option label:before {
          right: -webkit-calc(6.5% + 5px);
          right: calc(6.5% + 5px); }
        aside.sidebar.sidebar-filter .sidebar__option label:after {
          right: 6vw; }
    aside.sidebar.sidebar-filter .sidebar__details {
      -webkit-flex-basis: 100% !important;
          -ms-flex-preferred-size: 100% !important;
              flex-basis: 100% !important;
      margin: 0 auto !important;
      padding-top: 20px;
      height: 115px !important;
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-left: 7.6vw !important; }
  .table-desktop,
  .filter .container .table-desktop + a {
    display: none !important; }
  .table-mobile,
  .filter .container .table-mobile + a {
    display: block !important; } }

@media (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {
  #action {
    display: none !important; }
  .content#content #owl-carousel {
    height: 100vh !important;
    top: 0 !important; }
    .content#content #owl-carousel .owl-dots {
      left: 24vw !important;
      bottom: 169px !important; }
    .content#content #owl-carousel .owl-nav {
      -webkit-transform: unset;
          -ms-transform: unset;
              transform: unset;
      left: 3vw !important;
      width: 41.5vw !important;
      bottom: 150px !important;
      height: 40px !important; }
  .content#content #owl-carousel .item > div {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    bottom: 13vw !important; }
    .content#content #owl-carousel .item > div span {
      padding-left: 3vw; }
    .content#content #owl-carousel .item > div input[type="button"] {
      width: 275px !important;
      margin-left: 3vw;
      margin-top: 40px; }
  section.choose-content {
    height: -webkit-calc(100vh - 70px) !important;
    height: calc(100vh - 70px) !important;
    top: 70px !important; }
    section.choose-content .pin {
      -webkit-transform: scale(0.4) translate(-10px, -10px);
          -ms-transform: scale(0.4) translate(-10px, -10px);
              transform: scale(0.4) translate(-10px, -10px); }
    section.choose-content .choose-content__fitblock {
      overflow: hidden; }
      section.choose-content .choose-content__fitblock:before {
        display: none; }
      section.choose-content .choose-content__fitblock__inner {
        height: 120% !important;
        top: -30px !important; }
        section.choose-content .choose-content__fitblock__inner img {
          width: 100vw !important; }
  div.flat-content #owl-carousel div.owl-nav {
    bottom: 26.5vh; }
  div.flat-content__counter {
    bottom: 23vh; }
  footer.footer .container-2__block:first-of-type {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-bottom: 0; }
    footer.footer .container-2__block:first-of-type img + p {
      margin-top: 8%; }
    footer.footer .container-2__block:first-of-type .footer__info {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      display: block;
      margin-top: 0; }
    footer.footer .container-2__block:first-of-type .container-2__block__links {
      position: relative;
      top: -8px; }
  footer.footer .container-2__block:last-of-type {
    padding-bottom: 10px; }
    footer.footer .container-2__block:last-of-type .footer__social {
      top: -380% !important; }
  aside.sidebar .sidebar__wrapper .sidebar__slider-1 {
    padding-top: 8%; }
  aside.sidebar .sidebar__wrapper .sidebar__slider-2 {
    padding-top: 8%; }
  aside.sidebar .sidebar__wrapper .sidebar__slider-3 {
    padding-right: 7vw; }
    aside.sidebar .sidebar__wrapper .sidebar__slider-3__inputs p:nth-of-type(3) {
      margin-right: 36% !important; }
  aside.sidebar .sidebar__wrapper .sidebar__slider-4 {
    padding-top: 5%; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 62.5%;
  overflow: hidden;
  height: 100%; }

body {
  overflow: hidden;
  height: 100%; }

.flat-content {
  z-index: 5100;
  height: -webkit-calc(100vh - 126px);
  height: calc(100vh - 126px);
  width: 100vw;
  position: absolute;
  bottom: 0;
  top: 126px;
  padding-top: 100px;
  padding-right: 100px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }
  .flat-content__360 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 100; }
    .flat-content__360 p {
      font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: white;
      float: left;
      margin-right: 20px;
      margin-top: 25px;
      text-transform: uppercase; }
    .flat-content__360 img {
      float: right;
      width: 75px !important;
      height: auto !important; }
  .flat-content h3 {
    font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 60px;
    bottom: 130px;
    z-index: 99;
    white-space: nowrap; }
  .flat-content input {
    width: 386px;
    height: 60px;
    background: #c02d2b;
    font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: white;
    border: none;
    outline: none;
    position: absolute;
    left: 60px;
    bottom: 60px;
    z-index: 100;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer; }
    .flat-content input:hover {
      background: #d13533; }
  .flat-content .swiper-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: -webkit-calc(100vh - 126px);
    height: calc(100vh - 126px); }
    @media only screen and (max-width: 1240px) {
      .flat-content .swiper-container {
        height: -webkit-calc(100vh - 70px);
        height: calc(100vh - 70px); } }
    .flat-content .swiper-container .swiper-wrapper div:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      display: none; }
      @media only screen and (max-width: 767px) {
        .flat-content .swiper-container .swiper-wrapper div:before {
          display: block; } }
    .flat-content .swiper-container .swiper-toolbar {
      width: 155px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 50px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      position: absolute;
      bottom: 200px;
      left: 45px;
      z-index: 1; }
      @media only screen and (max-width: 767px) {
        .flat-content .swiper-container .swiper-toolbar {
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          width: 93%;
          bottom: 90px; } }
      .flat-content .swiper-container .swiper-toolbar > * {
        position: relative; }
      .flat-content .swiper-container .swiper-toolbar .swiper-button-prev {
        background: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative; }
        .flat-content .swiper-container .swiper-toolbar .swiper-button-prev svg {
          height: 40px;
          width: 110px;
          -webkit-transition: all .2s ease;
          transition: all .2s ease; }
          .flat-content .swiper-container .swiper-toolbar .swiper-button-prev svg:hover {
            fill: #DFA021; }
      .flat-content .swiper-container .swiper-toolbar .flat-content__counter {
        z-index: 100;
        text-align: center;
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 200;
        line-height: 23px;
        color: white;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .flat-content .swiper-container .swiper-toolbar .flat-content__counter span {
          margin-right: 5px; }
        .flat-content .swiper-container .swiper-toolbar .flat-content__counter small {
          font-size: 16px; }
        @media only screen and (max-width: 767px) {
          .flat-content .swiper-container .swiper-toolbar .flat-content__counter {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%); } }
      .flat-content .swiper-container .swiper-toolbar .swiper-button-next {
        background: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative; }
        .flat-content .swiper-container .swiper-toolbar .swiper-button-next svg {
          height: 40px;
          width: 110px;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
          position: relative;
          right: 8px; }
          .flat-content .swiper-container .swiper-toolbar .swiper-button-next svg g {
            -webkit-transform-origin: center center;
                -ms-transform-origin: center center;
                    transform-origin: center center; }
          .flat-content .swiper-container .swiper-toolbar .swiper-button-next svg:hover {
            fill: #DFA021; }
