.parking {
	transition: ease .3s all;
	position: relative;
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin-right: 30px;
    font-family: 'DINNextCYR-Regular';
    line-height: 1.2;
    min-height: 520px;
}

.parking__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent url(../img/parking/parking-bg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

.parking-nav {
    width: 100%;
    position: relative;
    padding: 40px;
}

.parking .parking-nav h1 {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'DINNextCYR-Medium';
    margin: 0 0 35px 0;
    line-height: 1.2;
}

.parking-levels {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.parking-levels__item {
	margin-right: 20px;
	margin-bottom: 20px;
}

.parking-levels__item:last-child {
	margin-right: 0;
}

.parking  .parking-levels__tlt {
	font-family: 'DINNextCYR-Medium';
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.parking-levels-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.parking .parking-levels-list__link {
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	font-family: 'DINNextCYR-Medium';
	text-decoration: none;
	color: #fff;
	border: solid 2px #ffe94f;
	padding-left: 50px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.parking .parking-levels-list__link:last-child {
	margin-bottom: 0;
}

.parking .parking-levels-list__link:before {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 100%;
	content: attr(data-index);
	border-right: solid 2px #ffe94f;
	text-align: center;
	color: #ffe94f;
	font-size: 23px;
}

.parking-footer {
	height: 120px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.parking .parking-footer__item {
	position: relative;
	width: 50%;
	height: 100%;
	text-decoration: none;
	background: transparent url('../img/parking/parking_payment.svg') 50% 12px no-repeat;
	background-size: 62px 52px;
	color: #fff;
	padding-top: 65px;
	text-align: center;
	font-size: 20px;
	line-height: 1.1;
	font-family: 'DINNextCYR-Medium';
}

.parking .parking-footer__item._payment {
	background-color: #e9b327;
	background-image: url('../img/parking/parking_payment.svg');
}

.parking .parking-footer__item._order {
	background-color: #f5c444;
	background-image: url('../img/parking/parking_order.svg');
}

.parking .parking-form-wrapper {
	overflow: hidden;
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent url('../img/parking/parking-bg_2.jpg') 100% 50% no-repeat;
}

.parking .parking-form {
	transition: ease .3s all;
	width: 495px;
	background-color: #303952;
	height: 100%;
	padding: 50px;
}

.parking .parking-form__tlt {
	color: #fff;
	font-size: 25px;
	font-family: 'DINNextCYR-Medium';
	font-weight: normal;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.parking .parking-form__step {
	margin-bottom: 15px;
}

.parking-form__step:last-child {
	margin-bottom: 0;
}

.parking-form__lbl {
	transition: ease .3s all;
	display: block;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	line-height: 22px;
}

.selectric {
	transition: ease .3s all;
	border-radius: 2px;
	border: solid 1px #fff;
	background: transparent;
}

.selectric-hover .selectric,
.selectric-open .selectric,
.selectric-hover .button {
	border-color: #fff;
	background: #2a334a;
}

.selectric .label {
	font-size: 14px;
	color: #fff;
}

.selectric .button {
	background: transparent;
	border-left: solid 1px #fff;
	color: transparent;
}

.selectric .button:after {
	transition: ease .3s all;
	width: 13px;
	height: 8px;
	background: transparent url('../img/parking/arr.png') 0 0 no-repeat;
	border: none;
}

.selectric-open .selectric .button:after {
	transform: rotate(180deg);
}

.selectric-items {
	background: #2a334a;
	padding: 5px 0;
}

.selectric-items li {
	padding: 0 20px;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	white-space: nowrap;
}

.selectric-items li:hover {
	background: #454f6d;
	color: #fff;
}

.selectric-items li.disabled {
	color: #9098ac;
}

.selectric-items li.disabled:hover {
	background: transparent;
}

.selectric-items li.selected {
	position: relative;
	color: #fff;
	background: transparent;
}

.selectric-items li.selected:before {
	content: '';
	position: absolute;
	left: 4px;
	top: 5px;
	width: 11px;
	height: 9px;
	background: transparent url('../img/parking/selected.png') 0 0 no-repeat;
}

.parking-form__step._double {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.parking-form__part {
	display: block;
	width: calc(50% - 10px);
	margin-right: 20px;
}

.parking-form__part:last-child {
	margin-right: 0;
}

.parking-form__inp {
	transition: ease .3s all;
	border: solid 1px transparent;
	background: #454f6d;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding: 0 10px;
	border-radius: 2px;
	color: #fff;
}

.parking-form__inp:focus {
	outline: none;
}

.parking-form__inp:hover,
.parking-form__inp:focus {
	border-color: #6a78a1;
}

.parking .ws-invalid .parking-form__lbl {
	color: #eb393d;
}

.parking .ws-invalid {
	position: relative;
}

.parking .ws-errorbox {
	position: absolute;
	top: 100%;
}

.parking .ws-errorbox p {
	color: #fff;
	font-size: 10px;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

.parking .parking-form__link {
	color: #e6af2c;
	text-decoration: underline;
	font-size: 14px;
	font-family: 'DINNextCYR-Medium';
}

.parking-form__link:hover {
	text-decoration: none;
}

.btn-n {
	transition: ease .3s all;
	display: block;
	min-width: 180px;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	font-family: 'DINNextCYR-Medium';
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}

.btn-n._orange {
	background-color: #e6af2c;
	color: #080f22;
}

.btn-n._orange:hover {
	background-color: rgab(230, 175, 44, .8);
}

.btn-n._orange:focus {
	outline: none;
}

@media (max-width: 860px) {
	.parking,
	.parking__inner {
		height: auto;
	}

	.parking .parking-form {
		padding: 25px;
	}
}

@media (max-width: 860px) {
	.parking .parking-form {
		width: 100%;
	}
}
