.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.actions_all_block {
  width: 98%; }

.b-content__box img {
  height: auto !important; }
  @media only screen and (max-width: 767px) {
    .b-content__box img {
      padding: 0 10px; } }
  @media only screen and (max-width: 1240px) {
    .b-content__box img {
      width: 100% !important;
      max-width: unset !important; } }
  @media only screen and (min-width: 1240px) {
    .b-content__box img {
      width: 100% !important; } }

.block-actions {
  background-size: cover !important; }

.link_action_block:nth-of-type(1) .block-actions, .link_action_block:nth-of-type(2) .block-actions {
  background-size: 100% auto !important; }

[id*="ymaps"] {
  width: 100% !important; }

@media (max-width: 1240px) {
  div.text-content {
    margin-left: 0 !important;
    margin-right: 0 !important; } }

@media only screen and (max-width: 767px) {
  div.text-content {
    padding-left: 10px !important;
    padding-right: 10px !important; } }

div.b-content.b-text {
  padding-top: 220px;
  min-height: 97vh; }
  @media only screen and (max-width: 1240px) {
    div.b-content.b-text {
      padding-top: 70px; }
      div.b-content.b-text .u-clear-fix .b-side-bar {
        display: none !important; } }

.img-sold {
  background-position: center center; }
  @media only screen and (max-width: 1240px) {
    .img-sold {
      top: -27px !important; } }
  @media only screen and (min-width: 767px) {
    .img-sold {
      width: 100% !important; } }

#jquery-lightbox {
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  position: fixed !important; }
  #jquery-lightbox img#lightbox-image {
    max-height: 60vh;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  #jquery-lightbox #lightbox-nav {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important; }
    #jquery-lightbox #lightbox-nav > a {
      top: 50% !important; }

.b-wrapper {
  padding: 0 40px; }
  @media only screen and (max-width: 767px) {
    .b-wrapper {
      padding: 0 20px; } }
  @media only screen and (max-width: 1240px) {
    .b-wrapper {
      padding: 0 0; } }
  @media only screen and (min-width: 1240px) {
    .b-wrapper {
      width: 1340px !important; } }

@media only screen and (min-width: 1240px) {
  .b-side-bar {
    margin-right: 40px; } }

div.b-corpus-general {
  margin-top: 126px;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1240px) {
    div.b-corpus-general {
      margin-top: 70px; } }
  @media only screen and (max-width: 767px) {
    div.b-corpus-general {
      width: 100vw; } }
  div.b-corpus-general div.b-building-intro .b-wrapper {
    position: relative;
    top: 0px; }
  div.b-corpus-general div.b-building {
    height: 570px; }
    @media only screen and (max-width: 767px) {
      div.b-corpus-general div.b-building {
        height: 200px; } }
  div.b-corpus-general .b-building__lift ul {
    list-style-type: none; }

.span--message {
  position: relative;
  top: -11px; }

.button-close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  top: 90px;
  background: url("/img/choose/icon-cross.png") no-repeat center, white;
  background-size: 40%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: 100;
  border: none; }
  @media only screen and (max-width: 1240px) {
    .button-close {
      top: 13px; } }
  @media only screen and (max-width: 767px) {
    .button-close {
      top: 87px; } }
  .button-close:hover {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.page-is-house .b-building-intro {
  padding-top: 10px; }
  .page-is-house .b-building-intro .b-building .b-wrapper {
    pointer-events: none;
    z-index: 100; }
    .page-is-house .b-building-intro .b-building .b-wrapper h2 {
      pointer-events: all; }

@media only screen and (min-width: 1240px) and (min-height: 1327px) {
  .page-is-house .footer {
    position: fixed !important;
    bottom: 0 !important; } }

#simplemodal-overlay {
  z-index: 100030 !important; }

#simplemodal-container {
  z-index: 100030 !important;
  overflow: scroll;
  width: auto !important;
  height: auto !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: auto !important; }
  @media only screen and (max-width: 767px) {
    #simplemodal-container {
      -webkit-transform: translate(-50%, -50%) scale(0.7);
          -ms-transform: translate(-50%, -50%) scale(0.7);
              transform: translate(-50%, -50%) scale(0.7); } }

.set-routes-btn__icon img {
  height: 22px !important;
  width: auto !important; }

.b-link__blue {
  background: #3C90C5;
  margin-top: 40px !important; }
  .b-link__blue:before {
    border-right: 50px solid #3C90C5; }
  .b-link__blue:after {
    border-left: 50px solid #3C90C5; }

#social-block {
  top: 580px !important; }

.contact_map_1, .contact_map_2 {
  width: 100%;
  height: 500px; }
