@font-face {
  font-family: 'pfd';
  src: url("/fonts/pfd/pfdindisplaypro-thin.eot");
  src: url("/fonts/pfd/pfdindisplaypro-thin.eot?#iefix") format("embedded-opentype"), url("/fonts/pfd/pfdindisplaypro-thin.ttf") format("truetype"), url("/fonts/pfd/pfdindisplaypro-thin.woff2") format("woff2"), url("/fonts/pfd/pfdindisplaypro-thin.woff") format("woff"), url("/fonts/pfd/pfdindisplaypro-thin.svg") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'pfd';
  src: url("/fonts/pfd/pfdindisplaypro-light.eot");
  src: url("/fonts/pfd/pfdindisplaypro-light.eot?#iefix") format("embedded-opentype"), url("/fonts/pfd/pfdindisplaypro-light.ttf") format("truetype"), url("/fonts/pfd/pfdindisplaypro-light.woff2") format("woff2"), url("/fonts/pfd/pfdindisplaypro-light.woff") format("woff"), url("/fonts/pfd/pfdindisplaypro-light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-famy: 'pfd';
  src: url("/fonts/pfd/pfdindisplaypro-regular.eot");
  src: url("/fonts/pfd/pfdindisplaypro-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/pfd/pfdindisplaypro-regular.ttf") format("truetype"), url("/fonts/pfd/pfdindisplaypro-regular.woff2") format("woff2"), url("/fonts/pfd/pfdindisplaypro-regular.woff") format("woff"), url("/fonts/pfd/pfdindisplaypro-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'pfd';
  src: url("/fonts/pfd/pfdindisplaypro-medium.eot");
  src: url("/fonts/pfd/pfdindisplaypro-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/pfd/pfdindisplaypro-medium.ttf") format("truetype"), url("/fonts/pfd/pfdindisplaypro-medium.woff2") format("woff2"), url("/fonts/pfd/pfdindisplaypro-medium.woff") format("woff"), url("/fonts/pfd/pfdindisplaypro-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'pfd';
  src: url("../fonts/pfd/pfdindisplaypro-bold.eot");
  src: url("../fonts/pfd/pfdindisplaypro-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/pfd/pfdindisplaypro-bold.ttf") format("truetype"), url("/fonts/pfd/pfdindisplaypro-bold.woff2") format("woff2"), url("/fonts/pfd/pfdindisplaypro-bold.woff") format("woff"), url("/fonts/pfd/pfdindisplaypro-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'pfd';
  src: url("../fonts/pfd/pfdindisplaypro-black.eot");
  src: url("../fonts/pfd/pfdindisplaypro-black.eot?#iefix") format("embedded-opentype"), url("/fonts/pfd/pfdindisplaypro-black.ttf") format("truetype"), url("/fonts/pfd/pfdindisplaypro-black.woff2") format("woff2"), url("/fonts/pfd/pfdindisplaypro-black.woff") format("woff"), url("/fonts/pfd/pfdindisplaypro-black.svg") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "DINNextCYR-Regular";
  src: url("../../fonts/DINNextCYR/DINNextCYR-Regular.eot");
  src: url("../../fonts/DINNextCYR/DINNextCYR-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/DINNextCYR/DINNextCYR-Regular.woff") format("woff"), url("../../fonts/DINNextCYR/DINNextCYR-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "DINNextCYR-Light";
  src: url("../../fonts/DINNextCYR/DINNextCYR-Light.eot");
  src: url("../../fonts/DINNextCYR/DINNextCYR-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/DINNextCYR/DINNextCYR-Light.woff") format("woff"), url("../../fonts/DINNextCYR/DINNextCYR-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "DINNextCYR-Medium";
  src: url("../../fonts/DINNextCYR/DINNextCYR-Medium.eot");
  src: url("../../fonts/DINNextCYR/DINNextCYR-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/DINNextCYR/DINNextCYR-Medium.woff") format("woff"), url("../../fonts/DINNextCYR/DINNextCYR-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (min-width: 1240px) {
  .desktop--hidden {
    display: none !important; } }

@media only screen and (min-width: 1240px) {
  .desktop--visible {
    display: block !important; } }

@media only screen and (max-width: 1240px) {
  .tablet--hidden {
    display: none !important; } }

@media only screen and (max-width: 1240px) {
  .tablet--visible {
    display: block !important; } }

@media only screen and (max-width: 767px) {
  .mobile--hidden {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .mobile--visible {
    display: block !important; } }

.color--green {
  color: #00E2AC !important; }

.noscroll {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.submenu--on {
  margin-bottom: 0vh !important; }

.menu--mobile--on {
  visibility: visible !important;
  opacity: 1 !important; }

.hidden {
  display: none; }

@media only screen and (max-width: 767px) {
  .page--fullscreen .fullscreen-mobile--hidden {
    display: none !important; } }

.hamburger--active {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }
  .hamburger--active div:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(45deg);
        -ms-transform: translateY(13.5px) rotate(45deg);
            transform: translateY(13.5px) rotate(45deg); }
  .hamburger--active div:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px); }
  .hamburger--active div:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(-46deg);
        -ms-transform: translateY(-13.5px) rotate(-46deg);
            transform: translateY(-13.5px) rotate(-46deg); }

body.page--fullscreen footer.footer {
  position: fixed;
  bottom: -100%; }
  @media only screen and (max-width: 767px) {
    body.page--fullscreen footer.footer {
      bottom: 0 !important; } }

.sidebar--active {
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important; }

@media only screen and (min-width: 1240px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
    padding-left: 525px;
    padding-right: 525px;
    -webkit-transition: all .5s ease !important;
    transition: all .5s ease !important; } }

@media only screen and (max-width: 1240px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 435px, 0) !important;
            transform: translate3d(0, 435px, 0) !important; } }

@media only screen and (max-width: 767px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 735px, 0) !important;
            transform: translate3d(0, 735px, 0) !important; } }

.sidebar-choose th.sorting_desc {
  color: #333 !important; }

.flats .flat--unactive {
  background: #0E0E0E !important;
  font-size: 0px !important;
  cursor: auto !important; }
  .flats .flat--unactive:hover {
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important; }

.flats .flat--sold {
  background: #2c384e !important;
  cursor: default !important; }
  .flats .flat--sold:hover {
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important; }

.flats .flat--forsale {
  background: #6DB300 !important; }

.flats .flat--view {
  background: #008ED4 !important; }

div.view-popup--visible {
  opacity: 1;
  visibility: visible; }

div.flats__popup--visible {
  visibility: visible;
  opacity: 1; }

.filter .sorting_desc {
  color: white !important; }
  .filter .sorting_desc:after {
    -webkit-transform: rotate(180deg) !important;
        -ms-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
    opacity: 1 !important;
    top: 1px !important; }

.sidebar-filter.th--active {
  color: white !important; }
  .sidebar-filter.th--active:after {
    opacity: 1 !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 30px; }

* {
  margin: 0 0;
  padding: 0 0; }

body {
  min-width: 1260px; }
  @media only screen and (max-width: 1240px) {
    body {
      min-width: 100vw; }
      body:not(.page--fullscreen) {
        overflow-x: hidden !important; } }
  @media only screen and (min-width: 1240px) {
    body {
      overflow-x: hidden !important; } }

.simplemodal-overlay {
  background: rgba(0, 0, 0, 0.8); }

span.callback__form, .flat_order_form {
  width: 324px;
  padding-left: 0; }

span.callback__form form, .flat_order_form form {
  width: 324px;
  background: #060e23;
  border: 0 solid gray;
  padding-top: 5px;
  padding-bottom: 1px;
  /*margin-left: 22px; */ }

span.callback__form form fieldset, .flat_order_form form fieldset {
  border: none;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 10px; }

#simplemodal-container fieldset label {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  display: block;
  font-family: DINNextCYR-Regular, Helvetica, Arial, sans-serif;
  color: white;
  position: relative;
  top: 5px; }

span.callback__form form fieldset input, .flat_order_form form fieldset input {
  color: white;
  border: 2px solid transparent;
  height: 26px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  font-family: DINNextCYR-Regular, Helvetica, Arial, sans-serif;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase; }
  span.callback__form form fieldset input:not([type="submit"]), .flat_order_form form fieldset input:not([type="submit"]) {
    min-width: 270px !important;
    background: #FFC206; }
  span.callback__form form fieldset input[type="submit"], .flat_order_form form fieldset input[type="submit"] {
    width: 170px;
    margin: 0 auto !important;
    display: block;
    cursor: pointer; }

span.callback__form form fieldset input.callback-submit, .flat_order_form form fieldset input.callback-submit {
  background-color: #00e5b0;
  color: white; }

span.callback__form form fieldset textarea, .flat_order_form form fieldset textarea {
  min-width: 270px !important;
  color: white;
  width: 167px;
  height: 100px;
  border: 0 solid white;
  background-color: #ffc206;
  font-size: 16px;
  font-family: DINNextCYR-Regular, Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

span.callback__form form div, .flat_order_form form div {
  padding-bottom: 37px; }

span.callback__form form div a, .flat_order_form form div a {
  color: white;
  font-size: 14px;
  display: block;
  text-transform: none;
  padding-left: 38px;
  line-height: 30px; }

span.callback__form form .success, .flat_order_form form .success {
  padding: 13px;
  color: white;
  font-size: 20px;
  line-height: 20px; }

.input--error {
  border-color: red !important; }
