.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (min-width: 1240px) {
  .desktop--hidden {
    display: none !important; } }

@media only screen and (min-width: 1240px) {
  .desktop--visible {
    display: block !important; } }

@media only screen and (max-width: 1240px) {
  .tablet--hidden {
    display: none !important; } }

@media only screen and (max-width: 1240px) {
  .tablet--visible {
    display: block !important; } }

@media only screen and (max-width: 767px) {
  .mobile--hidden {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .mobile--visible {
    display: block !important; } }

.color--green {
  color: #00E2AC !important; }

.noscroll {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.submenu--on {
  margin-bottom: 0vh !important; }

.menu--mobile--on {
  visibility: visible !important;
  opacity: 1 !important; }

.hidden {
  display: none; }

@media only screen and (max-width: 767px) {
  .page--fullscreen .fullscreen-mobile--hidden {
    display: none !important; } }

.hamburger--active {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }
  .hamburger--active div:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(45deg);
        -ms-transform: translateY(13.5px) rotate(45deg);
            transform: translateY(13.5px) rotate(45deg); }
  .hamburger--active div:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px); }
  .hamburger--active div:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(-46deg);
        -ms-transform: translateY(-13.5px) rotate(-46deg);
            transform: translateY(-13.5px) rotate(-46deg); }

body.page--fullscreen footer.footer {
  position: fixed;
  bottom: -100%; }
  @media only screen and (max-width: 767px) {
    body.page--fullscreen footer.footer {
      bottom: 0 !important; } }

.sidebar--active {
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important; }

@media only screen and (min-width: 1240px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
    padding-left: 525px;
    padding-right: 525px;
    -webkit-transition: all .5s ease !important;
    transition: all .5s ease !important; } }

@media only screen and (max-width: 1240px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 435px, 0) !important;
            transform: translate3d(0, 435px, 0) !important; } }

@media only screen and (max-width: 767px) {
  .sidebar-filter--active {
    -webkit-transform: translate3d(0, 735px, 0) !important;
            transform: translate3d(0, 735px, 0) !important; } }

.sidebar-choose th.sorting_desc {
  color: #333 !important; }

.flats .flat--unactive {
  background: #0E0E0E !important;
  font-size: 0px !important;
  cursor: auto !important; }
  .flats .flat--unactive:hover {
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important; }

.flats .flat--sold {
  background: #2c384e !important;
  cursor: default !important; }
  .flats .flat--sold:hover {
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important; }

.flats .flat--forsale {
  background: #6DB300 !important; }

.flats .flat--view {
  background: #008ED4 !important; }

div.view-popup--visible {
  opacity: 1;
  visibility: visible; }

div.flats__popup--visible {
  visibility: visible;
  opacity: 1; }

.filter .sorting_desc {
  color: white !important; }
  .filter .sorting_desc:after {
    -webkit-transform: rotate(180deg) !important;
        -ms-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
    opacity: 1 !important;
    top: 1px !important; }

.sidebar-filter.th--active {
  color: white !important; }
  .sidebar-filter.th--active:after {
    opacity: 1 !important; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.footer {
  background: #F0F0F0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  left: 0;
  z-index: 11000; }
  .footer__wrapper {
    background: white; }
    .footer__wrapper .container-1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer__wrapper .container-1__block {
        padding: 25px 0;
        -webkit-flex-basis: 48%;
            -ms-flex-preferred-size: 48%;
                flex-basis: 48%; }
        .footer__wrapper .container-1__block h1 {
          font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
          font-size: 26px;
          font-weight: 300;
          line-height: 24px;
          color: #4D4E4F;
          margin-top: 0; }
        .footer__wrapper .container-1__block h2 {
          font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
          font-size: 22px;
          font-weight: 300;
          line-height: 20px;
          color: #4D4E4F;
          margin-top: 0; }
        .footer__wrapper .container-1__block p {
          font-family: "Helvetica", Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
          color: #585858;
          margin-top: 15px; }
  .footer .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 130px; }
    .footer .container-2__block {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; }
      .footer .container-2__block__links {
        display: inline-block; }
    .footer .container-2__block:nth-of-type(1) {
      padding-top: 12px;
      padding-bottom: 12px;
      display: block; }
      .footer .container-2__block:nth-of-type(1) p {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.8);
        text-transform: uppercase;
        margin-top: 10px; }
      .footer .container-2__block:nth-of-type(1) a {
        display: inline-block;
        margin-right: 15px; }
      .footer .container-2__block:nth-of-type(1) .footer__info {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        color: rgba(0, 144, 213, 0.8);
        text-decoration: none;
        margin-top: 8px; }
      .footer .container-2__block:nth-of-type(1) .footer__other {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        color: #FDAB36;
        text-decoration: none; }
        .footer .container-2__block:nth-of-type(1) .footer__other:before {
          content: url("/img/footer/icon-marker.png");
          position: relative;
          top: 5px;
          margin-right: 5px; }
      .footer .container-2__block:nth-of-type(1) .footer__feedback {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        color: #FDAB36;
        text-decoration: none; }
        .footer .container-2__block:nth-of-type(1) .footer__feedback:before {
          content: url("/img/footer/icon-video.png");
          position: relative;
          top: 1px;
          margin-right: 5px; }
    .footer .container-2__block:nth-of-type(2) > p {
      width: 270px;
      margin-right: 0;
      margin-left: auto; }
    .footer .container-2__block:nth-of-type(2) .footer__social {
      width: 190px;
      margin-right: 0;
      margin-left: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 2;
      position: relative;
      margin-top: 20px;
      margin-bottom: 10px; }
      .footer .container-2__block:nth-of-type(2) .footer__social a {
        width: 16px;
        height: 11px;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .container-2__block:nth-of-type(2) .footer__social a svg {
          fill: #36415C;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.facebook-icon {
            width: 14px; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.vk-icon {
            width: 17px; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.insta-icon {
            width: 14px; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.youtube-icon {
            width: 18px; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.linkedin-icon {
            width: 14px;
            left: 53%; }
          .footer .container-2__block:nth-of-type(2) .footer__social a svg.telegram-icon {
            width: 14px; }
      .footer .container-2__block:nth-of-type(2) .footer__social a:nth-of-type(1) img {
        height: 135%;
        left: 4px;
        top: -3px; }
    .footer .container-2__block:nth-of-type(2) p {
      font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      color: #999;
      text-align: right;
      margin-top: 10px; }
  @media only screen and (max-width: 1240px) {
    .footer .container-2 {
      width: 100%; }
      .footer .container-2__block:nth-of-type(1) {
        -webkit-flex-basis: 70%;
            -ms-flex-preferred-size: 70%;
                flex-basis: 70%; }
      .footer .container-2__block:nth-of-type(2) {
        -webkit-flex-basis: 30%;
            -ms-flex-preferred-size: 30%;
                flex-basis: 30%; } }
  @media only screen and (max-width: 667px) and (max-height: 375px) {
    .footer {
      height: 40vw !important; } }
  @media only screen and (max-width: 767px) {
    .footer {
      height: 80vw;
      z-index: 5000; }
      .footer .container-2 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
        -webkit-align-content: space-between;
            -ms-flex-line-pack: justify;
                align-content: space-between;
        padding: 0 0;
        text-align: center; }
        .footer .container-2__block {
          -webkit-flex-basis: 100% !important;
              -ms-flex-preferred-size: 100% !important;
                  flex-basis: 100% !important;
          height: 80%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-flow: column nowrap;
              -ms-flex-flow: column nowrap;
                  flex-flow: column nowrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          .footer .container-2__block p {
            text-align: center !important; }
        .footer .container-2__block:nth-of-type(1) {
          padding-top: 5vw; }
          .footer .container-2__block:nth-of-type(1) p {
            margin-top: 13vh; }
        .footer .container-2__block:nth-of-type(2) {
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%;
          height: 20%; }
          .footer .container-2__block:nth-of-type(2) p {
            margin-left: 0;
            margin-top: 0; }
      .footer__social {
        margin: 0 auto !important; }
      .footer__social {
        top: -340%; } }

.footer .footer__text {
  background: #FFFFFF;
  height: auto; }
  .footer .footer__text .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px; }
    @media only screen and (max-width: 1240px) {
      .footer .footer__text .container {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        width: 100vw !important; } }
    .footer .footer__text .container > div {
      -webkit-flex-basis: 47%;
          -ms-flex-preferred-size: 47%;
              flex-basis: 47%; }
      @media only screen and (max-width: 1240px) {
        .footer .footer__text .container > div {
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%; } }
      .footer .footer__text .container > div p {
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        color: #585858;
        margin-top: 20px; }
      .footer .footer__text .container > div h3 {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        color: #585858; }
      .footer .footer__text .container > div h4 {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        color: #585858; }
        @media only screen and (max-width: 1240px) {
          .footer .footer__text .container > div h4 {
            padding-top: 20px; } }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.header {
  width: 100%;
  height: 126px;
  background: #060e23;
  position: absolute;
  z-index: 100005;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 767px) {
    .header {
      position: fixed; } }
  .header .sub-menu--background {
    position: absolute;
    top: 126px;
    right: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    z-index: 100;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: url("/img/header/nav-dark.jpg") no-repeat;
    background-size: 100% auto;
    background-position: center 6%;
    opacity: 0;
    visibility: hidden; }
    .header .sub-menu--background.active {
      opacity: 1;
      visibility: visible; }
    .header .sub-menu--background:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(6, 14, 35, 0.6); }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px; }
    .header .container.desktop nav .nav__wrapper > ul > li:hover > * {
      opacity: 1;
      visibility: visible; }
    .header .container .logo-mobile {
      display: none; }
    .header .container nav {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      height: 100%;
      position: relative;
      z-index: 9999; }
      .header .container nav .nav-dropped ~ div, .header .container nav .nav-dropped ~ ul {
        opacity: 1 !important;
        visibility: visible !important; }
      .header .container nav .nav__wrapper {
        height: 100%;
        position: relative; }
        .header .container nav .nav__wrapper .ask-button input {
          width: 320px;
          min-width: 250px;
          max-width: 285px;
          height: 64px;
          background: transparent;
          border: 3px solid #00E2AC;
          font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 22px;
          color: #00E2AC;
          text-transform: uppercase;
          outline: none;
          display: none;
          -webkit-transition: all .3s ease;
          transition: all .3s ease;
          cursor: pointer; }
          .header .container nav .nav__wrapper .ask-button input:hover {
            background: #00E2AC;
            color: white; }
        .header .container nav .nav__wrapper > ul {
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .header .container nav .nav__wrapper > ul > li {
            height: 100%;
            list-style-type: none;
            margin: 0 14px;
            position: relative; }
            .header .container nav .nav__wrapper > ul > li:hover a {
              color: #00E2AC; }
            .header .container nav .nav__wrapper > ul > li > a {
              font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 700;
              line-height: 23px;
              color: #e6af2c;
              text-transform: uppercase;
              height: 100%;
              display: block;
              -webkit-transition: all .3s ease;
              transition: all .3s ease;
              text-decoration: none; }
              .header .container nav .nav__wrapper > ul > li > a:before {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: middle; }
            .header .container nav .nav__wrapper > ul > li .sub-menu {
              position: absolute;
              left: 50%;
              -webkit-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                      transform: translateX(-50%);
              margin: auto;
              width: auto;
              min-height: 60px;
              top: 126px;
              text-align: center;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              height: auto;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-flow: row nowrap;
                  -ms-flex-flow: row nowrap;
                      flex-flow: row nowrap;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding: 14px 0;
              opacity: 0;
              visibility: hidden;
              -webkit-transition: all .3s ease;
              transition: all .3s ease;
              white-space: nowrap;
              z-index: 1000; }
              .header .container nav .nav__wrapper > ul > li .sub-menu:before {
                content: "";
                display: block;
                position: absolute;
                border: 8px solid transparent;
                border-bottom-color: #00E2AC;
                top: -16px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                -webkit-transition: all .4s ease;
                transition: all .4s ease; }
              .header .container nav .nav__wrapper > ul > li .sub-menu li {
                list-style-type: none;
                display: inline-block;
                margin: 0 10px; }
                .header .container nav .nav__wrapper > ul > li .sub-menu li a {
                  font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 40px;
                  color: white;
                  display: block;
                  text-align: center;
                  text-transform: uppercase;
                  -webkit-transition: color .3s ease;
                  transition: color .3s ease;
                  text-decoration: none; }
                  .header .container nav .nav__wrapper > ul > li .sub-menu li a:hover {
                    color: #00E2AC; }
          .header .container nav .nav__wrapper > ul > li:nth-of-type(1) .sub-menu {
            -webkit-transform: translateX(-7.8%);
                -ms-transform: translateX(-7.8%);
                    transform: translateX(-7.8%);
            -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
            white-space: nowrap; }
            .header .container nav .nav__wrapper > ul > li:nth-of-type(1) .sub-menu:before {
              left: 8%; }
    .header .container > a:nth-of-type(1) {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .header .container .logo-mobile {
      position: relative; }
      .header .container .logo-mobile img {
        width: 100%; }
    .header .container .hamburger {
      width: 35px;
      height: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      display: none;
      cursor: pointer; }
      .header .container .hamburger div {
        width: 100%;
        height: 3px;
        background: white;
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
      .header .container .hamburger div:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .header .container .hamburger div:nth-of-type(3) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    .header .container nav + div {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      width: auto;
      float: right; }
      .header .container nav + div small {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #e6af2c;
        display: block;
        text-align: right; }
      .header .container nav + div a:not(.header__social__ask) {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 33px;
        font-weight: 300;
        line-height: 47px;
        color: white;
        text-decoration: none; }
      .header .container nav + div .header__social {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 2;
        position: relative; }
        .header .container nav + div .header__social .header__social__ask {
          text-decoration: none; }
          .header .container nav + div .header__social .header__social__ask i {
            font-style: normal;
            font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 300;
            line-height: 20px;
            color: #00E2AC;
            text-transform: uppercase; }
        .header .container nav + div .header__social a:not(.header__social__ask) {
          width: 16px;
          height: 11px;
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .header .container nav + div .header__social a:not(.header__social__ask) svg {
            fill: #2C3E5C;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%); }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.facebook-icon {
              width: 14px; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.vk-icon {
              width: 17px; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.insta-icon {
              width: 14px; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.youtube-icon {
              width: 18px; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.linkedin-icon {
              width: 14px;
              left: 53%; }
            .header .container nav + div .header__social a:not(.header__social__ask) svg.telegram-icon {
              width: 14px; }
        .header .container nav + div .header__social a:nth-of-type(1) img {
          height: 135%;
          left: 4px;
          top: -3px; }
    .header .container .call {
      display: none; }

.nav--light .sub-menu--background {
  background: none !important; }

@media only screen and (max-width: 1240px) {
  .logo-mobile {
    display: block !important; }
  .logo-desktop {
    display: none; }
  header.header {
    height: 70px; }
    header.header .sub-menu--background {
      display: none !important; }
    header.header .container {
      width: 100%; }
      header.header .container .logo-mobile img {
        width: auto;
        height: 50px; }
      header.header .container .hamburger {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3;
        z-index: 999;
        position: relative; }
      header.header .container nav + div {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        position: absolute;
        right: 80px; }
        header.header .container nav + div a {
          font-weight: 400;
          font-size: 22px; }
        header.header .container nav + div *:not([href^="tel"]) {
          display: none; }
      header.header .container nav {
        position: fixed !important;
        min-height: 100vh;
        width: 100% !important;
        bottom: 0;
        left: 0;
        background: #060E23;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        z-index: 99; }
        header.header .container nav .nav__wrapper {
          min-height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row wrap;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          header.header .container nav .nav__wrapper .ask-button {
            text-decoration: none; }
            header.header .container nav .nav__wrapper .ask-button input {
              display: block;
              -webkit-align-self: flex-end;
                  -ms-flex-item-align: end;
                      align-self: flex-end;
              position: relative;
              margin-bottom: 18px; }
          header.header .container nav .nav__wrapper > ul {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column nowrap;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            height: auto;
            -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                    flex-basis: 100%;
            margin-top: 25vh;
            margin-bottom: 86px; }
            header.header .container nav .nav__wrapper > ul > li {
              display: block;
              position: relative;
              z-index: 999;
              text-align: center;
              margin-top: 5px;
              height: 38px;
              overflow: hidden;
              -webkit-transition: all .3s ease;
              transition: all .3s ease; }
              header.header .container nav .nav__wrapper > ul > li > a {
                height: 38px;
                line-height: 40px !important; }
              header.header .container nav .nav__wrapper > ul > li .sub-menu {
                padding: 0 0;
                position: relative;
                overflow: hidden;
                min-width: 215px;
                background: rgba(6, 14, 35, 0.7);
                -webkit-transition: all .4s ease;
                transition: all .4s ease;
                z-index: 9999;
                top: 0;
                opacity: 1;
                visibility: visible;
                height: auto;
                display: block;
                padding: 0 0 !important;
                -webkit-transform: translateX(-50%) !important;
                    -ms-transform: translateX(-50%) !important;
                        transform: translateX(-50%) !important; }
                header.header .container nav .nav__wrapper > ul > li .sub-menu:before {
                  content: "";
                  display: none; }
                header.header .container nav .nav__wrapper > ul > li .sub-menu li {
                  list-style-type: none;
                  display: block; }
                  header.header .container nav .nav__wrapper > ul > li .sub-menu li a {
                    font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 40px;
                    color: white;
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    -webkit-transition: color .3s ease;
                    transition: color .3s ease;
                    text-decoration: none; }
                    header.header .container nav .nav__wrapper > ul > li .sub-menu li a:hover {
                      color: #00E2AC; }
              header.header .container nav .nav__wrapper > ul > li a {
                font-size: 20px;
                line-height: 38px; } }

@media only screen and (max-width: 767px) {
  .mobile--hidden {
    display: none !important; }
  #header.header .sub-menu--background {
    display: none; }
  #header.header .container > a {
    -webkit-box-ordinal-group: 4 !important;
    -webkit-order: 3 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important; }
  #header.header .container .hamburger {
    -webkit-box-ordinal-group: 2 !important;
    -webkit-order: 1 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important; }
  #header.header .container .logo-mobile img {
    width: auto;
    height: 8vw; }
  #header.header .container nav + div {
    display: none; }
  #header.header .container .call {
    display: block; } }

.action {
  width: 300px;
  height: 370px;
  position: relative; }
  .action h3 {
    font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 23px;
    color: #e6af2c;
    text-transform: uppercase; }
  .action .owl-carousel {
    width: 100%;
    overflow: hidden; }
    .action .owl-carousel .owl-item {
      padding-left: 2px; }
    .action .owl-carousel .item a {
      color: white;
      text-decoration: none; }
    .action .owl-carousel .item p {
      font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      color: white;
      text-transform: uppercase;
      padding: 30px 0px 30px 0;
      width: 95%; }
    .action .owl-carousel .owl-prev {
      background: url("/img/home/arrow-left.png") no-repeat center;
      background-size: 6px 10px;
      position: absolute;
      top: 0;
      right: 40px; }
      .action .owl-carousel .owl-prev:hover {
        background: url("/img/home/arrow-left.png") no-repeat center; }
    .action .owl-carousel .owl-next {
      background: url("/img/home/arrow-right.png") no-repeat center;
      background-size: 6px 10px;
      position: absolute;
      top: 0;
      right: 0px; }
      .action .owl-carousel .owl-next:hover {
        background: url("/img/home/arrow-right.png") no-repeat center; }
  .action__img {
    width: 100%;
    height: 220px;
    background: url("/img/tradein/action-bg.jpg") no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: 0; }
    .action__img + a {
      width: 250px;
      height: 60px;
      display: block;
      background: #c02d2b;
      font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 64px;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      position: absolute;
      left: 50%;
      bottom: -30px;
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0);
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .action__img + a:hover {
        background: red; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.loader {
  width: 100%;
  height: -webkit-calc(100% - 126px);
  height: calc(100% - 126px);
  position: fixed;
  top: 126px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity .3s ease, -webkit-transform .5s ease;
  transition: opacity .3s ease, -webkit-transform .5s ease;
  transition: opacity .3s ease, transform .5s ease;
  transition: opacity .3s ease, transform .5s ease, -webkit-transform .5s ease; }
  .loader--active {
    visibility: visible;
    opacity: 1; }
  @media only screen and (min-width: 1240px) {
    .loader-filter--active {
      -webkit-transform: translate3d(460px, 0, 0);
              transform: translate3d(460px, 0, 0); } }
  .loader .loader--small {
    display: none; }
  @media only screen and (max-width: 1240px) {
    .loader {
      height: -webkit-calc(100% - 70px);
      height: calc(100% - 70px);
      top: 70px; } }
  @media only screen and (max-width: 767px) {
    .loader .loader--big {
      display: none; }
    .loader .loader--small {
      display: block; } }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

.page-under {
  width: 100vw;
  height: 45vh;
  background: url("/img/home/content-under-bg.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 70px;
  left: 0;
  display: none; }
  @media only screen and (max-width: 767px) {
    .page-under {
      display: block; } }
  .page-under .action-under {
    width: 272px;
    height: 123px;
    background: rgba(6, 14, 35, 0.7);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: absolute;
    top: 170px;
    right: 45px;
    z-index: 0;
    padding-left: 20px;
    visibility: hidden; }
    @media only screen and (max-width: 667px) and (max-height: 375px) {
      .page-under .action-under {
        display: none !important; } }
    .page-under .action-under h3 {
      font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #e6af2c;
      text-transform: uppercase;
      z-index: 999;
      position: absolute;
      top: 22px; }
    .page-under .action-under .owl-carousel-under {
      height: 123px;
      padding-top: 30px; }
      .page-under .action-under .owl-carousel-under .owl-stage-outer {
        width: 99%;
        overflow: hidden; }
      .page-under .action-under .owl-carousel-under .owl-stage {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; }
      .page-under .action-under .owl-carousel-under .owl-nav {
        position: absolute;
        top: 22px;
        right: 20px;
        width: 60px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        z-index: 100; }
        .page-under .action-under .owl-carousel-under .owl-nav > div {
          background: red;
          margin: 0 0;
          width: 15px;
          height: 15px;
          z-index: 100; }
        .page-under .action-under .owl-carousel-under .owl-nav .owl-prev {
          background: url("/img/home/arrow-left.png") no-repeat center;
          background-size: 6px 10px; }
        .page-under .action-under .owl-carousel-under .owl-nav .owl-next {
          background: url("/img/home/arrow-right.png") no-repeat center;
          background-size: 6px 10px; }
      .page-under .action-under .owl-carousel-under .item {
        width: 100%;
        margin: 0 0;
        margin-top: 15px; }
      .page-under .action-under .owl-carousel-under .item a {
        color: white;
        text-decoration: none; }
      .page-under .action-under .owl-carousel-under .item p {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        color: white;
        text-transform: uppercase; }
  @media only screen and (max-width: 767px) {
    .page-under .action-under {
      top: 35px;
      right: auto;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 1;
      top: 100px !important;
      position: fixed;
      display: block;
      visibility: visible; } }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (min-width: 1240px) {
  .more-works-slide--active {
    overflow: hidden; } }

@media only screen and (max-width: 1240px) {
  .more-works-slide--active {
    overflow-x: hidden; } }

.fancybox-container--active {
  z-index: 10000000 !important; }
  .fancybox-container--active .fancybox-bg {
    background: #00051E;
    opacity: .8; }
    @media only screen and (max-width: 1240px) {
      .fancybox-container--active .fancybox-bg {
        opacity: 1; } }

.more-works {
  width: 50vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: transparent;
  overflow: visible; }
  @media only screen and (max-width: 767px) {
    .more-works {
      margin: 0 0; } }
  .more-works--active {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  @media only screen and (max-width: 1240px) {
    .more-works {
      width: 80vw;
      height: auto;
      margin-top: 0;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      top: 85px; } }
  @media only screen and (max-width: 767px) {
    .more-works {
      width: 100vw; } }
  .more-works h3 {
    font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: -60px; }
    @media only screen and (min-width: 1240px) {
      .more-works h3 {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .more-works h3 {
        left: 15px; } }
  .more-works__close {
    width: 50px;
    height: 50px;
    background: url(/img/common/icon-cross-white.png) no-repeat center;
    position: absolute;
    top: -13px;
    right: -65px;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .more-works__close {
        top: -62px;
        right: 6px; } }
    @media only screen and (max-width: 1240px) {
      .more-works__close {
        background: url(/img/common/icon-close.png) no-repeat center;
        top: -67px; } }
  .more-works__work {
    height: 30.3%;
    -webkit-flex-basis: 48.5%;
        -ms-flex-preferred-size: 48.5%;
            flex-basis: 48.5%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .more-works__work a {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      width: 100%;
      text-decoration: none; }
    .more-works__work:nth-child(odd) {
      margin-right: 3%; }
    @media only screen and (max-width: 1240px) {
      .more-works__work {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        height: 26vw;
        margin-right: 0 !important;
        margin-bottom: 10px; }
        .more-works__work:last-of-type {
          margin-bottom: 0; } }
    @media only screen and (max-width: 767px) {
      .more-works__work {
        height: 55vw; } }
    .more-works__work__image {
      height: 100%;
      -webkit-flex-basis: 49%;
          -ms-flex-preferred-size: 49%;
              flex-basis: 49%; }
    .more-works__work__content {
      height: 100%;
      -webkit-flex-basis: 51%;
          -ms-flex-preferred-size: 51%;
              flex-basis: 51%;
      background: white;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 4% 3% 0; }
      @media only screen and (max-width: 667px) and (max-height: 375px) {
        .more-works__work__content {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding-top: 0;
          padding-bottom: 0; } }
      .more-works__work__content h4 {
        font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 23px;
        color: black;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        margin: 20px 0 10px 0; }
      .more-works__work__content p {
        font-family: "Myriad Pro", Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        color: #7d7d7d;
        text-align: center;
        text-decoration: none; }

.header nav .menu--active {
  color: #00e2ac !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 62.5%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden; }
  @media only screen and (max-width: 1240px) {
    html {
      height: auto !important;
      overflow-y: auto;
      overflow-x: hidden; } }

body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden; }
  @media only screen and (max-width: 1240px) {
    body {
      height: auto !important;
      overflow-y: auto;
      overflow-x: hidden; } }

.container-fluid {
  min-height: -webkit-calc(100vh - 126px);
  min-height: calc(100vh - 126px);
  height: auto;
  margin-top: 126px;
  background: #060E23; }
  @media only screen and (max-width: 1240px) {
    .container-fluid {
      margin-top: 70px; } }
  .container-fluid .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 110px;
    padding-bottom: 50px;
    height: auto !important; }
    @media only screen and (max-width: 1240px) {
      .container-fluid .container {
        padding-left: 0;
        padding-right: 0; } }
    @media only screen and (max-width: 767px) {
      .container-fluid .container {
        padding-top: 30px; } }
    @media only screen and (max-width: 1240px) {
      .container-fluid .container #fragment-1, .container-fluid .container #fragment-2, .container-fluid .container #fragment-3 {
        width: 100vw; } }
    .container-fluid .container #fragment-1 .flats-sold {
      display: none; }
    .container-fluid .container #fragment-2 table tr, .container-fluid .container #fragment-3 table tr {
      height: 0;
      font-size: 0;
      line-height: 0; }
      .container-fluid .container #fragment-2 table tr td, .container-fluid .container #fragment-3 table tr td {
        height: 0;
        font-size: 0;
        line-height: 0;
        border-width: 1px; }
    .container-fluid .container #fragment-2 .estate__commercial__content__image a, .container-fluid .container #fragment-3 .estate__commercial__content__image a {
      display: none; }
    .container-fluid .container #fragment-1 .flats-sold, .container-fluid .container #fragment-2 .flats-sold, .container-fluid .container #fragment-3 .flats-sold {
      font: 600 24px/30px "PT Sans", "Arial", "sans-serif";
      color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      @media only screen and (max-width: 767px) {
        .container-fluid .container #fragment-1 .flats-sold, .container-fluid .container #fragment-2 .flats-sold, .container-fluid .container #fragment-3 .flats-sold {
          text-align: center;
          width: 90vw;
          top: 78%;
          font-size: 15px; } }
      @media only screen and (max-width: 667px) and (max-height: 375px) {
        .container-fluid .container #fragment-1 .flats-sold, .container-fluid .container #fragment-2 .flats-sold, .container-fluid .container #fragment-3 .flats-sold {
          top: 60%;
          font-size: 20px; } }
    .container-fluid .container .estate_commercial h2 {
      font: 400 60px/60px "PT Sans", "Arial", "sans-serif";
      text-transform: uppercase;
      color: white;
      margin-bottom: 30px;
      padding-left: 20px; }
      @media only screen and (max-width: 767px) {
        .container-fluid .container .estate_commercial h2 {
          font-size: 40px;
          line-height: 40px; } }
    .container-fluid .container .estate_commercial__content {
      background: white;
      width: 840px;
      height: 650px;
      padding: 0 35px;
      padding-bottom: 35px; }
      .container-fluid .container .estate_commercial__content__upper {
        min-height: 120px; }
        @media only screen and (max-width: 767px) {
          .container-fluid .container .estate_commercial__content__upper {
            text-align: center; } }
        @media only screen and (max-width: 667px) and (max-height: 375px) {
          .container-fluid .container .estate_commercial__content__upper {
            text-align: center; } }
        .container-fluid .container .estate_commercial__content__upper .commercial_head_last {
          float: right; }
        .container-fluid .container .estate_commercial__content__upper .commercial_head_first {
          float: left;
          position: relative; }
          @media only screen and (max-width: 667px) and (max-height: 375px) {
            .container-fluid .container .estate_commercial__content__upper .commercial_head_first {
              float: none;
              padding-top: 15px; } }
          .container-fluid .container .estate_commercial__content__upper .commercial_head_first:before {
            content: '';
            display: block;
            width: 105%;
            height: 6px;
            -webkit-border-radius: 7px;
                    border-radius: 7px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            background: #00CD6D; }
            @media only screen and (max-width: 767px) {
              .container-fluid .container .estate_commercial__content__upper .commercial_head_first:before {
                width: 80%; } }
        .container-fluid .container .estate_commercial__content__upper p {
          font: 600 24px/30px "PT Sans", "Arial", "sans-serif";
          color: #00CD6D;
          text-transform: uppercase;
          margin: 10px 0;
          z-index: 1; }
        .container-fluid .container .estate_commercial__content__upper a {
          text-decoration: none; }
          @media only screen and (max-width: 667px) and (max-height: 375px) {
            .container-fluid .container .estate_commercial__content__upper a p {
              float: none !important;
              text-align: center; } }
          .container-fluid .container .estate_commercial__content__upper a p:hover {
            text-decoration: underline; }
      .container-fluid .container .estate_commercial__content .estate__commercial__content__image {
        position: relative; }
        .container-fluid .container .estate_commercial__content .estate__commercial__content__image > img:first-of-type {
          width: 100%;
          height: auto; }
        .container-fluid .container .estate_commercial__content .estate__commercial__content__image > a img {
          width: 100px;
          height: 66px;
          position: absolute;
          bottom: 0;
          right: 50px; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container .estate_commercial__content .estate__commercial__content__image > a img {
              left: 50%;
              right: auto;
              bottom: -100px;
              -webkit-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                      transform: translateX(-50%); } }
      .container-fluid .container .estate_commercial__content .estate__commercial__content__table {
        margin-top: 30px; }
        .container-fluid .container .estate_commercial__content .estate__commercial__content__table h3 {
          font: 800 24px/30px "PT Sans", "Arial", "sans-serif";
          color: #00CD6D;
          text-transform: uppercase;
          padding-bottom: 10px; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container .estate_commercial__content .estate__commercial__content__table h3 {
              margin-top: 135px;
              text-align: center; } }
        @media only screen and (max-width: 767px) {
          .container-fluid .container .estate_commercial__content .estate__commercial__content__table h3 + div {
            overflow-x: scroll; } }
        .container-fluid .container .estate_commercial__content .estate__commercial__content__table table {
          width: 100%;
          border-spacing: 0px; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container .estate_commercial__content .estate__commercial__content__table table {
              overflow-x: scroll;
              width: 800px; } }
          .container-fluid .container .estate_commercial__content .estate__commercial__content__table table tr {
            height: 40px; }
            .container-fluid .container .estate_commercial__content .estate__commercial__content__table table tr td {
              padding-left: 10px; }
            .container-fluid .container .estate_commercial__content .estate__commercial__content__table table tr th {
              padding-left: 10px; }
          .container-fluid .container .estate_commercial__content .estate__commercial__content__table table thead {
            border-spacing: 0px; }
            .container-fluid .container .estate_commercial__content .estate__commercial__content__table table thead tr th {
              font: 600 16px/3 "PT Sans", "Arial", "sans-serif";
              color: #13D178;
              text-transform: uppercase;
              text-align: left; }
          .container-fluid .container .estate_commercial__content .estate__commercial__content__table table tbody tr:nth-child(odd) {
            border-top: 1px solid #E6AF2C;
            border-bottom: 1px solid #E6AF2C;
            background: #1E2331; }
            .container-fluid .container .estate_commercial__content .estate__commercial__content__table table tbody tr:nth-child(odd) td {
              color: white;
              border-top: 3px solid #E6AF2C;
              border-bottom: 3px solid #E6AF2C; }
          .container-fluid .container .estate_commercial__content .estate__commercial__content__table table tbody tr:nth-child(even) {
            background: white; }
          .container-fluid .container .estate_commercial__content .estate__commercial__content__table table tbody tr td {
            font: 400 16px/1 "PT Sans", "Arial", "sans-serif"; }
            .container-fluid .container .estate_commercial__content .estate__commercial__content__table table tbody tr td a {
              font: 600 16px/1 "PT Sans", "Arial", "sans-serif";
              color: #0099CC;
              text-decoration: none; }
              .container-fluid .container .estate_commercial__content .estate__commercial__content__table table tbody tr td a:hover {
                color: #497093;
                text-decoration: underline; }
    .container-fluid .container #fragment-1_1 {
      background: white;
      width: 840px;
      height: auto;
      padding: 0 35px;
      padding-bottom: 35px; }
      @media only screen and (max-width: 1240px) {
        .container-fluid .container #fragment-1_1 {
          width: 100vw; } }
      @media only screen and (max-width: 767px) {
        .container-fluid .container #fragment-1_1 {
          padding-left: 0px;
          padding-right: 0px; } }
      .container-fluid .container #fragment-1_1 .estate_commercial__content__upper {
        min-height: 70px;
        margin-bottom: 165px;
        position: relative; }
        @media only screen and (max-width: 767px) {
          .container-fluid .container #fragment-1_1 .estate_commercial__content__upper {
            margin-bottom: 30px; } }
        .container-fluid .container #fragment-1_1 .estate_commercial__content__upper > a img {
          width: 100px;
          height: 66px;
          position: absolute;
          top: 13px;
          right: -20px; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_1 .estate_commercial__content__upper > a img {
              right: 50%;
              bottom: -235px;
              top: auto;
              -webkit-transform: translateX(50%);
                  -ms-transform: translateX(50%);
                      transform: translateX(50%); } }
          @media only screen and (max-width: 667px) and (max-height: 375px) {
            .container-fluid .container #fragment-1_1 .estate_commercial__content__upper > a img {
              bottom: -357px; } }
        .container-fluid .container #fragment-1_1 .estate_commercial__content__upper .commercial_head_last {
          float: right; }
        .container-fluid .container #fragment-1_1 .estate_commercial__content__upper .commercial_head_first {
          float: left;
          position: relative;
          cursor: pointer; }
          .container-fluid .container #fragment-1_1 .estate_commercial__content__upper .commercial_head_first:before {
            content: '';
            display: block;
            width: 105%;
            height: 6px;
            -webkit-border-radius: 7px;
                    border-radius: 7px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            background: #00CD6D; }
        .container-fluid .container #fragment-1_1 .estate_commercial__content__upper p {
          font: 600 24px/30px "PT Sans", "Arial", "sans-serif";
          color: #00CD6D;
          text-transform: uppercase;
          margin: 10px 0;
          z-index: 1; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_1 .estate_commercial__content__upper p {
              font-size: 20px;
              padding-top: 10px;
              display: block;
              margin: 0 auto;
              text-align: center;
              float: none !important; }
              .container-fluid .container #fragment-1_1 .estate_commercial__content__upper p:before {
                width: 272px !important; } }
        .container-fluid .container #fragment-1_1 .estate_commercial__content__upper a {
          text-decoration: none; }
          .container-fluid .container #fragment-1_1 .estate_commercial__content__upper a p:hover {
            text-decoration: underline; }
      .container-fluid .container #fragment-1_1 .estate__commercial__content__image {
        position: relative; }
        .container-fluid .container #fragment-1_1 .estate__commercial__content__image:after {
          content: '';
          display: block;
          width: 51px;
          height: 64px;
          border: 4px solid red;
          position: absolute;
          top: 68px;
          left: 51%; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_1 .estate__commercial__content__image:after {
              -webkit-transform: scale(0.8);
                  -ms-transform: scale(0.8);
                      transform: scale(0.8);
              top: 11px;
              left: 50%; } }
          @media only screen and (max-width: 667px) and (max-height: 375px) {
            .container-fluid .container #fragment-1_1 .estate__commercial__content__image:after {
              -webkit-transform: scale(1.5) rotate(-64deg);
                  -ms-transform: scale(1.5) rotate(-64deg);
                      transform: scale(1.5) rotate(-64deg);
              top: 50px;
              left: 54%; } }
        .container-fluid .container #fragment-1_1 .estate__commercial__content__image > img:first-of-type {
          width: 100%;
          height: auto; }
        .container-fluid .container #fragment-1_1 .estate__commercial__content__image__tooltip {
          -webkit-border-radius: 8px;
                  border-radius: 8px;
          background-color: rgba(10, 10, 10, 0.21);
          width: 300px;
          padding-left: 10px;
          padding-bottom: 5px;
          position: absolute;
          top: -157px;
          left: 23%; }
          @media only screen and (max-width: 1240px) {
            .container-fluid .container #fragment-1_1 .estate__commercial__content__image__tooltip {
              left: 20%; } }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_1 .estate__commercial__content__image__tooltip {
              display: none; } }
          .container-fluid .container #fragment-1_1 .estate__commercial__content__image__tooltip:after {
            content: '';
            display: block;
            border-right: 31px solid rgba(10, 10, 10, 0.212);
            border-left: 3px solid transparent;
            border-bottom: 74px solid transparent;
            border-top: 0px solid rgba(10, 10, 10, 0.212);
            position: absolute;
            bottom: -74px;
            right: 20%; }
          .container-fluid .container #fragment-1_1 .estate__commercial__content__image__tooltip h3 {
            font-size: 20px;
            margin: 15px 0;
            text-transform: uppercase;
            font-family: "pfd", "Arial", "sans-serif", Helvetica, Arial, sans-serif;
            font-weight: 400;
            line-height: 30px;
            color: rgba(0, 0, 0, 0.7);
            margin-top: 5px; }
          .container-fluid .container #fragment-1_1 .estate__commercial__content__image__tooltip h3 + div p {
            font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.7); }
      .container-fluid .container #fragment-1_1 .estate__commercial__content__flat {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 15px; }
        @media only screen and (max-width: 767px) {
          .container-fluid .container #fragment-1_1 .estate__commercial__content__flat {
            margin-top: 115px; } }
        .container-fluid .container #fragment-1_1 .estate__commercial__content__flat > h3 {
          font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
          font-size: 27px;
          font-weight: 300;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.8);
          margin: 30px 0 70px 0;
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_1 .estate__commercial__content__flat > h3 {
              margin-bottom: 20px; } }
        .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first {
          -webkit-flex-basis: 50%;
              -ms-flex-preferred-size: 50%;
                  flex-basis: 50%; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first {
              -webkit-flex-basis: 100%;
                  -ms-flex-preferred-size: 100%;
                      flex-basis: 100%; } }
          .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first > h4:first-of-type {
            font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.8);
            text-transform: uppercase;
            margin: 0 0 20px 0; }
          .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first > h4:first-of-type + div p {
            font-family: "PT Sans", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.8); }
          .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first > ul {
            margin: 20px 0 30px 0; }
            .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first > ul li {
              list-style-type: none;
              font-family: "PT Sans", "Arial", "sans-serif", Helvetica, sans-serif;
              font-size: 13px;
              font-weight: 600;
              line-height: 21px;
              color: #13E7B6; }
          .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first h3:last-of-type {
            font-family: "PT Sans", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 26px;
            font-weight: 800;
            line-height: 30px;
            color: #00cd6d;
            text-transform: uppercase;
            margin-left: 20px; }
            @media only screen and (max-width: 767px) {
              .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first h3:last-of-type {
                margin-left: 0;
                text-align: center;
                line-height: 30px; } }
          .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first table {
            margin: 30px 0 0 20px;
            border-spacing: 0;
            border-collapse: collapse; }
            @media only screen and (max-width: 767px) {
              .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first table {
                margin-left: auto;
                margin-right: auto; } }
            .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first table td, .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first table th {
              border: 1px solid black; }
              .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first table td:not(td), .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first table th:not(td) {
                border-bottom: 3px solid black; }
            .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first table thead tr th {
              font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
              color: #00cd6d;
              padding: 15px 0 15px 0; }
            .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__first table tbody tr td {
              font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 18px;
              color: rgba(0, 0, 0, 0.8);
              text-align: center;
              padding: 10px 0 10px 0; }
        .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__second {
          -webkit-flex-basis: 50%;
              -ms-flex-preferred-size: 50%;
                  flex-basis: 50%; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__second {
              -webkit-flex-basis: 100%;
                  -ms-flex-preferred-size: 100%;
                      flex-basis: 100%;
              margin-top: 30px; } }
          .container-fluid .container #fragment-1_1 .estate__commercial__content__flat__second img {
            width: 100%;
            height: auto; }
    .container-fluid .container #fragment-1_2 {
      background: white;
      width: 840px;
      height: auto;
      padding: 0 35px;
      padding-bottom: 35px; }
      @media only screen and (max-width: 1240px) {
        .container-fluid .container #fragment-1_2 {
          width: 100vw; } }
      @media only screen and (max-width: 767px) {
        .container-fluid .container #fragment-1_2 {
          padding-left: 0px;
          padding-right: 0px; } }
      .container-fluid .container #fragment-1_2 .estate_commercial__content__upper {
        min-height: 70px;
        margin-bottom: 165px;
        position: relative; }
        @media only screen and (max-width: 767px) {
          .container-fluid .container #fragment-1_2 .estate_commercial__content__upper {
            margin-bottom: 30px; } }
        .container-fluid .container #fragment-1_2 .estate_commercial__content__upper > a img {
          width: 100px;
          height: 66px;
          position: absolute;
          top: 13px;
          right: -20px;
          z-index: 1; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_2 .estate_commercial__content__upper > a img {
              right: 50%;
              bottom: -245px;
              top: auto;
              -webkit-transform: translateX(50%);
                  -ms-transform: translateX(50%);
                      transform: translateX(50%); } }
          @media only screen and (max-width: 667px) and (max-height: 375px) {
            .container-fluid .container #fragment-1_2 .estate_commercial__content__upper > a img {
              bottom: -365px; } }
        .container-fluid .container #fragment-1_2 .estate_commercial__content__upper .commercial_head_last {
          float: right; }
        .container-fluid .container #fragment-1_2 .estate_commercial__content__upper .commercial_head_first {
          float: left;
          position: relative;
          cursor: pointer; }
          .container-fluid .container #fragment-1_2 .estate_commercial__content__upper .commercial_head_first:before {
            content: '';
            display: block;
            width: 105%;
            height: 6px;
            -webkit-border-radius: 7px;
                    border-radius: 7px;
            position: absolute;
            bottom: -5px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            background: #00CD6D; }
        .container-fluid .container #fragment-1_2 .estate_commercial__content__upper p {
          font: 600 24px/30px "PT Sans", "Arial", "sans-serif";
          color: #00CD6D;
          text-transform: uppercase;
          margin: 10px 0;
          z-index: 1; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_2 .estate_commercial__content__upper p {
              font-size: 20px;
              padding-top: 10px;
              display: block;
              margin: 0 auto;
              text-align: center;
              float: none !important; }
              .container-fluid .container #fragment-1_2 .estate_commercial__content__upper p:before {
                width: 272px !important; } }
        .container-fluid .container #fragment-1_2 .estate_commercial__content__upper a {
          text-decoration: none; }
          .container-fluid .container #fragment-1_2 .estate_commercial__content__upper a p:hover {
            text-decoration: underline; }
      .container-fluid .container #fragment-1_2 .estate__commercial__content__image {
        position: relative; }
        .container-fluid .container #fragment-1_2 .estate__commercial__content__image:after {
          content: '';
          display: block;
          width: 51px;
          height: 64px;
          border: 4px solid red;
          position: absolute;
          top: 60px;
          right: 4px; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_2 .estate__commercial__content__image:after {
              -webkit-transform: scale(0.4);
                  -ms-transform: scale(0.4);
                      transform: scale(0.4);
              top: 2vw;
              left: auto;
              right: -12px; } }
          @media only screen and (max-width: 667px) and (max-height: 375px) {
            .container-fluid .container #fragment-1_2 .estate__commercial__content__image:after {
              -webkit-transform: scale(0.7);
                  -ms-transform: scale(0.7);
                      transform: scale(0.7);
              top: 7vw;
              left: auto;
              right: -1px; } }
        .container-fluid .container #fragment-1_2 .estate__commercial__content__image > img:first-of-type {
          width: 100%;
          height: auto; }
        .container-fluid .container #fragment-1_2 .estate__commercial__content__image__tooltip {
          -webkit-border-radius: 8px;
                  border-radius: 8px;
          background-color: rgba(10, 10, 10, 0.21);
          width: 300px;
          padding-left: 10px;
          padding-bottom: 5px;
          position: absolute;
          top: -166px;
          right: -20px; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_2 .estate__commercial__content__image__tooltip {
              display: none; } }
          .container-fluid .container #fragment-1_2 .estate__commercial__content__image__tooltip:after {
            content: '';
            display: block;
            border-right: 31px solid rgba(10, 10, 10, 0.212);
            border-left: 3px solid transparent;
            border-bottom: 74px solid transparent;
            border-top: 0px solid rgba(10, 10, 10, 0.212);
            position: absolute;
            bottom: -74px;
            right: 20%; }
          .container-fluid .container #fragment-1_2 .estate__commercial__content__image__tooltip h3 {
            font-size: 20px;
            margin: 15px 0;
            text-transform: uppercase;
            font-family: "pfd", "Arial", "sans-serif", Helvetica, Arial, sans-serif;
            font-weight: 400;
            line-height: 30px;
            color: rgba(0, 0, 0, 0.7);
            margin-top: 5px; }
          .container-fluid .container #fragment-1_2 .estate__commercial__content__image__tooltip h3 + div p {
            font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.7); }
      .container-fluid .container #fragment-1_2 .estate__commercial__content__flat {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 15px; }
        @media only screen and (max-width: 767px) {
          .container-fluid .container #fragment-1_2 .estate__commercial__content__flat {
            margin-top: 115px; } }
        .container-fluid .container #fragment-1_2 .estate__commercial__content__flat > h3 {
          font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
          font-size: 27px;
          font-weight: 300;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.8);
          margin: 30px 0 70px 0;
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_2 .estate__commercial__content__flat > h3 {
              margin-bottom: 20px; } }
        .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first {
          -webkit-flex-basis: 50%;
              -ms-flex-preferred-size: 50%;
                  flex-basis: 50%; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first {
              -webkit-flex-basis: 100%;
                  -ms-flex-preferred-size: 100%;
                      flex-basis: 100%; } }
          .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first > h4:first-of-type {
            font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.8);
            text-transform: uppercase;
            margin: 0 0 20px 0; }
          .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first > h4:first-of-type + div p {
            font-family: "PT Sans", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.8); }
          .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first > ul {
            margin: 20px 0 30px 0; }
            .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first > ul li {
              list-style-type: none;
              font-family: "PT Sans", "Arial", "sans-serif", Helvetica, sans-serif;
              font-size: 13px;
              font-weight: 600;
              line-height: 21px;
              color: #13E7B6; }
          .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first h3:last-of-type {
            font-family: "PT Sans", "Arial", "sans-serif", Helvetica, sans-serif;
            font-size: 26px;
            font-weight: 800;
            line-height: 18px;
            color: #00cd6d;
            text-transform: uppercase;
            margin-left: 20px; }
            @media only screen and (max-width: 767px) {
              .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first h3:last-of-type {
                margin-left: 0;
                text-align: center;
                line-height: 30px; } }
          .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first table {
            margin: 30px 0 0 20px;
            border-spacing: 0;
            border-collapse: collapse; }
            @media only screen and (max-width: 767px) {
              .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first table {
                margin-left: auto;
                margin-right: auto; } }
            .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first table td, .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first table th {
              border: 1px solid black; }
              .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first table td:not(td), .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first table th:not(td) {
                border-bottom: 3px solid black; }
            .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first table thead tr th {
              font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
              color: #00cd6d;
              padding: 15px 0 15px 0; }
            .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__first table tbody tr td {
              font-family: "pfd", "Arial", "sans-serif", Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 18px;
              color: rgba(0, 0, 0, 0.8);
              text-align: center;
              padding: 10px 0 10px 0; }
        .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__second {
          -webkit-flex-basis: 50%;
              -ms-flex-preferred-size: 50%;
                  flex-basis: 50%; }
          @media only screen and (max-width: 767px) {
            .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__second {
              -webkit-flex-basis: 100%;
                  -ms-flex-preferred-size: 100%;
                      flex-basis: 100%;
              margin-top: 30px; } }
          .container-fluid .container #fragment-1_2 .estate__commercial__content__flat__second img {
            width: 100%;
            height: auto; }
