.action {
	width: 300px;
	height: 370px;
	position: relative;
	h3 {
		@include text (40px,$f,400,#e6af2c,23px);
		text-transform: uppercase;
	}
	.owl-carousel {
		width: 100%;
		overflow: hidden;
		.owl-item {
			padding-left: 2px;
		}
		.item {
			a {
				color: white;
				text-decoration: none;
			}
			p {
				@include text (16px,$f,400,white,23px);
				text-transform: uppercase;
				padding: 30px 0px 30px 0;
				width: 95%;
			}
		}
	 .owl-prev {
         background: url('/img/home/arrow-left.png') no-repeat center;
         background-size: 6px 10px;
         position: absolute;
		   top: 0;
		   right: 40px;
		   &:hover {
				background: url('/img/home/arrow-left.png') no-repeat center;
		   }
       }
       .owl-next {
         background: url('/img/home/arrow-right.png') no-repeat center;
         background-size: 6px 10px;
         position: absolute;
		   top: 0;
		   right: 0px;
		   &:hover {
		   		background: url('/img/home/arrow-right.png') no-repeat center;
		   }
       }
	}
	&__img {
		width: 100%;
		height: 220px;
		background: url('/img/tradein/action-bg.jpg') no-repeat center;
		background-size: cover;
		position: absolute;
		bottom: 0;
		& + a {
			width: 250px;
			height: 60px;
			display: block;
			background: #c02d2b;
			@include text (20px,$f,500,white,64px);
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			position: absolute;
			left: 50%;
			bottom: -30px;
			transform: translate3d(-50%, 0, 0);
			transition: all .3s ease;
			&:hover {
				background: red;
			}
		}
	}
}