@import "../utilities/index";

.footer {
  background: #F0F0F0;
  bottom: 0;
  width: 100%;
  transition: all .5s ease;
  left: 0;
  z-index: 11000;
  &__wrapper {
    background: white;
    .container-1 {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      &__block {
        padding: 25px 0;
        flex-basis: 48%;
        h1 {
          @include text (26px,$f,300,#4D4E4F,24px);
          margin-top: 0;
        }
        h2 {
          @include text (22px,$f,300,#4D4E4F,20px);
          margin-top: 0;
        }
        p {
          @include text (13px,'Helvetica',400,#585858,16px);
          margin-top: 15px;
        }
      }
    }
  }
  .container-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    &__block {
      flex-basis: 50%;
      &__links {
        display: inline-block;
      }
    }
    &__block:nth-of-type(1) {
      padding-top: 12px;
      padding-bottom: 12px;
      display: block;
      p {
        @include text (14px,$f,400,rgba(0, 0, 0, 0.8),18px);
        text-transform: uppercase;
        margin-top: 10px;
      }
      a {
        display: inline-block;
        margin-right: 15px;
      }
      .footer__info {
        @include text (14px,$f,700,rgba(0, 144, 213, 0.8),18px);
        text-decoration: none;
        margin-top: 8px;
      }
      .footer__other {
        @include text (14px,$f,300,#FDAB36,18px);
        text-decoration: none;
        &:before {
           content: url('/img/footer/icon-marker.png');
           position: relative;
           top: 5px;
           margin-right: 5px;
        }
      }
      .footer__feedback {
        @include text (14px,$f,300,#FDAB36,18px);
        text-decoration: none;
        &:before {
           content: url('/img/footer/icon-video.png');
           position: relative;
           top: 1px;
           margin-right: 5px;
        }
      }
    }
    &__block:nth-of-type(2) {
      & > p {
        width: 270px;
        margin-right: 0;
        margin-left: auto;
      }
        .footer__social {
          width: 190px;
          margin-right: 0;
          margin-left: auto;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          z-index: 2;
          position: relative;
          margin-top: 20px;
          margin-bottom: 10px;
          a {
            width: 16px;
            height: 11px;
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            svg {
              fill: #36415C;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              &.facebook-icon {
                width: 14px;
              }
              &.vk-icon {
                width: 17px;
              }
              &.insta-icon {
                width: 14px;
              }
              &.youtube-icon {
                width: 18px;
              }
              &.linkedin-icon {
                width: 14px;
                left: 53%;
              }
              &.telegram-icon {
                width: 14px;
              }
            }
          }
          a:nth-of-type(1) {
            img {
              height: 135%;
              left: 4px;
              top: -3px;
            }
          }
        }
      p {
        @include text (14px,$f,300,#999,17px);
        text-align: right;
        margin-top: 10px;
      }
    }
  }
  @include media (sm) {
    .container-2 {
      width: 100%;
      &__block:nth-of-type(1) {
        flex-basis: 70%;
      }
      &__block:nth-of-type(2) {
        flex-basis: 30%;
      }
    }
  }
  @include media (xsHor) {
    height: 40vw !important;
  }
  @include media (xs) {
    height: 80vw;
    z-index: 5000;
    // bottom: 0 !important;
    .container-2 {
        flex-flow: row wrap;
        justify-content: center;
        height: 100%;
        align-content: space-between;
        padding: 0 0;
        text-align: center;
        &__block {
            flex-basis: 100% !important;
            height: 80%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-between;
            p {
                text-align: center !important;
            }
        }
        &__block:nth-of-type(1) {
            padding-top: 5vw;
            p {
                margin-top: 13vh;
            }
        }
        &__block:nth-of-type(2) {
            flex-basis: 100%;
            height: 20%;
            p {
                margin-left: 0;
                margin-top: 0;
            }
        }
    }
    &__social {
        margin: 0 auto !important;
    }
    &__social {
        top: -340%;
    }
  }
}

.footer {
  .footer__text {
    background: #FFFFFF;
    height: auto;
    .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      height: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      @include media (sm) {
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100vw !important;
      }
      & > div {
        flex-basis: 47%;
        @include media (sm) {
          flex-basis: 100%;
        }
        p {
          @include text (13px,'Arial',400,#585858,15px);
          margin-top: 20px;
        }
        h3 {
          @include text (22px,$f,400,#585858,24px);
        }
        h4 {
          @include text (16px,$f,400,#585858,18px);
          @include media (sm) {
            padding-top: 20px;
          }
        }
      }
    }
  }
}