@import "../utilities/index";

.header {
  width: 100%;
  height: 126px;
  background: #060e23;
  position: absolute;
  z-index: 100005;
  top: 0;
  left: 0;
  @include media (xs) {
    position: fixed;
  }
  .sub-menu--background {
    position: absolute;
    top: 126px;
    right: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    z-index: 100;
    transition: all .3s ease;
    background: url('/img/header/nav-dark.jpg') no-repeat;
    background-size: 100% auto;
    background-position: center 6%;
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(6,14,35, .6);
    }
  }
  .container {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    &.desktop nav .nav__wrapper > ul > li:hover > * {
      opacity: 1;
      visibility: visible;
    }
    .logo-mobile {
      display: none;
    }
    nav {
      order: 2;
      height: 100%;
      position: relative;
      z-index: 9999;
      .nav-dropped ~ div, .nav-dropped ~ ul {
        opacity: 1 !important;
        visibility: visible !important;
      }
      .nav__wrapper {
        height: 100%;
        position: relative;
        .ask-button {
          input {
            width: 320px;
            min-width: 250px;
            max-width: 285px;
            height: 64px;
            background: transparent;
            border: 3px solid $g;
            @include text (20px,$f,700,$g,22px);
            text-transform: uppercase;
            outline: none;
            display: none;
            transition: all .3s ease;
            cursor: pointer;
            &:hover {
              background: #00E2AC;
              color: white;
            }
          }
        }
        & > ul {
          height: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          // & > li:not(:first-of-type) .sub-menu {
          //   opacity: 0;
          //   visibility: none;
          // }
          & > li {
            height: 100%;
            list-style-type: none;
            margin: 0 14px;
            position: relative;
            &:hover a {
              color: $g;
            }
            & > a {
              @include text (14px,$f,700,$or,23px);
              text-transform: uppercase;
              height: 100%;
              display: block;
              transition: all .3s ease;
              text-decoration: none;
              &:before {
                 content: "";
                 display: inline-block;
                 height: 100%;
                 vertical-align: middle;
              }
            }
            .sub-menu {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              margin: auto;
              width: auto;
              min-height: 60px;
              top: 126px;
              text-align: center;
              display: flex;
              height: auto;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
              padding: 14px 0;
              opacity: 0;
              visibility: hidden;
              transition: all .3s ease;
              white-space: nowrap;
              z-index: 1000;
              &:before {
                 content: "";
                 display: block;
                 position: absolute;
                 border: 8px solid transparent;
                 border-bottom-color: $g;
                 top: -16px;
                 left: 50%;
                 transform: translateX(-50%);
                 transition: all .4s ease;
               }
              li {
                list-style-type: none;
                display: inline-block;
                margin: 0 10px;
                a {
                  @include text (14px,$f,700,white,40px);
                  display: block;
                  text-align: center;
                  text-transform: uppercase;
                  transition: color .3s ease;
                  text-decoration: none;
                  &:hover {
                    color: $g;
                  }
                }
              }
            }
          }
          & > li:nth-of-type(1) {
            .sub-menu {
              transform: translateX(-7.8%);
              flex-wrap: nowrap;
              white-space: nowrap;
              &:before {
                 left: 8%;
               }
            }
          }
        }
      }
    }
    & > a:nth-of-type(1) {
      order: 1;
    }
    .logo-mobile {
      position: relative;
      img {
        width: 100%;
      }
    }
    .hamburger {
      width: 35px;
      height: 30px;
      flex-flow: column nowrap;
      justify-content: center;
      position: relative;
      order: 1;
      display: none;
      cursor: pointer;
      div {
        width: 100%;
        height: 3px;
        background: white;
        transition: all .3s ease;
      };
      div:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      div:nth-of-type(2) {

      }
      div:nth-of-type(3) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    nav + div {
      order: 3;
      width: auto;
      float: right;
      small {
        @include text (14px,$f,400,$or,16px);
        display: block;
        text-align: right;
      }
      a:not(.header__social__ask) {
        @include text (33px,$f,300,white,47px);
        text-decoration: none;
      }
      .header__social {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        position: relative;
        .header__social__ask {
          text-decoration: none;
          i {
            font-style: normal;
            @include text (12px,$f,300,$g,20px);
            text-transform: uppercase;
          }
        }
        a:not(.header__social__ask) {
          width: 16px;
          height: 11px;
          position: relative;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          svg {
            fill: #2C3E5C;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            &.facebook-icon {
              width: 14px;
            }
            &.vk-icon {
              width: 17px;
            }
            &.insta-icon {
              width: 14px;
            }
            &.youtube-icon {
              width: 18px;
            }
            &.linkedin-icon {
              width: 14px;
              left: 53%;
            }
            &.telegram-icon {
              width: 14px;
            }
          }
        }
        a:nth-of-type(1) {
          img {
            height: 135%;
            left: 4px;
            top: -3px;
          }
        }
      }
    }
    .call {
      display: none;
    }
  }
}

.nav--light .sub-menu--background {
  background: none !important;
}

.page--fullscreen .header {
  // position: fixed;
}

//TABLET //TABLET //TABLET //TABLET

@include media (sm) {

  .logo-mobile {
    display: block !important;
  }
  
  .logo-desktop {
    display: none;
  }
  
  header.header {
    height: 70px;
    .sub-menu--background {
      display: none !important;
    }
    .container {
      width: 100%;
      .logo-mobile {
        img {
          width: auto;
          height: 50px;
        }
      }
      .hamburger {
        display: flex;;
        order: 3;
        z-index: 999;
        position: relative;
      }
      nav + div {
        order: 2;
        position: absolute;
        right: 80px;
        a {
          font-weight: 400;
          font-size: 22px;
        }
        *:not([href^="tel"]) {
          display: none;
        }
      }
      nav {
        position: fixed !important;
        min-height: 100vh;
        width: 100% !important;
        bottom: 0;
        left: 0;
        background: #060E23;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        z-index: 99;
        .nav__wrapper {
          min-height: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          .ask-button {
            text-decoration: none;
            input {
              display: block;
              align-self: flex-end;
              position: relative;
              margin-bottom: 18px;
            }
          }
          & > ul {
            flex-flow: column nowrap;
            height: auto;
            flex-basis: 100%;
            margin-top: 25vh;
            margin-bottom: 86px;
            & > li {
              display: block;
              position: relative;
              z-index: 999;
              text-align: center;
              margin-top: 5px;
              height: 38px;
              overflow: hidden;
              transition: all .3s ease;
              & > a {
                height: 38px;
                line-height: 40px !important;
              }
              .sub-menu {
                padding: 0 0;
                position: relative;
                overflow: hidden;
                min-width: 215px;
                background: rgba(6,14,35, .7);
                transition: all .4s ease;
                z-index: 9999;
                top: 0;
                opacity: 1;
                visibility: visible;
                height: auto;
                display: block;
                padding: 0 0 !important;
                transform: translateX(-50%) !important;
                &:before {
                   content: "";
                   display: none;
                 }
                li {
                  list-style-type: none;
                  display: block;
                  a {
                    @include text (14px,$f,700,white,40px);
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    transition: color .3s ease;
                    text-decoration: none;
                    &:hover {
                      color: $g;
                    }
                  }
                }
              }
              a {
                font-size: 20px;
                line-height: 38px;
              }
            }
          }
        }
      }
    }
  }
}

//TABLET //TABLET //TABLET //TABLET



//MOBILE//MOBILE//MOBILE//MOBILE//MOBILE
@include media (xs) {
    .mobile--hidden {
        display: none !important;
    }
    #header.header {
        .sub-menu--background {
            display: none;
        }
        .container {
            &>a {
                order: 3 !important;
            }
            .hamburger {
                order: 1 !important;
            }
            .logo-mobile {
                img {
                    width: auto;
                    height: 8vw;
                }
            }
            nav+div {
                display: none;
            }
            .call {
                display: block;
            }
        }
    }
  }
//MOBILE//MOBILE//MOBILE//MOBILE//MOBILE