@import "../utilities/index";

.loader {
	width: 100%;
	height: calc(100% - 126px);
	position: fixed;
	top: 126px;
	background: rgba(0,0,0,.5);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	transition: opacity .3s ease, transform .5s ease;
	&--active {
		visibility: visible;
		opacity: 1;
	}
	&-filter--active {
		@include media (md) {
			transform: translate3d(460px, 0, 0);
		}
	}
	.loader--small {
		display: none;
	}
	@include media (sm) {
		height: calc(100% - 70px);
		top: 70px;
	}
	@include media (xs) {
		.loader--big {
			display: none;
		}
		.loader--small {
			display: block;
		}
	}
}