@import "../utilities/index";

.more-works-slide--active {
	@include media (md) {
		overflow: hidden;
	}
	@include media (sm) {
		overflow-x: hidden;
	}
}

.fancybox-container--active {
	z-index: 10000000 !important;
	.fancybox-bg {
		background: #00051E;
		opacity: .8;
		@include media (sm) {
			opacity: 1;
		}
	}
}

.more-works {
	width: 50vw;
	height: 70vh;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 0;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	background: transparent;
	overflow: visible;
	@include media (xs) {
		margin: 0 0;
	}
	&--active {
		display: flex !important;
	}
	@include media (sm) {
		width: 80vw;
		height: auto;
		margin-top: 0;
		transform: translate(-50%, 0);
    	top: 85px;
	}
	@include media (xs) {
		width: 100vw;
	}
	h3 {
		@include text (18px,$f,400,white,40px);
		text-transform: uppercase;
		position: absolute;
		top: -60px;
		@include media (md) {
			display: none;
		}
		@include media (xs) {
			left: 15px;
		}
	}
	&__close {
		width: 50px;
		height: 50px;
		background: url(/img/common/icon-cross-white.png) no-repeat center;
		position: absolute;
		top: -13px;
		right: -65px;
		cursor: pointer;
		@include media (xs) {
			top: -62px;
			right: 6px;
		}
		@include media (sm) {
			background: url(/img/common/icon-close.png) no-repeat center;
			top: -67px;
		}
	}
	&__work {
		height: 30.3%;
		flex-basis: 48.5%;
		display: inline-flex;
		flex-flow: row nowrap;
		a {
			display: inline-flex;
			flex-flow: row nowrap;
			width: 100%;
			text-decoration: none;
		}
		&:nth-child(odd) {
			margin-right: 3%;
		}
		@include media (sm) {
			flex-basis: 100%;
			height: 26vw;
			margin-right: 0 !important;
			margin-bottom: 10px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		@include media (xs) {
			height: 55vw;
		}
		&__image {
			height: 100%;
			flex-basis: 49%;
		}
		&__content {
			height: 100%;
			flex-basis: 51%;
			background: white;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			padding: 4% 3% 0;
			@include media (xsHor) {
				justify-content: center;
				padding-top: 0;
				padding-bottom: 0;
			}
			h4 {
				@include text (13px,$f,600,black,23px);
				text-transform: uppercase;
				text-align: center;
				text-decoration: none;
				margin: 20px 0 10px 0;
			}
			p {
				@include text (10px, 'Myriad Pro', 400, #7d7d7d, 14px);
				text-align: center;
				text-decoration: none;
			}
		}
	}
}