@import "../utilities/index";

.page-under {
	width: 100vw;
	height: 45vh;
	background: url('/img/home/content-under-bg.jpg') no-repeat center;
	background-size: cover;
	position: absolute;
	top: 70px;
	left: 0;
	display: none;
	@include media (xs) {
		display: block;
	}
  .action-under {
    width: 272px;
    height: 123px;
    background: rgba(6,14,35,.7);
    border-radius: 5px;
    position: absolute;
    top: 170px;
    right: 45px;
    z-index: 0;
    padding-left: 20px;
    visibility: hidden;
    @include media (xsHor) {
      display: none !important;
    }
    h3 {
      @include text (14px,$f,400,$or,20px);
      text-transform: uppercase;
      z-index: 999;
      position: absolute;
      top: 22px;
    }
    .owl-carousel-under {
      height: 123px;
      padding-top: 30px;
      .owl-stage-outer {
        width: 99%;
        overflow: hidden;
      }
      .owl-stage {
        display: flex;
        align-items: flex-end;
      }
      .owl-nav {
        position: absolute;
        top: 22px;
        right: 20px;
        width: 60px;
        display: flex;
        margin: 0 0;
        flex-flow: row nowrap;
        justify-content: space-between;
        z-index: 100;
        & > div {
          background: red;
          margin: 0 0;
          width: 15px;
          height: 15px;
          z-index: 100;
        }
        .owl-prev {
          background: url('/img/home/arrow-left.png') no-repeat center;
          background-size: 6px 10px;
        }
        .owl-next {
          background: url('/img/home/arrow-right.png') no-repeat center;
          background-size: 6px 10px;
        }
      }
      .item {
        width: 100%;
        margin: 0 0;
        margin-top: 15px;
      }
      .item {
        a {
          color: white;
          text-decoration: none;
        }
        p {
          @include text (16px,$f,400,white,23px);
          text-transform: uppercase;
        }
      }
    }
  }
	@include media (xs) {
		.action-under {
		  top: 35px;
		  right: auto;
		  left: 50%;
		  transform: translateX(-50%);
		  z-index: 1;
		  top: 100px !important;
		  position: fixed;
		  display: block;
		  visibility: visible;
		}
	}
}